[Desktop Entry]
Encoding=UTF-8
Name[am]=MX የ ማጠራቀሚያ አስተዳዳሪ
Name[ca]=MX Repo Manager
Name[cs]=MX Repo Manager
Name[da]=MX Softwarekildehåndtering
Name[de]=MX-Paketquellen-Verwaltung
Name[el]=MX Διαχειριστής αποθετηρίων
Name[es]=MX Gestionar Repos
Name[es_ES]=MX Gestor de Repositorios
Name[fi]=MX Pakettivarastojen hallinta
Name[fr]=MX Gestionnaire de dépôts - MX Repo Manager
Name[fr_BE]=MX Gestionnaire de dépôts - MX Repo Manager
Name[gl_ES]=MX Xestor de repositorios
Name[he_IL]=מנהל מאגרים של MX
Name[hi]=एमएक्स पैकेज-संग्रह प्रबंधक
Name[hu]=MX tárolókezelő
Name[it]=MX Repo Manager
Name[ja]=MX リボジトリマネージャー
Name[lt]=MX saugyklų tvarkytuvė
Name[nb]=MX Behandling av pakkearkiv
Name[nl]=MX Pakketbronbeheer
Name[nl_BE]=MX Pakketbronbeheer
Name[pl]=MX Menedżer repozytoriów
Name[pt]=MX-Gestor de Repositórios
Name[pt_BR]=Gerenciador de Repositórios do MX
Name[ru]=MX Менеджер репозиториев
Name[sk]=MX Repo Manager
Name[sl]=MX Upravljalnik repozitorijev
Name[sq]=Përgjegjës MX Deposh
Name[sv]=MX Repo Manager
Name[tr]=MX Depo Yöneticisi
Name[zh_CN]=MX 软件仓库管理器
Name[zh_TW]=MX 管理軟體倉庫
Name=MX Repo Manager
Comment[am]=Choose the default APT repo
Comment[ar]=Choose the default APT repo
Comment[bg]=Choose the default APT repo
Comment[ca]=Selecciona el dipòsit APT per omissió
Comment[cs]=Vyberte si z předvolených repozitářů APT
Comment[da]=Vælg standard APT-softwarekilden
Comment[de]=Auswahl der Standard-APT-Paketquellen
Comment[el]=Επιλογή αποθετηρίων APT
Comment[es]=Elija el repositorio APT predeterminado
Comment[es_ES]=Elija el repositorio APT predeterminado
Comment[et]=Choose the default APT repo
Comment[eu]=Choose the default APT repo
Comment[fa]=Choose the default APT repo
Comment[fi]=Choose the default APT repo
Comment[fr]=Choisir le dépôt APT par défaut
Comment[fr_BE]=Choisir le dépôt APT par défaut
Comment[he_IL]=בחירת מאגר APT כברירת המחדל
Comment[hi]=Choose the default APT repo
Comment[hr]=Choose the default APT repo
Comment[hu]=Az alapértelmezett APT tároló kiválasztása
Comment[id]=Choose the default APT repo
Comment[is]=Choose the default APT repo
Comment[it]=Scegli il repository di APT predefinito
Comment[ja]=通常使用する APT リポジトリを選択します
Comment[kk]=Choose the default APT repo
Comment[ko]=Choose the default APT repo
Comment[lt]=Pasirinkti numatytąją APT saugyklą
Comment[mk]=Choose the default APT repo
Comment[mr]=Choose the default APT repo
Comment[nb]=Velg standard apt-pakkearkiv
Comment[nl]=Kies de standaard APT pakketbron
Comment[nl_BE]=Kies de standaard APT repo
Comment[pl]=Wybierz domyślne repozytorium APT
Comment[pt]=Pré-definir o repositório APT a usar [mx-repo-manager]
Comment[pt_BR]=Escolha o repositório a ser utilizado como padrão com o MX Repo Manager
Comment[ro]=Choose the default APT repo
Comment[ru]=Выбор репозитория по умолчанию
Comment[sk]=Vyberte si z predvolených APT repozitárov
Comment[sl]=Izberi privzeti APT repozitorij
Comment[sq]=Zgjidhni depo parazgjedhje APT
Comment[sr]=Choose the default APT repo
Comment[sv]=Välj standard APT förråd
Comment[tr]=Varsayılan APT deposunu seç
Comment[uk]=Choose the default APT repo
Comment[zh_CN]=Choose the default APT repo
Comment[zh_TW]=選擇預設的 APT 倉庫
Comment=Choose the default APT repo
Exec=mxrm-launcher
Terminal=false
Type=Application
Icon=mx-repo-manager
Categories=GNOME;GTK;System;MX-Software;
NoDisplay=false

