[Desktop Entry]
Name[ca]=MX Viewer
Name[cs]=MX Viewer
Name[de]=MX Viewer
Name[el]=MX Viewer
Name[es]=MX Visor
Name[es_ES]=MX Visor
Name[fi]=MX Viewer
Name[fr]=MX Visionneuse - MX Viewer
Name[fr_BE]=MX Visionneuse - MW Viewer
Name[gl_ES]=Visor MX
Name[he_IL]=מציג MX
Name[hu]=MX nézegető
Name[ie]=Visor de MX
Name[it]=Visualizzatore MX
Name[ja]=MX ビューア
Name[nb]=MX Dokumentframviser
Name[nl_BE]=MX bekijker
Name[pl]=MX Przeglądarka
Name[pt]=Visualizador do MX
Name[pt_BR]=Visualizador de Documentos do MX
Name[ru]=MX Просмотрщик
Name[ru_RU]=MX Программа просмотра
Name[sl]=MX pregledovalnik
Name[sq]=Parës MX
Name[sv]=MX Viewer
Name[tr]=MX Görüntüleyici
Name=MX Viewer
Comment[ca]=Navegador i visualitzador de documents bàsic
Comment[cs]=Jednoduchy prohlížeč dokumentů a browser
Comment[de]=Einfacher Dokumentenbetrachter und Browser
Comment[el]=Βασικό πρόγραμμα προβολής εγγράφων και πρόγραμμα περιήγησης
Comment[es]=Visor básico de documentos y navegador
Comment[es_ES]=Visor y navegador básico de documentos
Comment[fi]=Asiakirjojen katseluun ja selaamiseen
Comment[fr]=Navigateur et visionneuse basique de documents
Comment[fr_BE]=Navigateur et visionneuse basique de documents
Comment[gl_ES]=Visor básico de documentos e navegador
Comment[he_IL]=מציג ודפדפן מסמכים בסיסי
Comment[hu]=Egyszerű dokumentum megjelenítő és böngésző
Comment[ie]=Basic visor e navigator de documentes
Comment[it]=Visualizzatore e navigatore base di documenti
Comment[ja]=基本的な文書ビューア・ブラウザです
Comment[nb]=Enkel dokumentframviser og utforsker
Comment[nl_BE]=Basis documentviewer en browser
Comment[pl]=Prosta przeglądarka dokumentów
Comment[pt]=Visualizador e navegador básico de documentos
Comment[pt_BR]=Visualizar e navegar em documentos com o MX Viewer
Comment[ru]=Простой просмотрщик документов и браузер
Comment[ru_RU]=Базовая программа просмотра документов и браузер
Comment[sl]=Osnovni pregledovalnik in brskalnik dokumentov
Comment[sq]=Parës dokumentesh dhe shfletues elementar
Comment[sv]=Enkel dokumentvisare och läsare
Comment[tr]=Temel belge görüntüleyici ve tarayıcı
Comment=Basic document viewer and browser
Exec=mx-viewer %U
Icon=mx-viewer
NoDisplay=false
Categories=Qt;Network;Utilities;
Type=Application

