[Desktop Entry]
Name[ca]=Instal·lador de controlador Nvidia
Name[es]=Instalador de controlador Nvidia
Name[es_ES]=Instalador de controladores Nvidia
Name[fr]=Nvidia - installation du pilote
Name[fr_BE]=Nvidia - installation du pilote
Name[hu]=Nvidia meghajtó telepítő
Name[it]=Installatore driver Nvidia
Name[ja]=Nvidia ドライバのインストーラ
Name[nb]=Installer Nvidia-driver
Name[pt]=Instalador de controladores Nvidia
Name[pt_BR]=Instalador de Controladores da NVidia
Name[ru]=Установщик драйвера Nvidia
Name[sl]=Namestitev Nvidia gonilnika
Name[sq]=Instalues përudhësish Nvidia
Name[sv]=Nvidia drivrutin-installerare
Name=Nvidia driver installer
Comment[ca]=Instal·la el controlador propietari de Nvidia del repositori
Comment[es]=Instalar controlador propietario de nvidia desde el repositorio
Comment[es_ES]=Instalar el driver propietario de nvidia desde el repo
Comment[fr]=Installer le pilote propriétaire Nvidia à partir du dépôt
Comment[fr_BE]=Installer le pilote propriétaire Nvidia à partir du dépôt
Comment[it]=Installa driver proprietari Nvidia dal repo
Comment[ja]=プロプリエタリな Nvidia ドライバをリポジトリからインストール
Comment[nb]=Installer ikke-fri Nvidia-driver fra pakkearkivet
Comment[pt]=Instalar o controlador proprietário Nvidia do repositório
Comment[pt_BR]=Instalar o controlador (driver) proprietário  da NVidia do repositório
Comment[ru]=Установить проприетарный драйвер Nvidia из репозитория
Comment[sl]=Iz repozitorija namesti avtorsko zaščitene Nvidia gonilnike
Comment[sq]=Instalo përudhës pronësor nvidia që nga depoja
Comment[sv]=Installera proprietär nvidia drivrutin från förråd
Comment=Install proprietary nvidia driver from repo
Icon=nvidia-ddm-mx
Type=Application
Terminal=true 
Exec=pkexec /usr/bin/ddm-mx -i nvidia
Categories=ConsoleOnly;System;MX-Setup;
