[Desktop Entry]
Name[ca]=Instal·lador de controlador Nvidia
Name[cs]=Nainstalovat ovladače Nvidia
Name[de]=Nvidia-Treiber Installer
Name[el]=Εγκατάσταση προγράμματος οδήγησης κάρτας γραφικών Nvidia
Name[es]=Instalador de controlador Nvidia
Name[es_ES]=Instalador de controladores Nvidia
Name[fr]=Installation pilote Nvidia
Name[fr_BE]=Installation pilote Nvidia
Name[he_IL]=מתקין מנהל התקן של Nvidia
Name[hu]=Nvidia illesztőprogram telepítő
Name[it]=Installatore driver Nvidia
Name[ja]=Nvidia ドライバのインストーラ
Name[nb]=Installer Nvidia-driver
Name[nl]=Nvidia driver installeerder
Name[pt]=Instalador de controladores Nvidia
Name[pt_BR]=Instalador de Controladores da NVidia
Name[ru]=Установщик драйвера Nvidia
Name[sl]=Namestilnik Nvidia gonilnika
Name[sq]=Instalues përudhësish Nvidia
Name[sv]=Nvidia drivrutin-installerare
Name[tr]=Nvidia sürücü yükleme programı
Name=Nvidia driver installer
Comment[af]=Installeer eie nvidia-bestuurder vanaf repo
Comment[am]=የባለቤትነት nvidia ሾፌርን ከ repo ጫን
Comment[ar]=ﻮﺒﻳﺮﻟﺍ ﻦﻣ ﺹﺎﺨﻟﺍ nvidia ﻞﻴﻐﺸﺗ ﺞﻣﺎﻧﺮﺑ ﺖﻴﺒﺜﺘﺑ ﻢﻗ
Comment[be]=Ўсталяваць уласны драйвер nvidia з рэпазітара
Comment[bg]=Инсталирайте собствен драйвер за nvidia от репо
Comment[bn]=রেপো থেকে মালিকানাধীন এনভিডিয়া ড্রাইভার ইনস্টল করুন
Comment[bs]=Instalirajte vlasnički nvidia drajver iz repo-a
Comment[ca]=Instal·la el controlador propietari de Nvidia del repositori
Comment[ceb]=I-install ang proprietary nvidia driver gikan sa repo
Comment[co]=Installa u driver nvidia patentatu da u repo
Comment[cs]=Nainstalovat ovladače pro Nvidia z repozitáře
Comment[cy]=Gosod gyrrwr nvidia perchnogol o repo
Comment[da]=Installer proprietær nvidia-driver fra repo
Comment[de]=Proprietären nvidia-Treiber aus der Paketquelle installieren
Comment[el]=Εγκατάσταση ιδιόκτητου προγράμματος οδήγησης nvidia
Comment[eo]=Instalu proprietan Nvidia-ŝoforon de repo
Comment[es]=Instalar controlador propietario de nvidia desde el repositorio
Comment[es_ES]=Instalar el driver propietario de nvidia desde el repo
Comment[et]=Installige repost patenteeritud nvidia draiver
Comment[eu]=Instalatu jabedun nvidia kontrolatzaile errepo-tik
Comment[fa]=ﺪﯿﻨﮐ ﺐﺼﻧ repo ﺯﺍ ﺍﺭ nvidia ﯽﺻﺎﺼﺘﺧﺍ ﺭﻮﯾﺍﺭﺩ
Comment[fi]=Asenna oma nvidia-ohjain reposta
Comment[fil]=I-install ang proprietary nvidia driver mula sa repo
Comment[fr]=Installer le pilote propriétaire Nvidia à partir du dépôt
Comment[fr_BE]=Installer le pilote propriétaire Nvidia à partir du dépôt
Comment[fy]=Ynstallearje proprietêre nvidia-bestjoerder fan repo
Comment[ga]=Suiteáil tiománaí nvidia dílseánaigh ó repo
Comment[gd]=Cuir a-steach draibhear nvidia seilbh bho repo
Comment[gl]=Instale o controlador propietario de nvidia desde o repositorio
Comment[gu]=રેપોમાંથી માલિકીનું એનવીડિયા ડ્રાઇવર ઇન્સ્ટોલ કરો
Comment[ha]=Shigar da direban nvidia na mallaka daga repo
Comment[haw]=E hoʻouka i ka mea hoʻokele nvidia proprietary mai repo
Comment[he]=repo-מ nvidia לש יניינק רביירד ןקתה
Comment[he_IL]=התקנת מנהל התקן nvidia קנייני ממאגר
Comment[hi]=रेपो से मालिकाना एनवीडिया ड्राइवर स्थापित करें
Comment[hr]=Instalirajte vlasnički nvidia drajver iz repo-a
Comment[ht]=Enstale chofè nvidia propriétaires nan repo
Comment[hu]=Zárt Nvidia illesztőprogram telepítése a tárolóból
Comment[hy]=Տեղադրեք սեփական nvidia վարորդը ռեպո-ից
Comment[id]=Instal driver nvidia berpemilik dari repo
Comment[is]=Settu upp sér nvidia bílstjóri frá repo
Comment[it]=Installa driver proprietari Nvidia dal repo
Comment[ja]=プロプリエタリな Nvidia ドライバをリポジトリからインストール
Comment[jv]=Instal driver nvidia proprietary saka repo
Comment[ka]=დააინსტალირეთ საკუთრების nvidia დრაივერი რეპოდან
Comment[kk]=Реподан меншікті nvidia драйверін орнатыңыз
Comment[km]=ដំឡើងកម្មវិធីបញ្ជា nvidia ដែលមានកម្មសិទ្ធិពី repo
Comment[kn]=ರೆಪೊದಿಂದ ಸ್ವಾಮ್ಯದ ಎನ್ವಿಡಿಯಾ ಡ್ರೈವರ್ ಅನ್ನು ಸ್ಥಾಪಿಸಿ
Comment[ko]=repo에서 독점 nvidia 드라이버 설치
Comment[ku]=Ajokarê nvidia-ya xwedan ji repo saz bikin
Comment[ky]=Реподон проприетардык nvidia драйверин орнотуңуз
Comment[lb]=Installéiert propriétaire nvidia Treiber vu repo
Comment[lo]=ຕິດຕັ້ງໄດເວີ nvidia ທີ່ເປັນເຈົ້າຂອງຈາກ repo
Comment[lt]=Įdiegti iš saugyklos nuosavybinę nvidia tvarkyklę
Comment[lv]=Instalējiet patentēto nvidia draiveri no repo
Comment[mg]=Mametraka mpamily nvidia proprietary avy amin'ny repo
Comment[mi]=Tāutahia te taraiwa nvidia rangatira mai i te repo
Comment[mk]=Инсталирајте комерцијален драјвер за nvidia од репо
Comment[ml]=റിപ്പോയിൽ നിന്ന് പ്രൊപ്രൈറ്ററി എൻവിഡിയ ഡ്രൈവർ ഇൻസ്റ്റാൾ ചെയ്യുക
Comment[mn]=Репо дээрээс өмчийн nvidia драйверийг суулгана уу
Comment[mr]=रेपो वरून प्रोप्रायटरी एनव्हीडिया ड्रायव्हर स्थापित करा
Comment[ms]=Pasang pemacu nvidia proprietari dari repo
Comment[mt]=Installa sewwieq proprjetarju nvidia minn repo
Comment[my]=သီးသန့် nvidia driver ကို repo မှ install လုပ်ပါ။
Comment[nb]=Installer ikke-fri Nvidia-driver fra pakkearkivet
Comment[ne]=रिपोबाट स्वामित्व एनभिडिया ड्राइभर स्थापना गर्नुहोस्
Comment[nl]=Installeer nvidia eigendomsdriver van pakketbron
Comment[nl_BE]=Installeer nvidia eigendomsdriver van pakketbron
Comment[ny]=Ikani woyendetsa wa nvidia kuchokera ku repo
Comment[or]=ରେପୋରୁ ମାଲିକାନା nvidia ଡ୍ରାଇଭର ସଂସ୍ଥାପନ କରନ୍ତୁ |
Comment[pa]=ਰੈਪੋ ਤੋਂ ਮਲਕੀਅਤ ਐਨਵੀਡੀਆ ਡਰਾਈਵਰ ਸਥਾਪਤ ਕਰੋ
Comment[pl]=Zainstaluj zastrzeżony sterownik nvidia z repozytorium
Comment[ps]=ﺉړﮐ ﺐﺼﻧ ﺭﻮﯾﺍﺭډ Nvidia ﺖﯿﮑﻠﻣ ﺩ ﻪﺨڅ ﻮﭙﯾﺭ ﺩ
Comment[pt]=Instalar o controlador proprietário Nvidia do repositório
Comment[pt_BR]=Instalar o controlador (driver) proprietário  da NVidia do repositório
Comment[ro]=Instalați driverul proprietar nvidia din repo
Comment[ru]=Установить проприетарный драйвер Nvidia из репозитория
Comment[rue]=Настановити пропріетарный nvidia драйвер из репозіторія
Comment[rw]=Shyiramo umushoferi wa nvidia kuva repo
Comment[sd]=ﻮﻳﺮڪ ﻝﺎٽﺴﻧﺍ ﺭﻮﻴﺋﺍﺭڊ ﺎﻳڊﻳﻭ ﻦﻳﺍ ﻱﺭﺍﻭ ﺖﻴڪﻠﻣ ﻥﺎﮐ ﻮﭙﻳﺭ
Comment[si]=repo වෙතින් හිමිකාර nvidia ධාවකය ස්ථාපනය කරන්න
Comment[sk]=Inštalovať ovládače NVIDIA
Comment[sl]=Iz repozitorija namesti avtorsko zaščitene Nvidia gonilnike
Comment[sm]=Faʻapipiʻi le avetaʻavale nvidia mai le repo
Comment[sn]=Isa proprietary nvidia mutyairi kubva repo
Comment[so]=Ku rakib darawalka nvidia ee iska leh repo
Comment[sq]=Instalo përudhës pronësor nvidia që nga depoja
Comment[sr]=Инсталирајте власнички нвидиа драјвер из репо-а
Comment[st]=Kenya proprietary nvidia driver ho tloha repo
Comment[su]=Pasang supir nvidia proprietary tina repo
Comment[sv]=Installera proprietär nvidia drivrutin från förråd
Comment[sw]=Sakinisha dereva wa nvidia wa wamiliki kutoka repo
Comment[ta]=ரெப்போவில் இருந்து தனியுரிம என்விடியா இயக்கியை நிறுவவும்
Comment[te]=రెపో నుండి యాజమాన్య nvidia డ్రైవర్u200cను ఇన్u200cస్టాల్ చేయండి
Comment[tg]=Драйвери хусусии nvidia -ро аз репо насб кунед
Comment[th]=ติดตั้งไดรเวอร์ nvidia ที่เป็นกรรมสิทธิ์จาก repo
Comment[tk]=Repodan eýeçilik nvidia draýwerini guruň
Comment[tr]=Depodan tescilli nvidia sürücüsünü yükleyin
Comment[tt]=Реподан nvidia драйверын урнаштырыгыз
Comment[ug]=Repo ﻲﯩﺴﺧەﺷ ﻦﯨﺩ nvidia ﯔﯩﺘﯩﻧﺭﻮﺋ ﭺﯘﻘﺗﺎﻏﺯﻮﻗ
Comment[uk]=Встановити фірмовий драйвер nvidia з репозиторії
Comment[ur]=۔ﮟﯾﺮﮐ ﻝﺎﭩﺴﻧﺍ ﺭﻮﯿﺋﺍﺭﮈ Nvidia ﯽﺘﯿﮑﻠﻣ ﮯﺳ ﻮﭙﯾﺭ
Comment[uz]=Repo-dan xususiy nvidia drayverini o'rnating
Comment[vi]=Cài đặt trình điều khiển nvidia độc quyền từ repo
Comment[xh]=Faka umqhubi we-nvidia wobunikazi kwi-repo
Comment[yi]=אָפּער ןופֿ רעוויירד אַידיוונ ירעטאַיירפּאַרפּ יד ןרילאַטסני
Comment[yo]=Fi awakọ nvidia ti ara ẹni sori ẹrọ lati repo
Comment[zh_CN]=从 repo 安装专有的 nvidia 驱动程序
Comment[zh_TW]=從軟體倉庫安裝 nvidia 持有的驅動程式
Comment=Install proprietary nvidia driver from repo
Icon=nvidia-ddm-mx
Type=Application
Terminal=true 
Exec=pkexec /usr/bin/ddm-mx -i nvidia
Categories=ConsoleOnly;System;MX-Setup;
