[Desktop Entry]
Name[ca]=Instal·lador de controlador Nvidia
Name[cs]=Nainstalovat ovladače Nvidia
Name[de]=Nvidia-Treiberinstallation
Name[el]=Εγκατάσταση προγράμματος οδήγησης Nvidia
Name[es]=Instalador de controlador Nvidia
Name[es_ES]=Instalador de controladores Nvidia
Name[fi]=Nvidian ajurien asennus
Name[fr]=Installation pilote Nvidia
Name[fr_BE]=Installation pilote Nvidia
Name[gl_ES]=Instalar controlador Nvidia
Name[he_IL]=מתקין מנהל התקן של Nvidia
Name[hu]=Nvidia illesztőprogram telepítő
Name[it]=Installatore driver Nvidia
Name[ja]=Nvidia ドライバのインストーラ
Name[nb]=Installer Nvidia-driver
Name[nl]=Nvidia driver installeerder
Name[pl]=Instalator sterowników Nvidia
Name[pt]=Instalador de controladores Nvidia
Name[pt_BR]=Instalador de Controladores da NVidia
Name[ru]=Установщик драйвера Nvidia
Name[sl]=Namestilnik Nvidia gonilnika
Name[sq]=Instalues përudhësish Nvidia
Name[sv]=Nvidia drivrutin-installerare
Name[tr]=Nvidia sürücü yükleme programı
Name=Nvidia driver installer
Comment[am]=የባለቤትነት nvidia ሾፌርን ከ repo ጫን
Comment[ca]=Instal·la el controlador propietari de Nvidia del repositori
Comment[cs]=Nainstalovat ovladače pro Nvidia z repozitáře
Comment[da]=Installer proprietær nvidia-driver fra repo
Comment[de]=Proprietären nvidia-Treiber aus der Paketquelle installieren
Comment[el]=Εγκατάσταση ιδιόκτητου προγράμματος οδήγησης κάρτας γραφικών nvidia από αποθετήριο
Comment[es]=Instalar controlador propietario de nvidia desde el repositorio
Comment[es_ES]=Instalar el driver propietario de nvidia desde el repo
Comment[fi]=Asenna nvidian oma ajuri reposta
Comment[fr]=Installer le pilote propriétaire Nvidia à partir du dépôt
Comment[fr_BE]=Installer le pilote propriétaire Nvidia à partir du dépôt
Comment[gl_ES]=Instale o controlador propietario de nvidia desde o repositorio
Comment[he_IL]=התקנת מנהל התקן nvidia קנייני ממאגר
Comment[hi]=रेपो से मालिकाना एनवीडिया ड्राइवर स्थापित करें
Comment[hr]=Instalirajte vlasnički nvidia drajver iz repo-a
Comment[hu]=Zárt Nvidia illesztőprogram telepítése a tárolóból
Comment[is]=Settu upp sér nvidia bílstjóri frá repo
Comment[it]=Installa driver proprietari Nvidia dal repo
Comment[ja]=プロプリエタリな Nvidia ドライバをリポジトリからインストール
Comment[lt]=Įdiegti iš saugyklos nuosavybinę nvidia tvarkyklę
Comment[nb]=Installer ikke-fri Nvidia-driver fra pakkearkivet
Comment[nl]=Installeer nvidia eigendomsdriver van pakketbron
Comment[nl_BE]=Installeer nvidia eigendomsdriver van pakketbron
Comment[pl]=Zainstaluj zastrzeżony sterownik nvidia z repozytorium
Comment[pt]=Instalar o controlador proprietário Nvidia do repositório
Comment[pt_BR]=Instalar o controlador (driver) proprietário  da NVidia do repositório
Comment[ru]=Установить проприетарный драйвер Nvidia из репозитория
Comment[sk]=Inštalovať ovládače NVIDIA
Comment[sl]=Iz skladišča namesti avtorsko zaščitene Nvidia gonilnike
Comment[sq]=Instalo përudhës pronësor nvidia që nga depoja
Comment[sv]=Installera proprietär nvidia drivrutin från förråd
Comment[tr]=Depodan tescilli nvidia sürücüsünü yükleyin
Comment=Install proprietary nvidia driver from repo
Icon=nvidia-ddm-mx
Type=Application
Terminal=true 
Exec=pkexec /usr/bin/ddm-mx -i nvidia
Categories=ConsoleOnly;System;MX-Setup;
