[Desktop Entry]
Encoding=UTF-8
Name=Format USB
Name=Format USB
Name[am]=Format USB
Name[ar]=Format USB
Name[bg]=Format USB
Name[bn]=Format USB
Name[ca]=Formata USB
Name[cs]=Formát USB
Name[da]=Formatér USB
Name[de]=Format USB
Name[el]=Format USB
Name[es_ES]=Formatear USB
Name[es]=Formatear USB
Name[et]=Format USB
Name[eu]=Format USB
Name[fa]=Format USB
Name[fil_PH]=Format USB
Name[fi]=Alusta USB-tikku
Name[fr]=Formatage USB
Name[he_IL]=Format USB
Name[hi]=यूएसबी फॉर्मेट
Name[hr]=Format USB
Name[hu]=Format USB
Name[id]=Format USB
Name[is]=Format USB
Name[it]=Formatta USB
Name[ja]=USB フォーマット
Name[kk]=Format USB
Name[ko]=Format USB
Name[lt]=Formatuoti USB
Name[mk]=Format USB
Name[mr]=Format USB
Name[nb]=Formater USB
Name[nl]=Formatteer USB
Name[pl]=Format USB
Name[pt_BR]=Formatar USB
Name[pt]=Formatar USB
Name[ro]=Format USB
Name[ru]=Форматирование USB
Name[sk]=Format USB
Name[sl]=Formatiraj USB
Name[sq]=Format USB
Name[sr]=Format USB
Name[sv]=Formatera USB
Name[tr]=USB Biçimlendirme
Name[uk]=Format USB
Name[vi]=Format USB
Name[zh_CN]=格式化 USB
Name[zh_TW]=Format USB
Comment=Format USB devices
Comment[am]=Format USB devices
Comment[ar]=Format USB devices
Comment[bg]=Format USB devices
Comment[bn]=Format USB devices
Comment[ca]=Formata dispositius USB
Comment[cs]=Formátovat USB zařízení
Comment[da]=Formatér USB-enheder
Comment[de]=USB-Laufwerke formatieren
Comment[el]=Διαμορφώστε τις συσκευές USB
Comment[es_ES]=Formatea dispositivos USB
Comment[es]=Formatea dispositivos USB
Comment[et]=Format USB devices
Comment[eu]=Format USB devices
Comment[fa]=Format USB devices
Comment[fil_PH]=Format USB devices
Comment[fi]=Alusta USB-laitteita
Comment[fr]=Formatage de périphériques USB
Comment[he_IL]=Format USB devices
Comment[hi]=यूएसबी उपकरण फॉर्मेट करें
Comment[hr]=Format USB devices
Comment[hu]=Format USB devices
Comment[id]=Format USB devices
Comment[is]=Format USB devices
Comment[it]=Formattazione di dispositivi USB
Comment[ja]=USB デバイスのフォーマット
Comment[kk]=Format USB devices
Comment[ko]=Format USB devices
Comment[lt]=Formatuoti USB įrenginius
Comment[mk]=Format USB devices
Comment[mr]=Format USB devices
Comment[nb]=Formater USB-enheter
Comment[nl]=Formatteer USB apparaten
Comment[pl]=Formatowanie urządzeń USB
Comment[pt_BR]=Formatar Dispositivos USB
Comment[pt]=Formatar dispositivos USB [formatusb]
Comment[ro]=Format USB devices
Comment[ru]=Форматирование USB накопителей
Comment[sk]=Format USB devices
Comment[sl]=Formatiranje USB pogonov
Comment[sq]=Format USB devices
Comment[sr]=Format USB devices
Comment[sv]=Formatera USB-enheter
Comment[tr]=USB aygıtlarını biçimlendirin
Comment[uk]=Format USB devices
Comment[vi]=Format USB devices
Comment[zh_CN]=格式化 USB 设备
Comment[zh_TW]=Format USB devices
Exec=formatusb
Terminal=false
Type=Application
Icon=formatusb
Categories=System;MX-Utilities;X-antiX;
NoDisplay=false
