[Desktop Entry]
Encoding=UTF-8
Name[af]=Formateer USB
Name[be]=Фармат USB
Name[bn]=ইউএসবি ফরম্যাট করুন
Name[bs]=Formatirajte USB
Name[cs]=Formát USB
Name[cy]=Fformat USB
Name[da]=Formatér USB
Name[eo]=Formatu USB
Name[es]=Formatear USB
Name[es_ES]=Formatear USB
Name[fi]=Alusta USB-tikku
Name[fil]=I-format ang USB
Name[fr]=Formatage USB
Name[fr_BE]=Formatage USB - Format USB
Name[ga]=Formáid USB
Name[gd]=Cruth USB
Name[gl]=Formatear USB
Name[gu]=યુએસબી ફોર્મેટ કરો
Name[ha]=Tsarin USB
Name[haw]=Hōʻano USB
Name[he]=USB טמרופ
Name[hi]=यूएसबी फॉर्मेट
Name[ht]=Fòma USB
Name[hy]=Ֆորմատ USB
Name[ja]=USB フォーマット
Name[ka]=USB-ის ფორმატირება
Name[km]=ធ្វើទ្រង់ទ្រាយ USB
Name[kn]=USB ಫಾರ್ಮ್ಯಾಟ್ ಮಾಡಿ
Name[ku]=USB-ê format bikin
Name[ky]=Формат USB
Name[lo]=ຟໍແມັດ USB
Name[lt]=Formatuoti USB
Name[lv]=Formatējiet USB
Name[mi]=Whakahōputu USB
Name[ml]=യുഎസ്ബി ഫോർമാറ്റ് ചെയ്യുക
Name[mn]=USB форматлах
Name[my]=USB ကို format လုပ်ပါ။
Name[nb]=Formater USB
Name[ne]=USB ढाँचा
Name[nl]=Formatteer USB
Name[nl_BE]=Formatteer USB
Name[ny]=Sinthani USB
Name[or]=USB ଫର୍ମାଟ୍ କରନ୍ତୁ |
Name[pa]=USB ਫਾਰਮੈਟ ਕਰੋ
Name[ps]=ﻪڼﺑ USB ﺩ
Name[pt]=Formatar USB
Name[pt_BR]=Formatar USB
Name[ru]=Форматирование USB
Name[rw]=Fata USB
Name[sd]=USB ٽﻴﻣﺭﺎﻓ
Name[si]=USB ආකෘතිය
Name[sl]=Formatiraj USB
Name[sm]=Fa'atonu USB
Name[sn]=Fomati USB
Name[so]=U qaabeeya USB
Name[st]=Fomata USB
Name[sw]=Umbiza USB
Name[ta]=USB வடிவமைத்தல்
Name[te]=USBని ఫార్మాట్ చేయండి
Name[tg]=Формат USB
Name[th]=ฟอร์แมต USB
Name[tk]=USB formatlaň
Name[tr]=USB Biçimlendirme
Name[tt]=USB форматлау
Name[ug]=USB ﯓﻼ﻿ﺗﺎﻣﺭﻮﻓ ﻰﻧ
Name[ur]=USB ۔ﮟﯾﺮﮐ ﭧﯿﻣﺭﺎﻓ
Name[uz]=USB formati
Name[vi]=Định dạng USB
Name[xh]=Ukufomatha i-USB
Name[yi]=בסו טאַמראָפֿ
Name[yo]=Ṣe ọna kika USB
Name[zh_CN]=格式化 USB
Name=Format USB
Name[af]=Formateer USB
Name[be]=Фармат USB
Name[bn]=ইউএসবি ফরম্যাট করুন
Name[bs]=Formatirajte USB
Name[cs]=Formát USB
Name[cy]=Fformat USB
Name[da]=Formatér USB
Name[eo]=Formatu USB
Name[es]=Formatear USB
Name[es_ES]=Formatear USB
Name[fi]=Alusta USB-tikku
Name[fil]=I-format ang USB
Name[fr]=Formatage USB
Name[fr_BE]=Formatage USB - Format USB
Name[ga]=Formáid USB
Name[gd]=Cruth USB
Name[gl]=Formatear USB
Name[gu]=યુએસબી ફોર્મેટ કરો
Name[ha]=Tsarin USB
Name[haw]=Hōʻano USB
Name[he]=USB טמרופ
Name[hi]=यूएसबी फॉर्मेट
Name[ht]=Fòma USB
Name[hy]=Ֆորմատ USB
Name[ja]=USB フォーマット
Name[ka]=USB-ის ფორმატირება
Name[km]=ធ្វើទ្រង់ទ្រាយ USB
Name[kn]=USB ಫಾರ್ಮ್ಯಾಟ್ ಮಾಡಿ
Name[ku]=USB-ê format bikin
Name[ky]=Формат USB
Name[lo]=ຟໍແມັດ USB
Name[lt]=Formatuoti USB
Name[lv]=Formatējiet USB
Name[mi]=Whakahōputu USB
Name[ml]=യുഎസ്ബി ഫോർമാറ്റ് ചെയ്യുക
Name[mn]=USB форматлах
Name[my]=USB ကို format လုပ်ပါ။
Name[nb]=Formater USB
Name[ne]=USB ढाँचा
Name[nl]=Formatteer USB
Name[nl_BE]=Formatteer USB
Name[ny]=Sinthani USB
Name[or]=USB ଫର୍ମାଟ୍ କରନ୍ତୁ |
Name[pa]=USB ਫਾਰਮੈਟ ਕਰੋ
Name[ps]=ﻪڼﺑ USB ﺩ
Name[pt]=Formatar USB
Name[pt_BR]=Formatar USB
Name[ru]=Форматирование USB
Name[rw]=Fata USB
Name[sd]=USB ٽﻴﻣﺭﺎﻓ
Name[si]=USB ආකෘතිය
Name[sl]=Formatiraj USB
Name[sm]=Fa'atonu USB
Name[sn]=Fomati USB
Name[so]=U qaabeeya USB
Name[st]=Fomata USB
Name[sw]=Umbiza USB
Name[ta]=USB வடிவமைத்தல்
Name[te]=USBని ఫార్మాట్ చేయండి
Name[tg]=Формат USB
Name[th]=ฟอร์แมต USB
Name[tk]=USB formatlaň
Name[tr]=USB Biçimlendirme
Name[tt]=USB форматлау
Name[ug]=USB ﯓﻼ﻿ﺗﺎﻣﺭﻮﻓ ﻰﻧ
Name[ur]=USB ۔ﮟﯾﺮﮐ ﭧﯿﻣﺭﺎﻓ
Name[uz]=USB formati
Name[vi]=Định dạng USB
Name[xh]=Ukufomatha i-USB
Name[yi]=בסו טאַמראָפֿ
Name[yo]=Ṣe ọna kika USB
Name[zh_CN]=格式化 USB
Name=Format USB
Comment[af]=Formateer USB-toestelle
Comment[be]=Фарматаванне USB-прылад
Comment[bn]=USB ডিভাইস ফরম্যাট করুন
Comment[bs]=Formatirajte USB uređaje
Comment[ca]=Formata dispositius USB
Comment[ceb]=I-format ang mga USB device
Comment[co]=Formate i dispositi USB
Comment[cs]=Formátovat USB zařízení
Comment[cy]=Fformat dyfeisiau USB
Comment[da]=Formatér USB-enheder
Comment[de]=USB-Laufwerke formatieren
Comment[el]=Διαμορφώστε τις συσκευές USB
Comment[eo]=Formatu USB-aparatojn
Comment[es]=Formatea dispositivos USB
Comment[es_ES]=Formatea dispositivos USB
Comment[fi]=Alusta USB-laitteita
Comment[fil]=I-format ang mga USB device
Comment[fr]=Formatage de périphériques USB
Comment[fr_BE]=Formatage de périphériques USB
Comment[fy]=Formatearje USB-apparaten
Comment[ga]=Feistí USB formáid
Comment[gd]=Innealan USB cruth
Comment[gl]=Formatear dispositivos USB
Comment[gu]=યુએસબી ઉપકરણોને ફોર્મેટ કરો
Comment[ha]=Tsara na'urorin USB
Comment[haw]=Hōʻano i nā polokalamu USB
Comment[he]=USB ינקתה טמרפ
Comment[hi]=यूएसबी उपकरण फॉर्मेट करें
Comment[ht]=Fòma aparèy USB yo
Comment[hy]=Ձևաչափեք USB սարքերը
Comment[it]=Formattazione di dispositivi USB
Comment[ja]=USB デバイスのフォーマット
Comment[jv]=Format piranti USB
Comment[ka]=USB მოწყობილობების ფორმატირება
Comment[km]=ធ្វើទ្រង់ទ្រាយឧបករណ៍ USB
Comment[kn]=USB ಸಾಧನಗಳನ್ನು ಫಾರ್ಮ್ಯಾಟ್ ಮಾಡಿ
Comment[ku]=Amûrên USB-ê format bikin
Comment[ky]=USB түзмөктөрүн форматтоо
Comment[lb]=Format USB Apparater
Comment[lo]=ຟໍແມັດອຸປະກອນ USB
Comment[lt]=Formatuoti USB įrenginius
Comment[lv]=Formatējiet USB ierīces
Comment[mg]=Format fitaovana USB
Comment[mi]=Whakahōputu pūrere USB
Comment[ml]=USB ഉപകരണങ്ങൾ ഫോർമാറ്റ് ചെയ്യുക
Comment[mn]=USB төхөөрөмжүүдийг форматлах
Comment[ms]=Formatkan peranti USB
Comment[mt]=Apparat tal-USB format
Comment[my]=USB စက်များကို ဖော်မတ်လုပ်ပါ။
Comment[nb]=Formater USB-enheter
Comment[ne]=USB उपकरणहरू ढाँचा गर्नुहोस्
Comment[nl]=Formatteer USB apparaten
Comment[nl_BE]=Formatteer USB apparaten
Comment[ny]=Sinthani zida za USB
Comment[or]=USB ଉପକରଣଗୁଡ଼ିକୁ ଫର୍ମାଟ୍ କରନ୍ତୁ |
Comment[pa]=USB ਡਿਵਾਈਸਾਂ ਨੂੰ ਫਾਰਮੈਟ ਕਰੋ
Comment[pl]=Formatowanie urządzeń USB
Comment[ps]=ﻪڼﺑ ﻮﻠﯾﺎﺳﻭ USB ﺩ
Comment[pt]=Formatar dispositivos USB [formatusb]
Comment[pt_BR]=Formatar Dispositivos USB
Comment[ru]=Форматирование USB накопителей
Comment[rw]=Fata ibikoresho bya USB
Comment[sd]=ﺰﺴﻴﺋﺍﻭڊ USB ٽﻴﻣﺭﺎﻓ
Comment[si]=USB උපාංග ආකෘතිකරණය කරන්න
Comment[sl]=Formatiranje USB pogonov
Comment[sm]=Fausia masini USB
Comment[sn]=Fomati zvigadziriso zve USB
Comment[so]=U qaabeeya aaladaha USB
Comment[st]=Fometa lisebelisoa tsa USB
Comment[su]=Format alat USB
Comment[sv]=Formatera USB-enheter
Comment[sw]=Fomati vifaa vya USB
Comment[ta]=USB சாதனங்களை வடிவமைக்கவும்
Comment[te]=USB పరికరాలను ఫార్మాట్ చేయండి
Comment[tg]=Дастгоҳҳои USB-ро формат кунед
Comment[th]=ฟอร์แมตอุปกรณ์ USB
Comment[tk]=USB enjamlaryny formatlaň
Comment[tr]=USB aygıtlarını biçimlendirin
Comment[tt]=USB җайланмаларын форматлау
Comment[ug]=USB ﯓﻼ﻿ﺗﺎﻣﺭﻮﻓ ﻰﻨﯨﺮﯩﻠﯩﻧﯜﻜﺳﯜﺋ
Comment[ur]=USB ۔ﮟﯾﺮﮐ ﭧﯿﻣﺭﺎﻓ ﻮﮐ ﺕﻻ﻿ﺁ
Comment[uz]=USB qurilmalarini formatlash
Comment[vi]=Định dạng thiết bị USB
Comment[xh]=Ukufomatha izixhobo ze-USB
Comment[yi]=סעסיוועד בסו טאַמראָפֿ
Comment[yo]=Ṣe ọna kika awọn ẹrọ USB
Comment[zh_CN]=格式化 USB 设备
Comment=Format USB devices
Exec=formatusb
Terminal=false
Type=Application
Icon=formatusb
Categories=System;MX-Utilities;X-antiX;
NoDisplay=false
