Source: system-keyboard-qt
Section: admin
Priority: optional
Maintainer: dolphinoracle <dolphinoracle@gmail.com>
Build-Depends:  debhelper (>=10), qt6-base-dev, qt6-base-dev-tools, qt6-tools-dev, qt6-tools-dev-tools
Standards-Version: 3.9.5
Vcs-Git: git://github.com/mxlinux/system-keyboard-qt.git

Package: system-keyboard-qt
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, mx-viewer | antix-viewer| xdg-utils, flags-common
Description: System-keyboard-qt
 A Qt frontend for setxbmap and /etc/default/keyboard
