[Desktop Entry]
Encoding=UTF-8
Name[ca]=MX Locale
Name[de]=MX Sprachumgebung
Name[el]=MX Γλώσσα συστήματος
Name[es]=MX Locales
Name[es_ES]=MX Locales
Name[fi]=MX-kielialue
Name[fr]=Paramètres régionaux - MX Locale
Name[fr_BE]=Paramètres régionaux - MX Locale
Name[gl_ES]=MX Idioma
Name[hu]=MX területi beállítások
Name[it]=MX Locale
Name[ja]=MX ロケールマネージャ
Name[lt]=MX lokalė
Name[nb]=MX Lokaltilpassing
Name[nl]=MX Locale
Name[pt]=MX Língua do sistema
Name[pt_BR]=Configurações de Idioma do Sistema Operacional
Name[ru]=Локаль MX
Name[ru_RU]=MX Локаль
Name[sl]=MX lokalizacija
Name[sq]=Vendore MX
Name[sv]=MX Språk
Name[tr]=MX Yerelleştirme
Name=MX Locale
Comment[ca]=Defineix l'idioma i la localització de categories
Comment[de]=Kategorien für Sprache und Gebietsschemata festlegen
Comment[el]=Ορισμός γλώσσας και τοπικών ρυθμίσεων
Comment[es]=Programa para cambiar las categorías de idioma y configuración regional
Comment[es_ES]=Programa para cambiar las categorías de idioma y configuración regional
Comment[fi]=Aseta kieli ja maa-asetukset
Comment[fr]=Définir les langues et les catégories locales
Comment[fr_BE]=Définir les langues et les catégories locales
Comment[gl_ES]=Establecer categorías de idioma y configuración regional
Comment[hu]=Nyelvi és területi beállítások szerkesztése
Comment[it]=Imposta le categorie lingua e impostazioni locali
Comment[ja]=言語と地域に関する設定を管理します
Comment[lt]=Nustatyti kalbos ir lokalės kategorijas
Comment[nb]=Endre språk og lokalkategorier
Comment[pt]=Definir língua e categorias referentes ao local
Comment[pt_BR]=O ‘MX Locale’ permite definir o idioma e os padrões das categorias referentes ao local ou região, como por exemplo, horário, moeda, numérico, tamanho do papel, etc.
Comment[ru_RU]=Установите категории языка и локали.
Comment[sl]=Nastavitev jezika in krajevnih kategorij
Comment[sq]=Ujdisni gjuhë dhe kategori vendoreje
Comment[sv]=Ställ in språk och språkkategorier
Comment[tr]=Dil ve yerel ayarları kurar
Comment=Set language and locale categories
Exec=mx-locale
Terminal=false
Type=Application
Icon=preferences-desktop-locale
Categories=System;MX-Setup;X-antiX;
NoDisplay=false
