Source: bash-config
Section: admin
Priority: optional
Maintainer: dolphin oracle <dolphinoracle@gmail.com>
Build-Depends:  debhelper (>=10), qtbase5-dev, qttools5-dev-tools
Standards-Version: 3.9.5
Vcs-Git: git://github.com/mxlinux/mx-bashrc-config.git

Package: bash-config
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Bash Config
 Provides a gui for configuring bash aliases and prompt theming
