[Desktop Entry]
Name=Live-USB Kernel Updater
Name[am]=በ ቀጥታ-usb ከረኔል ማሻሻያ
Name[ca]=Live-USB Kernel Updater
Name[da]=Live-USB Kerneopdatering 
Name[de]=Live-USB BS-Kern updater
Name[el]=Αναβάθμιση Live-USB πυρήνα
Name[es]=Actualizar kernel en Live-USB
Name[fr]=Mise à jour du noyau live-usb
Name[is]=Uppfæra kjarna á Live-usb keyrsludisk
Name[it]=Aggiorna kernel su Live-usb
Name[ja]=ライブ USB カーネル更新
Name[nl]=Live-USB Kernel Updater
Name[pl]=Aktualizowanie kernela w Live-USB
Name[pt]=Actualizador do Núcleo de Inst. Ext. USB
Name[pt_BR]=Atualizar núcleo de USB-executável
Name[ru]=Обновление ядра Live-usb
Name[sv]=Live-USB Kernel Updater
Name[tr]=Çalışan-usb çekirdek güncelleyici
Comment=Update the kernel on a live-usb system
Comment[am]=በ ቀጥታ-usb ስርአት ውስጥ ከረኔል ማሻሻያ 
Comment[ca]=Actualitza el nucli (kernel) an un sistema USB autònom
Comment[da]=Opdater kernen på et live-usb-system 
Comment[de]=Den Betriebssystem-Kern ('Linux kernel') auf neuere Version bringen in einer live-USB Installation
Comment[el]=Αναβάθμισε τον πυρήνα στο live-usb σύστημα
Comment[es]=Actualizar el kernel en un sistema Live-USB
Comment[fr]=Mettre à jour le noyau d'un système live-usb
Comment[is]=Uppfærðu kjarnann á Live-usb keyrsludiski 
Comment[it]=Aggiornare il kernel su un sistema usb-live
Comment[ja]=ライブ USB システムのカーネルを更新します
Comment[nl]=Update de kernel op een live-usb systeem
Comment[pl]=Zaktualizuj jądro w systemie Live-USB
Comment[pt]=Actualiza o núcleo (kernel) de um sistema em instalação externa USB
Comment[pt_BR]=Permite atualizar o núcleo (kernel) de um sistema operacional
Comment[ru]=Обновить ядро в Live-usb системе
Comment[sv]=Uppdatera Linux-kärnan på ett live-usb system
Comment[tr]=bir çalışan-usb sistemi ile çekirdek güncelleme
Icon=live-usb-kernel-updater
Type=Application
Terminal=false
Exec=x-terminal-emulator -e sudo /usr/local/bin/live-kernel-updater --pause
Categories=X-antiX;MX-Live;
