[Desktop Entry]
Name=Live-USB Kernel Updater
Name[am]=በ ቀጥታ-usb ከረኔል ማሻሻያ
Name[bg]=Live-usb kernel updater
Name[ca]=Live-USB Kernel Updater
Name[da]=Live-USB Kerneopdatering 
Name[de]=Live-USB BS-Kern updater
Name[el]=Αναβάθμιση Live-USB πυρήνα
Name[es]=Actualizar kernel en Live-USB
Name[fil_PH]=pang-update ng Live-usb kernel
Name[fi]=Ytimen päivitin live-usb:lle
Name[fr]=Mise à jour du noyau live-usb
Name[gl_ES]=actualizar núcleo de USB-executable
Name[hi]=लाइव-यूएसबी कर्नल अपडेट साधन
Name[is]=Uppfæra kjarna á Live-usb keyrsludisk
Name[it]=Aggiorna kernel su Live-usb
Name[ja]=ライブ USB カーネル更新
Name[nb]=Opprett live-USB
Name[nl]=Live-USB Kernel Updater
Name[pl]=Aktualizowanie kernela w Live-USB
Name[pt]=Actualizar núcleo de USB-executável
Name[pt_BR]=Atualizador do Núcleo do USB Executável
Name[ru]=Обновление ядра Live-usb
Name[sl]=Posodabljanje jedra za živi-usb pogon
Name[sv]=Live-USB Kernel Updater
Name[tr]=Çalışan-usb çekirdek güncelleyici
Name[zh_CN]=USB 系统升级
Name[zh_TW]=Live-USB內核更新器
Comment=Update the kernel on a live-usb system
Comment[am]=በ ቀጥታ-usb ስርአት ውስጥ ከረኔል ማሻሻያ 
Comment[bg]=Обновява kernel-а на live-usb система
Comment[ca]=Actualitza el nucli (kernel) an un sistema USB autònom
Comment[da]=Opdater kernen på et live-usb-system 
Comment[de]=Den Betriebssystem-Kern ('Linux kernel') auf neuere Version bringen in einer live-USB Installation
Comment[el]=Αναβάθμισε τον πυρήνα στο live-usb σύστημα
Comment[es]=Actualizar el kernel en un sistema Live-USB
Comment[fil_PH]=I-update ang kernel sa sistemang live-usb
Comment[fi]=päivitä ydin live-usb järjestelmässä
Comment[fr]=Mettre à jour le noyau d'un système live-usb
Comment[gl_ES]=Permite actualizar o núcleo dun sistema operativo cando en execución a partir de USB-executable
Comment[hi]=लाइव-यूएसबी सिस्टम हेतु कर्नल अपडेट 
Comment[is]=Uppfærðu kjarnann á Live-usb keyrsludiski 
Comment[it]=Aggiornare il kernel su un sistema usb-live
Comment[ja]=ライブ USB システムのカーネルを更新します
Comment[nb]=Oppdater kjernen til et live-USB-system
Comment[nl]=Update de kernel op een live-usb systeem
Comment[pl]=Zaktualizuj jądro w systemie Live-USB
Comment[pt]=Permite actualizar o núcleo (kernel) de um sistema operativo (quando em execução a partir de USB-executável)[live-kernel-updater]
Comment[pt_BR]=Atualiza o núcleo/kernel do sistema operacional em execução a partir do USB Executável
Comment[ru]=Обновить ядро в Live-usb системе
Comment[sl]=Posodobi jedro sistema za živi-usb pogon
Comment[sv]=Uppdatera Linux-kärnan på ett live-usb system
Comment[tr]=bir çalışan-usb sistemi ile çekirdek güncelleme
Comment[zh_CN]=升级 USB 系统内核
Comment[zh_TW]=在現場版 USB系統上更新內核
Icon=live-usb-kernel-updater
Type=Application
Terminal=false
Exec=x-terminal-emulator -e sudo /usr/local/bin/live-kernel-updater --pause
Categories=X-antiX;MX-Live;
GenericName=Update the kernel on a live-usb system
GenericName[am]=በ ቀጥታ-usb ስርአት ውስጥ ከረኔል ማሻሻያ 
GenericName[bg]=Обновява kernel-а на live-usb система
GenericName[ca]=Actualitza el nucli (kernel) an un sistema USB autònom
GenericName[da]=Opdater kernen på et live-usb-system 
GenericName[de]=Den Betriebssystem-Kern ('Linux kernel') auf neuere Version bringen in einer live-USB Installation
GenericName[el]=Αναβάθμισε τον πυρήνα στο live-usb σύστημα
GenericName[es]=Actualizar el kernel en un sistema Live-USB
GenericName[fil_PH]=I-update ang kernel sa sistemang live-usb
GenericName[fi]=päivitä ydin live-usb järjestelmässä
GenericName[fr]=Mettre à jour le noyau d'un système live-usb
GenericName[gl_ES]=Permite actualizar o núcleo dun sistema operativo cando en execución a partir de USB-executable
GenericName[hi]=लाइव-यूएसबी सिस्टम हेतु कर्नल अपडेट 
GenericName[is]=Uppfærðu kjarnann á Live-usb keyrsludiski 
GenericName[it]=Aggiornare il kernel su un sistema usb-live
GenericName[ja]=ライブ USB システムのカーネルを更新します
GenericName[nb]=Oppdater kjernen til et live-USB-system
GenericName[nl]=Update de kernel op een live-usb systeem
GenericName[pl]=Zaktualizuj jądro w systemie Live-USB
GenericName[pt]=Permite actualizar o núcleo (kernel) de um sistema operativo (quando em execução a partir de USB-executável)[live-kernel-updater]
GenericName[pt_BR]=Atualiza o núcleo/kernel do sistema operacional em execução a partir do USB Executável
GenericName[ru]=Обновить ядро в Live-usb системе
GenericName[sl]=Posodobi jedro sistema za živi-usb pogon
GenericName[sv]=Uppdatera Linux-kärnan på ett live-usb system
GenericName[tr]=bir çalışan-usb sistemi ile çekirdek güncelleme
GenericName[zh_CN]=升级 USB 系统内核
GenericName[zh_TW]=在現場版 USB系統上更新內核
