[Desktop Entry]
Encoding=UTF-8
Type=Application
Name[ca]=Commutador Conky
Name[cs]=Conky Toggle
Name[de]=Conky Umschalter 
Name[es]=Des/Activar Conky
Name[es_ES]=Conky Toggle
Name[fr]=Conky marche/arrêt
Name[fr_BE]=Conky marche/arrêt
Name[he_IL]=מתג Conky
Name[hu]=Conky kapcsoló
Name[it]=Selettore Conky
Name[ja]=Conky トグル
Name[nb]=Conky-veksler
Name[nl]=Conky Wissel
Name[nl_BE]=Conky Toggle
Name[pl]=Przełącznik Conky
Name[pt]=Comutador do Conky
Name[pt_BR]=Ativar/Desativar o Conky
Name[ru]=Переключатель программы Conky
Name[sl]=Conky stikalo
Name[sv]=Conky Växla
Name[tr]=Conky'yi Değiştir
Name=Conky Toggle
Comment[ca]=Activa o no el Monitor de Sistema
Comment[cs]=Monitor systému na ploše zap/vyp
Comment[de]=Desktop Sytem Monitor an oder aus
Comment[es]=Activar o desactivar el monitor del sistema de escritorio
Comment[es_ES]=Activar o desactivar el monitor del sistema del Escritorio
Comment[fr]=Surveillance du système activée ou désactivée
Comment[fr_BE]=Surveillance du système activée ou désactivée
Comment[he_IL]=צג מערכת על שולחן העבודה פעיל או כבוי
Comment[hu]=Az asztali rendszerfigyelő ki- vagy bekapcsolása
Comment[it]=Monitor di sistema desktop acceso o spento
Comment[ja]=システムモニターの表示／非表示を切り替えます
Comment[nb]=Systemovervåkning av eller på
Comment[nl]=Desktop systeemmonitor aan of uit
Comment[nl_BE]=Desktopsysteemmonitor aan of uit
Comment[pl]=Włącz lub wyłącz monitor systemowy na pulpicie
Comment[pt]=Liga/Desliga o monitorizador de recursos do sistema
Comment[pt_BR]=Monitor do sistema da área de trabalho que pode ser ativado/ligado ou desativado/desligado
Comment[sl]=Izklop ali vklop namiznega nadzornika sistema
Comment[sv]=Systemövervakare för skrivbord på eller av
Comment[tr]=Masaüstü sistem monitörünü aç veya kapat
Comment=Desktop system monitor on or off
Icon=mx-conky
Categories=Utility;System;
Exec=conkytoggle.sh
Terminal=false
NoDisplay=False
