[Desktop Entry]
Encoding=UTF-8
Type=Application
Name[am]=ኮንኪ መቀያየሪያ
Name[ar]=ﻞﻳﺪﺒﺗ ﻲﻜﻧﻮﻛ
Name[bn]=কনকি টগল
Name[ca]=Commutador Conky
Name[cs]=Conky Toggle
Name[cy]=Toglo Conky
Name[de]=Conky Umschalter 
Name[el]=Conky εναλλαγής
Name[eo]=Conky Baskulo
Name[es]=Des/Activar Conky
Name[es_ES]=Conky Toggle
Name[et]=Conky lüliti
Name[fi]=Conky Tilanvaihtaja
Name[fr]=Conky marche/arrêt
Name[fr_BE]=Conky marche/arrêt
Name[ga]=Toghadh Conky
Name[gd]=Togail Conky
Name[gl_ES]=Alternar o Conky
Name[gu]=કોન્કી ટૉગલ
Name[he_IL]=מתג Conky
Name[hi]=कॉन्की टॉगल
Name[ht]=Conky baskile
Name[hu]=Conky kapcsoló
Name[id]=Beralih Conky
Name[it]=Selettore Conky
Name[ja]=Conky トグル
Name[km]=កុងគីបិទបើក
Name[kn]=ಕಾಂಕಿ ಟಾಗಲ್
Name[ko]=Conky 토글
Name[lo]=Conky ສະຫຼັບ
Name[mi]=Takahuri Conky
Name[ml]=കോങ്കി ടോഗിൾ
Name[mr]=कॉन्की टॉगल
Name[ms]=Togol Conky
Name[nb]=Conky-veksler
Name[ne]=Conky टगल
Name[nl]=Conky Wissel
Name[nl_BE]=Conky Toggle
Name[or]=କଙ୍କି ଟୋଗଲ୍ |
Name[pa]=ਕੋਨਕੀ ਟੌਗਲ
Name[pl]=Przełącznik Conky
Name[ps]=ﻞګټ ﯽﮑﻧﺎﮐ
Name[pt]=Comutador do Conky
Name[pt_BR]=Ativar ou Desativar o Conky
Name[ro]=Comutare Conky
Name[ru]=Переключатель программы Conky
Name[ru_RU]=Переключатель программы Conky
Name[rw]=Toggle
Name[sd]=ﻞﮔﻮٽ ﻲڪﻨڪ
Name[si]=කොන්කි ටොගල්
Name[sk]=Conky prepínač
Name[sl]=Conky stikalo
Name[so]=Toggle Conky
Name[sq]=Çelës Conky
Name[sr]=Цонки Тоггле
Name[su]=Conky Togel
Name[sv]=Conky Växla
Name[ta]=காங்கி டோகில்
Name[te]=కాంకీ టోగుల్
Name[tr]=Conky Açık/Kapalı
Name[tt]=Конки Тоггл
Name[uk]=Перемикач Conky
Name[ur]=ﻞﮔﻮﭨ ﯽﮑﻧﻮﮐ
Name[yi]=לאַגאַט יקנאָק
Name[zh_CN]=Conky 切换
Name[zh_TW]=Conky 切換
Name=Conky Toggle
Comment[ca]=Activa o no el Monitor de Sistema
Comment[cs]=Monitor systému na ploše zap/vyp
Comment[de]=Conky-Systemmonitor an- oder ausschalten
Comment[el]=Ενεργοποίηση ή απενεργοποίηση της παρακολούθησης επιτραπέζιου συστήματος
Comment[es]=Activar o desactivar el monitor del sistema de escritorio
Comment[es_ES]=Activar o desactivar el monitor del sistema del Escritorio
Comment[fi]=Valvontanäyttö päälle tai pois
Comment[fr]=Surveillance du système activée ou désactivée
Comment[fr_BE]=Surveillance du système activée ou désactivée
Comment[gl_ES]=Monitor do sistema de escritorio activado ou desactivado
Comment[he_IL]=צג מערכת על שולחן העבודה פעיל או כבוי
Comment[hu]=Az asztali rendszerfigyelő ki- vagy bekapcsolása
Comment[it]=Monitor di sistema desktop acceso o spento
Comment[ja]=システムモニターの表示／非表示を切り替えます
Comment[nb]=Systemovervåkning av eller på
Comment[nl]=Desktop systeemmonitor aan of uit
Comment[nl_BE]=Desktopsysteemmonitor aan of uit
Comment[pl]=Włącz lub wyłącz monitor systemowy na pulpicie
Comment[pt]=Liga/Desliga o monitorizador de recursos do sistema
Comment[pt_BR]=Comutar entre exibir ou ocultar o monitor do sistema Conky
Comment[ru]=Включить или отключить системный монитор рабочего стола
Comment[ru_RU]=Включить или отключить системный монитор рабочего стола
Comment[sl]=Izklop ali vklop namiznega nadzornika sistema
Comment[sv]=Systemövervakare för skrivbord på eller av
Comment[tr]=Masaüstü sistem monitörünü aç veya kapat
Comment=Desktop system monitor on or off
Icon=mx-conky
Categories=Utility;System;
Exec=conkytoggle.sh
Terminal=false
NoDisplay=False
