[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Conky Toggle
Comment=Desktop system monitor on/off
Icon=mx-conky
Categories=Utility;System;
Exec=conkytoggle.sh
Terminal=false
NoDisplay=False
