[Desktop Entry]
Categories=System;
Exec=mx-faq
GenericName[US]=FAQ
GenericName[ar]=الأسئلة والإجابات المتداولة
GenericName[ca]=PMF
GenericName[cs]=FAQ
GenericName[da]=OSS
GenericName[de]=FAQ
GenericName[el]=Συχνές ερωτήσεις
GenericName[es]=PP. FF. (Preguntas frecuentes)
GenericName[es_ES]=FAQ (Preguntas frecuentes)
GenericName[fi]=UKK
GenericName[fr]=FAQ
GenericName[fr_BE]=FAQ
GenericName[gl_ES]=Preguntas e Respostas
GenericName[he_IL]=שו״ת
GenericName[hi]=सामान्य प्रश्न
GenericName[hu]=GYIK
GenericName[it]=FAQ
GenericName[ja]=FAQ
GenericName[ka]=ხდკ
GenericName[ko]=FAQ
GenericName[lt]=DUK
GenericName[nb]=OSS
GenericName[nl]=VGV
GenericName[nl_BE]=FAQ
GenericName[pl]=Często zadawane pytania
GenericName[pt]=P&R
GenericName[pt_BR]=Perguntas Frequentes
GenericName[ru]=Часто задаваемые вопросы
GenericName[ru_RU]=ЧаВо
GenericName[sk]=FAQ
GenericName[sl]=Pogosta vprašanja
GenericName[sq]=PBR
GenericName[sv]=FAQ
GenericName[th]=คำถามที่พบบ่อย
GenericName[tr]=SSS
GenericName[uk]=ЧАП
GenericName[vi]=Những câu hỏi thường gặp
GenericName[zh_CN]=常见问题
GenericName[zh_TW]=FAQ
GenericName=FAQ
Icon=help-browser
MimeType=
Name[ar]=الأسئلة والإجابات المتداولة
Name[ca]=PMF
Name[cs]=FAQ
Name[da]=OSS
Name[de]=FAQ
Name[el]=Συχνές ερωτήσεις
Name[es]=PP. FF. (Preguntas frecuentes)
Name[es_ES]=FAQ (Preguntas frecuentes)
Name[fi]=UKK
Name[fr]=FAQ
Name[fr_BE]=FAQ
Name[gl_ES]=Preguntas e Respostas
Name[he_IL]=שו״ת
Name[hi]=सामान्य प्रश्न
Name[hu]=GYIK
Name[it]=FAQ
Name[ja]=FAQ
Name[ka]=ხდკ
Name[ko]=FAQ
Name[lt]=DUK
Name[nb]=OSS
Name[nl]=VGV
Name[nl_BE]=FAQ
Name[pl]=Często zadawane pytania
Name[pt]=P&R
Name[pt_BR]=Perguntas Frequentes
Name[ru]=Часто задаваемые вопросы
Name[ru_RU]=ЧаВо
Name[sk]=FAQ
Name[sl]=Pogosta vprašanja
Name[sq]=PBR
Name[sv]=FAQ
Name[th]=คำถามที่พบบ่อย
Name[tr]=SSS
Name[uk]=ЧАП
Name[vi]=Những câu hỏi thường gặp
Name[zh_CN]=常见问题
Name[zh_TW]=FAQ
Name=FAQ
Comment[ca]=Preguntes freqüents
Comment[cs]=\sČasto Kladené Otázky
Comment[de]=Häufig gestellte Fragen
Comment[el]=Συχνές ερωτήσεις
Comment[es]=Preguntas frecuentes
Comment[es_ES]=Preguntas frecuentes
Comment[fi]=Usein kysytyt kysymykset
Comment[fr]=Foire aux questions
Comment[fr_BE]=Foire aux questions
Comment[gl_ES]=Preguntas frecuentes
Comment[he_IL]=תשובות לשאלות נפוצות
Comment[hu]=Gyakran Ismételt Kérdések
Comment[it]=Domande frequenti
Comment[ja]=よくある質問とその答え
Comment[nb]=Ofte stilte spørsmål
Comment[nl]=Veel Gestelde Vragen
Comment[nl_BE]=Veel Gestelde Vragen
Comment[pl]=Często zadawane pytania
Comment[pt]=Questões frequentes
Comment[pt_BR]=Perguntas respondidas frequentemente - FAQ
Comment[ru]=Часто задаваемые вопросы
Comment[ru_RU]=Часто задаваемые вопросы
Comment[sl]=Pogosta vprašanja
Comment[sq]=Pyetje të Bëra Rëndom
Comment[sv]=Vanliga frågor
Comment[tr]=Sık Sorulan Sorular
Comment[zh_CN]=常见问题
Comment=Frequently Asked Questions
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
