[Desktop Entry]
Categories=System;
Exec=mx-faq
GenericName[en_US]=FAQ
GenericName=FAQ
Icon=help-browser.png
MimeType=
Name=FAQ
Name[am]=FAQ
Name[ar]=FAQ
Name[bg]=FAQ
Name[ca]=FAQ
Name[cs]=FAQ
Name[da]=FAQ
Name[de]=FAQ
Name[el]=FAQ
Name[es]=FAQ
Name[et]=FAQ
Name[eu]=FAQ
Name[fa]=FAQ
Name[fi]=FAQ
Name[fr]=FAQ
Name[he_IL]=FAQ
Name[hi]=FAQ
Name[hr]=FAQ
Name[hu]=FAQ
Name[id]=FAQ
Name[is]=FAQ
Name[it]=FAQ
Name[ja_JP]=FAQ
Name[ja]=FAQ
Name[kk]=FAQ
Name[ko]=FAQ
Name[lt]=FAQ
Name[mk]=FAQ
Name[nb]=FAQ
Name[nl]=FAQ
Name[pl]=FAQ
Name[pt_BR]=FAQ
Name[pt]=FAQ
Name[ro]=FAQ
Name[ru]=FAQ
Name[sk]=FAQ
Name[sl]=FAQ
Name[sq]=FAQ
Name[sr]=FAQ
Name[sv]=FAQ
Name[tr]=FAQ
Name[uk]=FAQ
Name[zh_CN]=FAQ
Name[zh_TW]=FAQ
Comment=Frequently Asked Questions
Comment[am]=Frequently Asked Questions
Comment[ar]=Frequently Asked Questions
Comment[bg]=Frequently Asked Questions
Comment[ca]=Frequently Asked Questions
Comment[cs]=Frequently Asked Questions
Comment[da]=Frequently Asked Questions
Comment[de]=Frequently Asked Questions
Comment[el]=Frequently Asked Questions
Comment[es]=Frequently Asked Questions
Comment[et]=Frequently Asked Questions
Comment[eu]=Frequently Asked Questions
Comment[fa]=Frequently Asked Questions
Comment[fi]=Frequently Asked Questions
Comment[fr]=Frequently Asked Questions
Comment[he_IL]=Frequently Asked Questions
Comment[hr]=Frequently Asked Questions
Comment[hu]=Frequently Asked Questions
Comment[id]=Frequently Asked Questions
Comment[is]=Frequently Asked Questions
Comment[it]=Frequently Asked Questions
Comment[ja_JP]=Frequently Asked Questions
Comment[ja]=Frequently Asked Questions
Comment[kk]=Frequently Asked Questions
Comment[ko]=Frequently Asked Questions
Comment[lt]=Frequently Asked Questions
Comment[mk]=Frequently Asked Questions
Comment[nb]=Frequently Asked Questions
Comment[nl]=Frequently Asked Questions
Comment[pl]=Frequently Asked Questions
Comment[pt_BR]=Frequently Asked Questions
Comment[pt]=Frequently Asked Questions
Comment[ro]=Frequently Asked Questions
Comment[ru]=Frequently Asked Questions
Comment[sk]=Frequently Asked Questions
Comment[sl]=Frequently Asked Questions
Comment[sq]=Frequently Asked Questions
Comment[sr]=Frequently Asked Questions
Comment[sv]=Frequently Asked Questions
Comment[tr]=Frequently Asked Questions
Comment[uk]=Frequently Asked Questions
Comment[zh_CN]=Frequently Asked Questions
Comment[zh_TW]=Frequently Asked Questions
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
