[Desktop Entry]
Categories=System;
Exec=mx-manual
GenericName[US]=MX User Manual
GenericName[ca]=Manual d'usuari MX
GenericName[cs]=Uživatelská příručka MX
GenericName[de]=MX-Benutzerhandbuch
GenericName[el]=Εγχειρίδιο χρήστη ΜΧ
GenericName[es]=MX Manual de usuario
GenericName[es_ES]=MX Manual del usuario
GenericName[fi]=MX käyttöopas
GenericName[fr]=MX Manuel d’utilisation
GenericName[fr_BE]=MX Manuel d’utilisation
GenericName[he_IL]=מדריך למשתמש ב־MX
GenericName[hu]=MX felhasználói kézikönyv
GenericName[it]=Manuale utenti MX
GenericName[ja]=MX ユーザーマニュアル
GenericName[nb]=MX Brukerhåndbok
GenericName[nl]=MX Gebruikershandleiding
GenericName[nl_BE]=MX Handleiding
GenericName[pl]=Podręcznik użytkownika MX
GenericName[pt]=Manual do utilizador do MX
GenericName[pt_BR]=Manual do Usuário do MX
GenericName[ru]=Руководство пользователя MX
GenericName[ru_RU]=Руководство пользователя MX
GenericName[sl]=MX priročnik za uporabo
GenericName[sq]=Doracak Përdoruesi MX
GenericName[sv]=MX Användarhandbok
GenericName[tr]=MX Kullanıcı Kılavuzu
GenericName[zh_CN]=MX 用户手册
GenericName=MX User Manual
Icon=help-browser
MimeType=
Name[ca]=Manual d'usuari MX
Name[cs]=Uživatelská příručka MX
Name[de]=MX-Benutzerhandbuch
Name[el]=Εγχειρίδιο χρήστη ΜΧ
Name[es]=MX Manual de usuario
Name[es_ES]=MX Manual del usuario
Name[fi]=MX käyttöopas
Name[fr]=MX Manuel d’utilisation
Name[fr_BE]=MX Manuel d’utilisation
Name[he_IL]=מדריך למשתמש ב־MX
Name[hu]=MX felhasználói kézikönyv
Name[it]=Manuale utenti MX
Name[ja]=MX ユーザーマニュアル
Name[nb]=MX Brukerhåndbok
Name[nl]=MX Gebruikershandleiding
Name[nl_BE]=MX Handleiding
Name[pl]=Podręcznik użytkownika MX
Name[pt]=Manual do utilizador do MX
Name[pt_BR]=Manual do Usuário do MX
Name[ru]=Руководство пользователя MX
Name[ru_RU]=Руководство пользователя MX
Name[sl]=MX priročnik za uporabo
Name[sq]=Doracak Përdoruesi MX
Name[sv]=MX Användarhandbok
Name[tr]=MX Kullanıcı Kılavuzu
Name[zh_CN]=MX 用户手册
Name=MX User Manual
Comment[ca]=Orientació i informació
Comment[cs]=Orientace a Informace
Comment[da]=Orientering og information
Comment[de]=Orientierungshilfe und Information
Comment[el]=Προσανατολισμός και πληροφόρηση
Comment[es]=Orientación e información
Comment[es_ES]=Orientación e información
Comment[fi]=Suunta ja tietoa
Comment[fr]=Guide et informations
Comment[fr_BE]=Guide et informations
Comment[he_IL]=הכוונה ומידע
Comment[hu]=Útmutató és információk
Comment[it]=Orientamento e informazione
Comment[ja]=MX Linux のヘルプや使い方などを表示します
Comment[nb]=Orientering og informasjon
Comment[nl]=Oriëntatie  en informatie
Comment[nl_BE]=Oriëntatie  en informatie
Comment[pl]=Zapoznaj się z system i jego możliwościami
Comment[pt]=Orientação e informação
Comment[pt_BR]=Informações e dicas sobre o MX Linux
Comment[ru]=Ориентирование и информация
Comment[ru_RU]=Ориентирование и информация
Comment[sl]=Orientacije in informacije
Comment[sq]=Orientim dhe informacion
Comment[sv]=Orientering och information
Comment[tr]=Yönlendirme ve Bilgi
Comment[zh_CN]=指导与信息
Comment=Orientation and information
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
