[Desktop Entry]
Categories=System;
Exec=mx-manual
GenericName[en_US]=MX User Manual
GenericName=MX User Manual
Icon=help-browser.png
MimeType=
Name=MX User Manual
Name[am]=MX User Manual
Name[ar]=مكس دليل المستخدم
Name[bg]=Ръководство за потребителя на MX
Name[ca]=Manual de l'usuari MX
Name[cs]=Uživatelská příručka MX
Name[da]=MX Brugermanual
Name[de]=MX Benutzerhandbuch
Name[el]=Εγχειρίδιο χρήστη MX
Name[es]=MX Manual de Usuario
Name[et]=MX kasutusjuhend
Name[eu]=MX erabiltzailearen eskuliburua
Name[fa]=MX کتابچه راهنمای کاربر
Name[fi]=MX Käyttöopas
Name[fr]=MX Manuel de l'utilisateur
Name[he_IL]=MX User Manual
Name[hi]=एमएक्स उपयोगकर्ता मैनुअल
Name[hr]=MX User Manual
Name[hu]=MX felhasználói kézikönyv
Name[id]=MX User Manual
Name[is]=MX notendahandbók
Name[it]=MX Manuale Utenti
Name[ja_JP]=MX User Manual
Name[ja]=MXユーザーマニュアル
Name[kk]=MX User Manual
Name[ko]=MX 사용자 설명서
Name[lt]=MX Vartotojo vadovas
Name[mk]=Прирачник за корисник MX
Name[mr]=MX User Manual
Name[nb]=MX Brukerhåndbok
Name[nl]=MX Gebruikershandleiding
Name[pl]=MX Podręcznik użytkownika
Name[pt_BR]=MX Manual de Usuário
Name[pt]=Manual de Utilização do MX
Name[ro]=MX Manual de utilizare
Name[ru]=Руководство пользователя MX
Name[sk]=MX užívateľská príručka
Name[sl]=MX Navodila za uporabo
Name[sq]=MX Manual përdorimi
Name[sr]=МX Упутство за употребу
Name[sv]=MX Användarhandbok
Name[tr]=MX Kullanım Kılavuzu
Name[uk]=Керівництво користувача MX
Name[zh_CN]=MX用户手册
Name[zh_TW]=MX用戶手冊
Comment=Orientation and information
Comment[am]=Orientation and information
Comment[ar]=Orientation and information
Comment[bg]=Orientation and information
Comment[ca]=Orientació i informació
Comment[cs]=Orientation and information
Comment[da]=Orientering og information
Comment[de]=Orientierung und Information
Comment[el]=Προσανατολισμός και πληροφόρηση
Comment[es]=Orientación e información
Comment[et]=Orientation and information
Comment[eu]=Orientation and information
Comment[fa]=Orientation and information
Comment[fi]=Suunta ja tietoa
Comment[fr]=Guide et informations
Comment[he_IL]=Orientation and information
Comment[hi]=Orientation and information
Comment[hr]=Orientation and information
Comment[hu]=Orientation and information
Comment[id]=Orientation and information
Comment[is]=Orientation and information
Comment[it]=Orientamento e informazione
Comment[ja_JP]=Orientation and information
Comment[ja]=Orientation and information
Comment[kk]=Orientation and information
Comment[ko]=Orientation and information
Comment[lt]=Orientation and information
Comment[mk]=Orientation and information
Comment[mr]=Orientation and information
Comment[nb]=Orientation and information
Comment[nl]=Oriëntatie  en informatie
Comment[pl]=Zapoznaj się z system i jego możliwościami
Comment[pt_BR]=Informações e dicas sobre o MX Linux.
Comment[pt]=Orientação e informação
Comment[ro]=Orientation and information
Comment[ru]=Orientation and information
Comment[sk]=Orientation and information
Comment[sl]=Usmerjanje in informacije
Comment[sq]=Orientation and information
Comment[sr]=Orientation and information
Comment[sv]=Orientering och information
Comment[tr]=Orientation and information
Comment[uk]=Orientation and information
Comment[zh_CN]=Orientation and information
Comment[zh_TW]=Orientation and information
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
