[Desktop Entry]
Categories=System;
Exec=mx-manual
GenericName[US]=Manual
GenericName[ar]=دليل
GenericName[ca]=Manual
GenericName[cs]=Příručka
GenericName[da]=Manuelt
GenericName[de]=Handbuch
GenericName[el]=Εγχειρίδιο
GenericName[es]=Manual
GenericName[es_ES]=Manual
GenericName[fi]=Käyttöohje
GenericName[fr]=Manuel
GenericName[fr_BE]=Manuel
GenericName[gl_ES]=Manual
GenericName[he_IL]=ידני
GenericName[hi]=सहायता गाइड
GenericName[hu]=Kézikönyv
GenericName[it]=Manuale
GenericName[ja]=マニュアル
GenericName[ka]=სახელმძღვანელო
GenericName[ko]=매뉴얼
GenericName[lt]=Vadovas
GenericName[nb]=Manuell
GenericName[nl]=Handleiding
GenericName[nl_BE]=Handleiding
GenericName[pl]=Ręcznie
GenericName[pt]=Manual
GenericName[pt_BR]=Manual
GenericName[ru]=Руководство
GenericName[ru_RU]=Руководство
GenericName[sk]=Ručne
GenericName[sl]=Priročnik
GenericName[sq]=Dorazi
GenericName[sv]=Manual
GenericName[th]=คู่มือ
GenericName[tr]=Kılavuz
GenericName[uk]=Посібник
GenericName[vi]=Hướng dẫn sử dụng
GenericName[zh_CN]=手册
GenericName[zh_TW]=手動
GenericName=Manual
Icon=help-browser
MimeType=
Name[ar]=دليل
Name[ca]=Manual
Name[cs]=Příručka
Name[da]=Manuelt
Name[de]=Handbuch
Name[el]=Εγχειρίδιο
Name[es]=Manual
Name[es_ES]=Manual
Name[fi]=Käyttöohje
Name[fr]=Manuel
Name[fr_BE]=Manuel
Name[gl_ES]=Manual
Name[he_IL]=ידני
Name[hi]=सहायता गाइड
Name[hu]=Kézikönyv
Name[it]=Manuale
Name[ja]=マニュアル
Name[ka]=სახელმძღვანელო
Name[ko]=매뉴얼
Name[lt]=Vadovas
Name[nb]=Manuell
Name[nl]=Handleiding
Name[nl_BE]=Handleiding
Name[pl]=Ręcznie
Name[pt]=Manual
Name[pt_BR]=Manual
Name[ru]=Руководство
Name[ru_RU]=Руководство
Name[sk]=Ručne
Name[sl]=Priročnik
Name[sq]=Dorazi
Name[sv]=Manual
Name[th]=คู่มือ
Name[tr]=Kılavuz
Name[uk]=Посібник
Name[vi]=Hướng dẫn sử dụng
Name[zh_CN]=手册
Name[zh_TW]=手動
Name=Manual
Comment[ca]=Orientació i informació
Comment[cs]=Orientace a Informace
Comment[da]=Orientering og information
Comment[de]=Orientierungshilfe und Information
Comment[el]=Προσανατολισμός και πληροφόρηση
Comment[es]=Orientación e información
Comment[es_ES]=Orientación e información
Comment[fi]=Suunta ja tietoa
Comment[fr]=Guide et informations
Comment[fr_BE]=Guide et informations
Comment[gl_ES]=Orientación e información
Comment[he_IL]=הכוונה ומידע
Comment[hu]=Útmutató és információk
Comment[it]=Orientamento e informazione
Comment[ja]=MX Linux のヘルプや使い方などを表示します
Comment[nb]=Orientering og informasjon
Comment[nl]=Oriëntatie  en informatie
Comment[nl_BE]=Oriëntatie  en informatie
Comment[pl]=Zapoznaj się z system i jego możliwościami
Comment[pt]=Orientação e informação
Comment[pt_BR]=Informações e dicas sobre o MX Linux
Comment[ru]=Ориентирование и информация
Comment[ru_RU]=Ориентирование и информация
Comment[sl]=Orientacije in informacije
Comment[sq]=Orientim dhe informacion
Comment[sv]=Orientering och information
Comment[tr]=Yönlendirme ve Bilgi
Comment[zh_CN]=指导与信息
Comment=Orientation and information
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
