[Desktop Entry]
Categories=System;
Exec=mx-manual
GenericName[en_US]=Manual
GenericName=Manual
Icon=help-browser.png
MimeType=
Name=Manual
Comment=Orientation and information
Comment[am]=Orientation and information
Comment[ar]=Orientation and information
Comment[bg]=Orientation and information
Comment[ca]=Orientació i informació
Comment[cs]=Orientation and information
Comment[da]=Orientering og information
Comment[de]=Orientierung und Information
Comment[el]=Προσανατολισμός και πληροφόρηση
Comment[es]=Orientación e información
Comment[et]=Orientation and information
Comment[eu]=Orientation and information
Comment[fa]=Orientation and information
Comment[fi]=Suunta ja tietoa
Comment[fr]=Guide et informations
Comment[he_IL]=Orientation and information
Comment[hi]=Orientation and information
Comment[hr]=Orientation and information
Comment[hu]=Orientation and information
Comment[id]=Orientation and information
Comment[is]=Orientation and information
Comment[it]=Orientamento e informazione
Comment[ja_JP]=Orientation and information
Comment[ja]=Orientation and information
Comment[kk]=Orientation and information
Comment[ko]=Orientation and information
Comment[lt]=Orientation and information
Comment[mk]=Orientation and information
Comment[nb]=Orientation and information
Comment[nl]=Oriëntatie  en informatie
Comment[pl]=Zapoznaj się z system i jego możliwościami
Comment[pt_BR]=Informações e dicas sobre o MX Linux.
Comment[pt]=Orientação e informação
Comment[ro]=Orientation and information
Comment[ru]=Orientation and information
Comment[sk]=Orientation and information
Comment[sl]=Orientation and information
Comment[sq]=Orientation and information
Comment[sr]=Orientation and information
Comment[sv]=Orientering och information
Comment[tr]=Orientation and information
Comment[uk]=Orientation and information
Comment[zh_CN]=Orientation and information
Comment[zh_TW]=Orientation and information
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
