[Desktop Entry]
Encoding=UTF-8
Name[ca]=MX Data i Hora
Name[cs]=MX Datum a čas
Name[da]=MX Dato og klokkeslæt
Name[de]=MX Datum & Zeit
Name[el]=Ημερομηνία και ώρα του MX
Name[es]=MX Fecha & Hora
Name[es_ES]=MX Fecha y Hora
Name[fi]=MX päivämäärä & kellonaika
Name[fr]=MX Date et Heure - MX Date & Time
Name[fr_BE]=MX Date et Heure - MX Date & Time
Name[gl_ES]=MX Data & Hora
Name[he_IL]=התאריך והשעה של MX
Name[hi]=एमएक्स दिनांक व समय
Name[hr]=MX datum & vrijeme
Name[hu]=MX dátum és idő
Name[it]=MX Data & Ora
Name[ja]=MX 日付と時刻の設定
Name[lt]=MX data ir laikas
Name[nb]=MX Dato og tid
Name[nl]=MX Datum & Tijd
Name[nl_BE]=MX Datum & Tijd
Name[pl]=MX Data i godzina
Name[pt]=MX Data & Hora
Name[pt_BR]=Configurações de Data e Hora do MX
Name[ru]=MX Дата и время
Name[sl]=MX Datum in ura
Name[sq]=Datë & Kohë MX
Name[sv]=MX Datum & Tid
Name[tr]=MX Tarih & Saat
Name=MX Date & Time
Comment[ca]=Paràmetres de data i hora
Comment[cs]=Nastavení datumu a času
Comment[de]=Datum & Uhrzeit Einstellungen
Comment[es]=Configuración de fecha y hora
Comment[es_ES]=Configuración de fecha y hora
Comment[fr]=Paramètres de la date et de l’heure
Comment[fr_BE]=Paramètres de la date et de l’heure
Comment[he_IL]=הגדרות תאריך ושעה
Comment[hu]=Dátum és idő beállítások
Comment[it]=Impostazioni Data & Ora
Comment[ja]=システムの日付と時刻の設定を行います
Comment[nb]=Oppsett av dato og tid
Comment[nl]=Datum & Tijd Instellingen
Comment[pt]=Definições de Data & Hora
Comment[pt_BR]=Configurações de data, hora, fuso horário e hora automática do servidor da internet com o MX Date & Time
Comment[ru]=Настройки даты и времени
Comment[sl]=Nastavitve datuma in časa
Comment[sq]=Rregullime Date & Kohe
Comment[sv]=Datum & Tid Inställningar
Comment[tr]=Tarih ve Saat Ayarları
Comment=Date & Time Settings
Exec=mx-datetime-launcher
Terminal=false
Type=Application
Icon=mx-datetime
Categories=GNOME;GTK;System;MX-Setup;
NoDisplay=false
