[Desktop Entry]
Encoding=UTF-8
Name=MX Date & Time
Name[am]=MX Date & Time
Name[ar]=MX Date & Time
Name[bg]=MX Date & Time
Name[ca]=MX Date & Time
Name[cs]=MX Datum a čas 
Name[da]=MX Dato og klokkeslæt
Name[de]=MX Datum & Zeit
Name[el]=MX Date & Time
Name[es]=MX Fecha & Hora
Name[et]=MX Date & Time
Name[eu]=MX Date & Time
Name[fa]=MX Date & Time
Name[fi]=MX Päivämäärä ja kellonaika
Name[fr]=MX Date et Heure
Name[he_IL]=MX Date & Time
Name[hi]=एमएक्स दिनांक व समय
Name[hr]=MX Date & Time
Name[hu]=MX Date & Time
Name[id]=MX Date & Time
Name[is]=MX Date & Time
Name[it]=MX Data & Ora
Name[ja]=MX デート＆タイム
Name[kk]=MX Date & Time
Name[ko]=MX Date & Time
Name[lt]=MX data ir laikas
Name[mk]=MX Date & Time
Name[mr]=MX Date & Time
Name[nb]=MX Dato og tid
Name[nl]=MX Datum & Tijd
Name[pl]=MX Data i godzina
Name[pt_BR]=Data & Hora do MX
Name[pt]=MX Data & Hora
Name[ro]=MX Date & Time
Name[ru]=MX Дата & Время
Name[sk]=MX Date & Time
Name[sl]=MX Datum in ura
Name[sq]=Datë & Kohë MX
Name[sr]=MX Date & Time
Name[sv]=MX Datum & Tid
Name[tr]=MX Tarih & Saat
Name[uk]=MX Date & Time
Name[zh_CN]=MX 日期 & 时间
Name[zh_TW]=MX Date & Time
Comment=Date & Time Settings
Comment[am]=Date & Time Settings
Comment[ar]=Date & Time Settings
Comment[bg]=Date & Time Settings
Comment[ca]=Ajustos de Data i Hora
Comment[cs]=Nastavení datumu a času
Comment[da]=Indstillinger for dato og klokkeslæt
Comment[de]= Datum- und Zeiteinstellung
Comment[el]=Ρυθμίσεις ώρας και ημερομηνίας
Comment[es]=Configuración de Fecha & Hora
Comment[et]=Date & Time Settings
Comment[eu]=Date & Time Settings
Comment[fa]=Date & Time Settings
Comment[fi]=Päivämäärän sekä ajan asetukset
Comment[fr]=Configuration de la date et de l'heure
Comment[he_IL]=Date & Time Settings
Comment[hi]=दिनांक व समय सेटिंग्स
Comment[hr]=Date & Time Settings
Comment[hu]=Date & Time Settings
Comment[id]=Date & Time Settings
Comment[is]=Date & Time Settings
Comment[it]=Impostazioni Data & Ora
Comment[ja]=日付と時刻の設定
Comment[kk]=Date & Time Settings
Comment[ko]=Date & Time Settings
Comment[lt]=Datos ir laiko nustatymai
Comment[mk]=Date & Time Settings
Comment[mr]=Date & Time Settings
Comment[nb]=Innstillinger for dato og tid
Comment[nl]=Datum & Tijd Instellingen
Comment[pl]=Ustawienia czasu
Comment[pt_BR]=Configurar Data & Hora
Comment[pt]=Configurar Data & Hora
Comment[ro]=Date & Time Settings
Comment[ru]=Настройки Даты и Времени
Comment[sk]=Date & Time Settings
Comment[sl]=Nastavitve ure in datuma
Comment[sq]=Rregullime Date & Kohe
Comment[sr]=Date & Time Settings
Comment[sv]=Datum & Tidsinställningar
Comment[tr]=Tarih ve Saat Ayarları
Comment[uk]=Date & Time Settings
Comment[zh_CN]=日期 & 时间的设置
Comment[zh_TW]=Date & Time Settings
Exec=mx-datetime-launcher
Terminal=false
Type=Application
Icon=mx-datetime
Categories=GNOME;GTK;System;MX-Setup;
NoDisplay=false
