[Desktop Entry]
Encoding=UTF-8
Name[am]=MX ኮንኪ
Name[ca]=MX Conky
Name[cs]=MX Conky
Name[da]=MX Conky
Name[de]=MX-Conky
Name[el]=MX Conky
Name[es]=MX Conky
Name[es_ES]=MX Conky
Name[fi]=MX Conky
Name[fr]=MX Conky
Name[fr_BE]=MX Conky
Name[gl_ES]=MX Conky
Name[he_IL]=MX קונקי
Name[hi]=एमएक्स कोंकी
Name[hu]=MX Conky
Name[is]=MX Conky skjáupplýsingar
Name[it]=MX Conky
Name[ja]=MX Conky
Name[lt]=MX Conky
Name[nb]=MX Conky
Name[nl]=MX Conky
Name[nl_BE]=MX Conky
Name[pl]=MX Conky
Name[pt]=Conky do MX
Name[pt_BR]=Conky do MX
Name[ru]=MX Conky
Name[sk]=MX Conky
Name[sl]=MX Conky
Name[sq]=MX Conky
Name[sv]=MX Conky
Name[tr]=MX Conky
Name[vi]=MX Conky
Name[zh_CN]=MX Conky
Name[zh_TW]=MX Conky
Name=MX Conky
Comment[am]=የ ዴስክቶፕ ስርአት መቆጣጠሪያ ዝርዝር መቀየሪያ
Comment[ca]=Canvia paràmetres del monitor d'escriptori del sistema
Comment[cs]=Úprava detailů monitoru systému na ploše
Comment[da]=Skift detaljer i skrivebordets systemovervågning
Comment[de]=Detaileinstellungen des Conky-Systemmonitors
Comment[el]=Εμφάνιση παραμέτρων του συστήματος στην επιφάνεια εργασίας
Comment[es]=Cambia los detalles del monitor de sistema en el escritorio
Comment[es_ES]=Cambia los detalles del monitor de sistema en el escritorio
Comment[fr]=Modifie les données d’affichage des ressources système
Comment[fr_BE]=Modifie les données d’affichage des ressources système
Comment[he_IL]=שינוי פרטים של צג מערכת על שולחן העבודה
Comment[hu]=Asztali rendszerinformációk tulajdonságainak változtatása
Comment[it]=Modifica impostazioni del monitor di sistema sul desktop
Comment[ja]=システムモニターの詳細を変更します
Comment[lt]=Keisti išsamią darbalaukio sistemos monitoriaus informaciją
Comment[nb]=Endre detaljer rundt skrivebordets systemovervåkning
Comment[nl]=Verander details van desktop systeem toezicht
Comment[pl]=Zmień szczegóły monitora systemu wyświetlanego na pulpicie
Comment[pt]=Monitor do sistema (exibido na área de trabalho) [conky-all]
Comment[pt_BR]=Monitor do sistema para a área de trabalho MX Conky
Comment[ru]=Изменение сведений о системном мониторе рабочего стола
Comment[sk]=Upravte detaily v nastavení Conky
Comment[sl]=Spremeni podrobnosti za namizni nadzorovalnik sistema
Comment[sv]=Ändra detaljer i skrivbordets systemmonitor
Comment[tr]=Masaüstü sistem izleyicisinin ayrıntılarını değiştirme
Comment[zh_CN]=更改桌面系统监视器的细节
Comment[zh_TW]=細部調校桌面上的系統監測工具
Comment=Change details of desktop system monitor
Exec=mx-conky
Terminal=false
Type=Application
Icon=mx-conky
Categories=GNOME;GTK;System;MX-Setup
NoDisplay=false
