[Desktop Entry]
Encoding=UTF-8
Name=MX Conky
Name[am]=MX ኮንኪ
Name[ar]=MX Conky
Name[bg]=MX Conky
Name[ca]=MX Conky
Name[cs]=MX Conky
Name[da]=MX Conky
Name[de]=MX Conky
Name[el]=MX Conky
Name[es]=MX Conky
Name[et]=MX Conky
Name[eu]=MX Conky
Name[fa]=MX Conky
Name[fi]=MX Conky
Name[fr]=MX Conky
Name[he_IL]=MX Conky
Name[hi]=MX Conky
Name[hr]=MX Conky
Name[hu]=MX Conky
Name[id]=MX Conky
Name[is]=MX Conky
Name[it]=MX Conky
Name[ja]=MX Conky
Name[kk]=MX Conky
Name[ko]=MX Conky
Name[lt]=MX Conky
Name[mk]=MX Conky
Name[mr]=MX Conky
Name[nb]=MX Conky
Name[nl]=MX Conky
Name[pl]=MX Conky
Name[pt_BR]=MX Conky
Name[pt]=Conky do MX
Name[ro]=MX Conky
Name[ru]=MX Conky
Name[sk]=MX Conky
Name[sl]=MX Conky
Name[sq]=MX Conky
Name[sr]=MX Conky
Name[sv]=MX Conky
Name[tr]=MX Conky
Name[uk]=MX Conky
Name[zh_CN]=MX Conky
Name[zh_TW]=MX Conky
Comment=Change details of desktop system monitor
Comment[am]=የ ዴስክቶፕ ስርአት መቆጣጠሪያ ዝርዝር መቀየሪያ
Comment[ar]=Change details of desktop system monitor
Comment[bg]=Change details of desktop system monitor
Comment[ca]=Canvia paràmetres del monitor d'escriptori del sistema
Comment[cs]=Change details of desktop system monitor
Comment[da]=Skift detaljer i skrivebordets systemovervågning
Comment[de]=Detaileinstellungen des Desktop-Systemmonitors
Comment[el]=Αλλάξτε τα στοιχεία της οθόνης
Comment[es]=Cambia los detalles del monitor de sistema en el escritorio
Comment[et]=Change details of desktop system monitor
Comment[eu]=Change details of desktop system monitor
Comment[fa]=Change details of desktop system monitor
Comment[fi]=Change details of desktop system monitor
Comment[fr]=Modifie les données d'affichage des ressources système
Comment[he_IL]=Change details of desktop system monitor
Comment[hi]=Change details of desktop system monitor
Comment[hr]=Change details of desktop system monitor
Comment[hu]=Asztali rendszerinformációk tulajdonságainak változtatása
Comment[id]=Change details of desktop system monitor
Comment[is]=Change details of desktop system monitor
Comment[it]=Modifica impostazioni del monitor di sistema sul desktop
Comment[ja]=Change details of desktop system monitor
Comment[kk]=Change details of desktop system monitor
Comment[ko]=Change details of desktop system monitor
Comment[lt]=Keisti išsamią darbalaukio sistemos monitoriaus informaciją
Comment[mk]=Change details of desktop system monitor
Comment[mr]=Change details of desktop system monitor
Comment[nb]=Change details of desktop system monitor
Comment[nl]=Verander details van desktop systeem toezicht
Comment[pl]=Zmień szczegóły monitora systemu wyświetlanego na pulpicie
Comment[pt_BR]=Monitor do sistema para a área de trabalho [conky-all]
Comment[pt]=Monitor do sistema (exibido na área de trabalho) [conky-all]
Comment[ro]=Change details of desktop system monitor
Comment[ru]=Change details of desktop system monitor
Comment[sk]=Upravte detaily v nastavení Conky
Comment[sl]=Spremeni podrobnosti za namizni nadzorovalnik sistema
Comment[sq]=Change details of desktop system monitor
Comment[sr]=Change details of desktop system monitor
Comment[sv]=Ändra detaljer i skrivbordets systemmonitor
Comment[tr]=Change details of desktop system monitor
Comment[uk]=Change details of desktop system monitor
Comment[zh_CN]=Change details of desktop system monitor
Comment[zh_TW]=細部調校桌面上的系統監測工具
Exec=mx-conky
Terminal=false
Type=Application
Icon=mx-conky
Categories=GNOME;GTK;System;MX-Setup
NoDisplay=false
