[Desktop Entry]
Type=Service
Actions=compress_PIXZ;compress_7ZIP;compress_RAR;compress_TAR;compress_TGZ;compress_ZIP;compress_TARPIXZ;compress_TARLZMA;compress_TARXZ;compress_TAR7ZIP;compress_TARBZIP;compress_TARGZ;
Encoding=UTF-8
Version=1.4
ServiceTypes=KonqPopupMenu/Plugin,inode/directory,all/allfiles
X-KDE-Priority=TopLevel
X-KDE-Submenu=KEC: Compress
X-KDE-Submenu[de]=KEC: Komprimieren
X-KDE-Submenu[es]=KEC: Comprimir
X-KDE-Submenu[it]=KEC: Compressione
X-KDE-Submenu[fr]=KEC: Compresser
X-KDE-Submenu[zh_CN]=KEC: 压缩
X-KDE-Submenu[pl]=KEC: Spakuj
X-KDE-Submenu[pt_BR]=KEC: Comprimir
X-KDE-Submenu[cs]=KEC: Komprimovat
X-KDE-Submenu[tr]=KEC: Sıkıştır
X-KDE-Submenu[da]=KEC: Komprimér

[Desktop Action compress_PIXZ]
Exec=compress_PIXZ.sh %U
Icon=application-x-archive
Name=KEC: Parallel compress to XZ using PIXZ, default no. of threads
Name[de]=KEC: Komprimieren in XZ--PIXZ
Name[es]=KEC: Comprimir como XZ--PIXZ
Name[it]=KEC: Comprimi in XZ--PIXZ
Name[fr]=KEC: Compresser en XZ--PIXZ
Name[zh_CN]=KEC: 压缩为 XZ--PIXZ
Name[pl]=KEC: Spakuj jako XZ--PIXZ
Name[pt_BR]=KEC: Comprimir como XZ--PIXZ
Name[cs]=KEC: Komprimovat do XZ--PIXZ
Name[tr]=KEC: XZ--PIXZ olarak sıkıştır
Name[da]=KEC: Komprimér til XZ--PIXZ

[Desktop Action compress_RAR]
Exec=compress_RAR.sh %U
Icon=application-x-archive
Name=KEC: Compress to rar
Name[de]=KEC: Komprimieren in rar
Name[es]=KEC: Comprimir como rar
Name[it]=KEC: Comprimi in rar
Name[fr]=KEC: Compresser en rar
Name[zh_CN]=KEC: 压缩为 rar
Name[pl]=KEC: Spakuj jako rar
Name[pt_BR]=KEC: Comprimir como rar
Name[cs]=KEC: Komprimovat do rar
Name[tr]=KEC: rar olarak sıkıştır
Name[da]=KEC: Komprimér til rar

[Desktop Action compress_TAR]
Exec=compress_TAR.sh %U
Icon=application-x-archive
Name=KEC: Compress to tar
Name[de]=KEC: Komprimieren in tar
Name[es]=KEC: Comprimir como tar
Name[it]=KEC: Comprimi in tar
Name[fr]=KEC: Compresser en tar
Name[zh_CN]=KEC: 压缩为 tar
Name[pl]=KEC: Spakuj jako tar
Name[pt_BR]=KEC: Comprimir como tar
Name[cs]=KEC: Komprimovat do tar
Name[tr]=KEC: tar olarak sıkıştır
Name[da]=KEC: Komprimér til tar

[Desktop Action compress_TARLZMA]
Exec=compress_TARLZMA.sh %U
Icon=application-x-archive
Name=KEC: Compress to tar.lzma
Name[de]=KEC: Komprimieren in tar.lzma
Name[es]=KEC: Comprimir como tar.lzma
Name[it]=KEC: Comprimi in tar.lzma
Name[fr]=KEC: Compresser en tar.lzma
Name[zh_CN]=KEC: 压缩为 tar.lzma
Name[pl]=KEC: Spakuj jako tar.lzma
Name[pt_BR]=KEC: Comprimir como tar.lzma
Name[cs]=KEC: Komprimovat do tar.lzma
Name[tr]=KEC: tar.lzma olarak sıkıştır
Name[da]=KEC: Komprimér til tar.lzma

[Desktop Action compress_TARXZ]
Exec=compress_TARXZ.sh %U
Icon=application-x-archive
Name=KEC: Compress to tar.xz
Name[de]=KEC: Komprimieren in tar.xz
Name[es]=KEC: Comprimir como tar.xz
Name[it]=KEC: Comprimi in tar.xz
Name[fr]=KEC: Compresser en tar.xz
Name[zh_CN]=KEC: 压缩为 tar.xz
Name[pl]=KEC: Spakuj jako tar.xz
Name[pt_BR]=KEC: Comprimir como tar.xz
Name[cs]=KEC: Komprimovat do tar.xz
Name[tr]=KEC: tar.xz olarak sıkıştır
Name[da]=KEC: Komprimér til tar.xz

[Desktop Action compress_TARPIXZ]
Exec=compress_TARPIXZ.sh %U
Icon=application-x-archive
Name=KEC: Parallel compress to tar.xz using pixz
Name[de]=KEC: Komprimieren in tar.xz--pixz
Name[es]=KEC: Comprimir como tar.xz--pixz
Name[it]=KEC: Comprimi in tar.xz--pixz
Name[fr]=KEC: Compresser en tar.xz--pixz
Name[zh_CN]=KEC: 压缩为 tar.xz--pixz
Name[pl]=KEC: Spakuj jako tar.xz--pixz
Name[pt_BR]=KEC: Comprimir como tar.xz--pixz
Name[cs]=KEC: Komprimovat do tar.xz--pixz
Name[tr]=KEC: tar.xz olarak sıkıştır--pixz
Name[da]=KEC: Komprimér til tar.xz--pixz

[Desktop Action compress_TARGZ]
Exec=compress_TARGZ.sh %U
Icon=application-x-archive
Name=KEC: Compress to tar.gz
Name[de]=KEC: Komprimieren in tar.gz
Name[es]=KEC: Comprimir como tar.gz
Name[it]=KEC: Comprimi in tar.gz
Name[fr]=KEC: Compresser en tar.gz
Name[zh_CN]=KEC: 压缩为 tar.gz
Name[pl]=KEC: Spakuj jako tar.gz
Name[pt_BR]=KEC: Comprimir como tar.gz
Name[cs]=KEC: Komprimovat do tar.gz
Name[tr]=KEC: tar.gz olarak sıkıştır
Name[da]=KEC: Komprimér til tar.gz

[Desktop Action compress_TGZ]
Exec=compress_TGZ.sh %U
Icon=application-x-archive
Name=KEC: Compress to tgz
Name[de]=KEC: Komprimieren in tgz
Name[es]=KEC: Comprimir como tgz
Name[it]=KEC: Comprimi in tgz
Name[fr]=KEC: Compresser en tgz
Name[zh_CN]=KEC: 压缩为 tgz
Name[pl]=KEC: Spakuj jako tgz
Name[pt_BR]=KEC: Comprimir como tgz
Name[cs]=KEC: Komprimovat do tgz
Name[tr]=KEC: tgz olarak sıkıştır
Name[da]=KEC: Komprimér til tar.gz

[Desktop Action compress_ZIP]
Exec=compress_ZIP.sh %U
Icon=application-x-archive
Name=KEC: Compress to zip
Name[de]=KEC: Komprimieren in zip
Name[es]=KEC: Comprimir como zip
Name[it]=KEC: Comprimi in zip
Name[fr]=KEC: Compresser en zip
Name[zh_CN]=KEC: 压缩为 zip
Name[pl]=KEC: Spakuj jako zip
Name[pt_BR]=KEC: Comprimir como zip
Name[cs]=KEC: Komprimovat do zip
Name[tr]=KEC: zip olarak sıkıştır
Name[da]=KEC: Komprimér til zip


[Desktop Action compress_7ZIP]
Exec=compress_7ZIP.sh %U
Icon=application-x-archive
Name=KEC: Compress to 7z
Name[de]=KEC: Komprimieren in 7z
Name[es]=KEC: Comprimir como 7z
Name[it]=KEC: Comprimi in 7z
Name[fr]=KEC: Compresser en 7z
Name[zh_CN]=KEC: 压缩为 7z
Name[pl]=KEC: Spakuj jako 7z
Name[pt_BR]=KEC: Comprimir como 7z
Name[cs]=KEC: Komprimovat do 7z
Name[tr]=KEC: 7z olarak sıkıştır
Name[da]=KEC: Komprimér til 7z

[Desktop Action compress_TAR7ZIP]
Exec=compress_TAR7Z.sh %U
Icon=application-x-archive
Name=KEC: Compress to tar.7z
Name[de]=KEC: Komprimieren in tar.7z
Name[es]=KEC: Comprimir como tar.7z
Name[it]=KEC: Comprimi in tar.7z
Name[fr]=KEC: Compresser en tar.7z
Name[zh_CN]=KEC: 压缩为 tar.7z
Name[pl]=KEC: Spakuj jako tar.7z
Name[pt_BR]=KEC: Comprimir como tar.7z
Name[cs]=KEC: Komprimovat do tar.7z
Name[tr]=KEC: tar.7z olarak sıkıştır
Name[da]=KEC: Komprimér til tar.7z

[Desktop Action compress_TARBZIP]
Exec=compress_TARBZ2.sh %U
Icon=application-x-archive
Name=KEC: Compress to tar.bz2
Name[de]=KEC: Komprimieren in tar.bz2
Name[es]=KEC: Comprimir como tar.bz2
Name[it]=KEC: Comprimi in tar.bz2
Name[fr]=KEC: Compresser en tar.bz2
Name[zh_CN]=KEC: 压缩为 tar.bz2
Name[pl]=KEC: Spakuj jako tar.bz2
Name[pt_BR]=KEC: Comprimir como tar.bz2
Name[cs]=KEC: Komprimovat do tar.bz2
Name[tr]=KEC: tar.bz2 olarak sıkıştır
Name[da]=KEC: Komprimér til tar.bz2
