[Desktop Entry]
Encoding=UTF-8
Name=System Keyboard
Name[am]=System Keyboard
Name[ar]=System Keyboard
Name[bg]=System Keyboard
Name[ca]=Teclat de Sistema
Name[cs]=System Keyboard
Name[da]=Systemtastatur
Name[de]=Systemtastatur
Name[el]=System Keyboard
Name[es]=Teclado del Sistema
Name[et]=System Keyboard
Name[eu]=System Keyboard
Name[fa]=System Keyboard
Name[fi]=System Keyboard
Name[fr]=Clavier du système
Name[he_IL]=System Keyboard
Name[hi]=System Keyboard
Name[hr]=System Keyboard
Name[hu]=System Keyboard
Name[id]=System Keyboard
Name[is]=System Keyboard
Name[it]=Tastiera di Sistema
Name[ja]=System Keyboard
Name[kk]=System Keyboard
Name[ko]=System Keyboard
Name[lt]=Sistemos klaviatūra
Name[mk]=System Keyboard
Name[mr]=System Keyboard
Name[nb]=System Keyboard
Name[nl]=Systeem Toetsenbord
Name[pl]=Klawiatura systemowa
Name[pt_BR]=Teclado do Sistema
Name[pt]=Teclado do sistema
Name[ro]=System Keyboard
Name[ru]=System Keyboard
Name[sk]=System Keyboard
Name[sl]=Tipkovnica
Name[sq]=System Keyboard
Name[sr]=System Keyboard
Name[sv]=System-tangentbord
Name[tr]=System Keyboard
Name[uk]=System Keyboard
Name[zh_CN]=System Keyboard
Name[zh_TW]=System Keyboard
Comment=Configure System Keyboard
Comment[am]=Configure System Keyboard
Comment[ar]=Configure System Keyboard
Comment[bg]=Configure System Keyboard
Comment[ca]=Configura el teclat de Sistema
Comment[cs]=Configure System Keyboard
Comment[da]=Konfigurer systemets tastatur
Comment[de]=Konfiguration der Systemtastatur
Comment[el]=Ρύθμιση πληκτρολογίου συστήματος
Comment[es]=Configurar Teclado del Sistema
Comment[et]=Configure System Keyboard
Comment[eu]=Configure System Keyboard
Comment[fa]=Configure System Keyboard
Comment[fi]=Configure System Keyboard
Comment[fr]=Configurer le clavier du système
Comment[he_IL]=Configure System Keyboard
Comment[hi]=Configure System Keyboard
Comment[hr]=Configure System Keyboard
Comment[hu]=Configure System Keyboard
Comment[id]=Configure System Keyboard
Comment[is]=Configure System Keyboard
Comment[it]=Configura la tastiera di sistema
Comment[ja]=Configure System Keyboard
Comment[kk]=Configure System Keyboard
Comment[ko]=Configure System Keyboard
Comment[lt]=Konfigūruoti sistemos klaviatūrą
Comment[mk]=Configure System Keyboard
Comment[mr]=Configure System Keyboard
Comment[nb]=Configure System Keyboard
Comment[nl]=Configureer Systeem Toetsenbord
Comment[pl]=Skonfiguruj klawiaturę systemową
Comment[pt_BR]=Configurar o teclado do sistema
Comment[pt]=Configurar o teclado do sistema
Comment[ro]=Configure System Keyboard
Comment[ru]=Configure System Keyboard
Comment[sk]=Configure System Keyboard
Comment[sl]=Konfiguriraj sistemsko tipkovnico
Comment[sq]=Configure System Keyboard
Comment[sr]=Configure System Keyboard
Comment[sv]=Konfigurera System-tangentbord
Comment[tr]=Configure System Keyboard
Comment[uk]=Configure System Keyboard
Comment[zh_CN]=Configure System Keyboard
Comment[zh_TW]=Configure System Keyboard
Exec=su-to-root -X -c system-keyboard-mx
Type=Application
Icon=system-keyboard-mx
Path=
Terminal=false
NoDisplay=false
StartupNotify=false
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;MX-Setup;
