[Desktop Entry]
Encoding=UTF-8
Name=System Locales
Name[am]=System Locales
Name[ar]=System Locales
Name[bg]=System Locales
Name[ca]=Locales de Sistema
Name[cs]=System Locales
Name[da]=Systemlokaliteter
Name[de]=Systemlokalisierung
Name[el]=System Locales
Name[es]=Locales del Sistema
Name[et]=System Locales
Name[eu]=System Locales
Name[fa]=System Locales
Name[fi]=System Locales
Name[fr]=Localisation du système
Name[he_IL]=System Locales
Name[hi]=System Locales
Name[hr]=System Locales
Name[hu]=System Locales
Name[id]=System Locales
Name[is]=System Locales
Name[it]=Localizzazione del Sistema
Name[ja]=System Locales
Name[kk]=System Locales
Name[ko]=System Locales
Name[lt]=Sistemos lokalės
Name[mk]=System Locales
Name[mr]=System Locales
Name[nb]=System Locales
Name[nl]=Systeem Lokaliseringen
Name[pl]=Ustawienia lokalne systemu
Name[pt_BR]=Localizações do Sistema
Name[pt]=Localizações do sistema
Name[ro]=System Locales
Name[ru]=System Locales
Name[sk]=System Locales
Name[sl]=Lokalne nastavitve sistema
Name[sq]=System Locales
Name[sr]=System Locales
Name[sv]=System-lokalisering
Name[tr]=System Locales
Name[uk]=System Locales
Name[zh_CN]=System Locales
Name[zh_TW]=System Locales
Comment=Default locale for the system environment
Comment[am]=Default locale for the system environment
Comment[ar]=لمحلية الافتراضية لبيئة النظام
Comment[bg]=Default locale for the system environment
Comment[ca]=Locale predeterminat del sistema
Comment[cs]=Výchozí locale pro tento systém
Comment[da]=Standardlokalitet til systemmiljøet
Comment[de]=Einstellung Systemlokalisierung
Comment[el]=Προεπιλεγμένη τοπική ρύθμιση για το περιβάλλον του συστήματος
Comment[es]=Locale predeterminado para ambiente del sistema
Comment[et]=Default locale for the system environment
Comment[eu]=Sistema inguruneko lokal lehenetsia
Comment[fa]=Default locale for the system environment
Comment[fi]=Järjestelmän oletusmaa-asetus
Comment[fr]=Valeurs de localisation par défaut pour l'environnement du système
Comment[gl]=Configuración local por defecto para o ambiente
Comment[he_IL]=Default locale for the system environment
Comment[hi]=Default locale for the system environment
Comment[hr]=Default locale for the system environment
Comment[hu]=A rendszer alap nyelvi beállítása
Comment[id]=Default locale for the system environment
Comment[is]=Default locale for the system environment
Comment[it]=Impostazione della localizzazione predefinita per l'ambiente di sistema
Comment[ja]=システムの環境変数として設定するデフォルトロケール
Comment[kk]=Default locale for the system environment
Comment[ko]=시스템 환경의 기본 로케일
Comment[lt]=Numatytoji sistemos aplinkos lokalė
Comment[mk]=Default locale for the system environment
Comment[ml]=സിസ്റ്റം പരിസരത്തിനു വേണ്ടിയുളള സഹജമായ ലൊക്കേല്‍
Comment[mr]=Default locale for the system environment
Comment[nb]=Standardlokale for systemmiljøet
Comment[nl]=Standaard lokalisering voor de systeemomgeving
Comment[no]=Standardlokale for systemmiljøet
Comment[pl]=Domyślne ustawienia regionalne dla środowiska systemowego
Comment[pt_BR]=Localização linguística padrão para o sistema
Comment[pt]=Localização linguística do sistema
Comment[ro]=Locale implicite pentru sistem
Comment[ru]=Локаль по умолчанию в системном окружении
Comment[sk]=Štandarné locale systémového prostredia
Comment[sl]=Privzete lokalne nastavitve sistema
Comment[sq]=Default locale for the system environment
Comment[sr]=Default locale for the system environment
Comment[sv]=Standard-lokalisering för systemmiljön
Comment[ta]=கணினி சூழலுக்கு முன்னிருப்பு உள்ளார்ந்த இடம்
Comment[tr]=Sistem ortamında kullanılacak öntanımlı yerel
Comment[uk]=Default locale for the system environment
Comment[vi]=Miền địa phương mặc định cho môi trường hệ thống
Comment[zh_CN]=哪个将作为系统环境默认的区域设置(locale)？
Comment[zh_TW]=Default locale for the system environment
Exec=su-to-root -X -c system-locales-mx
Type=Application
Icon=preferences-desktop-locale
Path=
Terminal=false
NoDisplay=false
StartupNotify=false
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;MX-Setup
