[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=xfce4-notifyd-start
Comment=start xfce4-notifyd if not running
Exec=/usr/bin/xfce4-notifyd-start
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

