[Desktop Entry]
Name[am]=ጥቅል መግጠሚያ
Name[ca]=Package Installer
Name[cs]=Instalátor softvéru
Name[da]=Pakkeinstallationsprogram
Name[de]=Paket-Installer
Name[el]=Εγκατάσταση πακέτων
Name[es]=Instalar Paquetes
Name[es_ES]=Instalador de Paquetes
Name[fi]=Pakettien asennus
Name[fr]=Installateur de paquets - Package Installer
Name[fr_BE]=Installateur de paquets - Package Installer
Name[gl_ES]=Instalador de paquetes
Name[he_IL]=אשף התקנת החבילות של
Name[hi]=एमएक्स पैकेज इंस्टॉलर
Name[hr]=instaler paketa
Name[hu]=csomagtelepítő
Name[it]=Installa Programmi
Name[ja]=パッケージインストーラ
Name[lt]=paketų diegimo programa
Name[nb]=Verktøy for pakkeinstallering
Name[nb_NO]=Pakkeinstallatør
Name[nl]=pakket installeerder
Name[nl_BE]=Pakket Installeerder
Name[pl]=Instalator pakietów
Name[pt]=Instalador de Pacotes
Name[pt_BR]=Instalador e Desinstalador de Programas
Name[ro]=Instalator Programe
Name[ru]=Установщик пакетов
Name[sk]=Inštalátor programov
Name[sl]=Namestilnik paketov
Name[sq]=Instalues Paketash
Name[sv]=Paket-installerare
Name[th]=Package Installer
Name[tr]=Paket Yükleyici
Name[zh_CN]=软件包安装器
Name[zh_TW]=安裝軟體
Name=Package Installer
Comment[am]=Պարզ ծրագրային ապահովման կիրառական փաթեթի տեղադրիչ 
Comment[ar]=مُثبِّت حزمة تطبيق البرامج البسيط
Comment[bg]=Инсталатор на прост пакет софтуерни приложения
Comment[ca]=Instal·lador senzill de paquets d'aplicacions
Comment[cs]=Jednoduchý instalační balíček softwarových aplikací 
Comment[da]=Simpel installationsprogram til softwareprogram 
Comment[de]=Einfaches Installationsprogramm für Softwareanwendungspakete 
Comment[el]=Απλή εφαρμογή εγκατάστασης λογισμικού 
Comment[es]=Instalador de paquete de aplicación de software simple
Comment[es_ES]=Instalador simple de paquetes de aplicaciones de software
Comment[et]=Lihtne tarkvararakenduste pakettide installija
Comment[eu]=Software aplikazio paketeen instalatzaile sinplea
Comment[fa]=نصب کننده بسته نرم افزار ساده نرم افزار
Comment[fi]=Yksinkertainen ohjelmistosovelluspaketin asennusohjelma
Comment[fr]=Programme simple pour l’installation de paquets de logiciels
Comment[fr_BE]=Programme simple pour l’installation de paquets de logiciels
Comment[he_IL]=מתקין חבילות יישום תוכנה פשוט
Comment[hi]=सरल सॉफ्टवेयर एप्लीकेशन पैकेज इंस्टालर
Comment[hr]=Jednostavni instalacijski paket softverskih aplikacija
Comment[hu]=Egyszerű szoftveralkalmazás-csomag telepítő
Comment[id]=Penginstal Paket Aplikasi Perangkat Lunak Sederhana
Comment[is]=Einfaldur hugbúnaðarforritapakki
Comment[it]=Semplice programma di installazione del pacchetto di applicazioni software
Comment[ja]=簡単な操作でソフトウェアをインストールできます
Comment[kk]=Қарапайым бағдарламалық жасақтама бумасын орнатушы
Comment[ko]=간단한 소프트웨어 응용 프로그램 패키지 설치 프로그램
Comment[lt]=Paprastas programinės įrangos programų paketų diegimo programa
Comment[mk]=Едноставен инсталатор за пакети со апликативни софтвери
Comment[mr]=साधे सॉफ्टवेअर अनुप्रयोग पॅकेज इंस्टॉलर
Comment[nb]=Enkel installasjonsprogramvarepakke
Comment[nl]=Eenvoudig installatieprogramma voor softwaretoepassingspakketten
Comment[pl]=Instalator pakietu aplikacji prostego oprogramowania
Comment[pt]=Instalador de pacote de aplicativo de software simples
Comment[pt_BR]=Instalar e desinstalar programas aplicativos ou pacotes com o Package Installer
Comment[ro]=Instalator de pachete de aplicații software simple
Comment[ru]=Установщик пакета простых программных приложений
Comment[sk]=Jednoduchý inštalátor balíka softvérových aplikácií
Comment[sl]=Preprost program za namestitev programskega paketa
Comment[sq]=Instalues i Paketës së Zbatimit të Softuerit të thjeshtë
Comment[sr]=Једноставан програм за инсталирање софтверског пакета
Comment[sv]=Enkel installationsprogram för programvarupaket
Comment[tr]=Basit Yazılım Uygulama Paketi Yükleyicisi
Comment[uk]=Простий інсталятор програмних програм
Comment[zh_CN]=Simple Package Installer
Comment[zh_TW]=簡單的軟體安裝工具
Comment=Simple Software Application Package Installer
Exec=mxpi-launcher
Icon=mx-packageinstaller
NoDisplay=false
Categories=System;MX-Software;
Type=Application
