body {
    margin: 16px;
    line-height: 1.5;
}

.image-block {
    text-align: left;
    margin: 0;
}

img {
    display: block;
    margin: 0;
    max-width: 100%;
    height: auto;
}

pre {
    white-space: pre-wrap;
}
