[Desktop Entry]
Name=MX Codecs Installer
Name[am]=MX ኮድ መግጠሚያ
Name[ar]=MX Codecs Installer
Name[bg]=MX Codecs Installer
Name[ca]=MX Codecs installer
Name[cs]=MX instalátor kodeků
Name[da]=MX Codecs-installationsprogram
Name[de]=MX Codecs Installer
Name[el]=Εγκατάσταση codecs του MX
Name[es]=MX Instalar códecs
Name[et]=MX Codecs Installer
Name[eu]=MX Codecs Installer
Name[fa]=MX Codecs Installer
Name[fi]=MX-Koodekkien asennusohjelma
Name[fr]=MX Installateur de codecs
Name[he_IL]=MX Codecs Installer
Name[hi]=MX कोडेक्स इंस्टॉलर
Name[hr]=MX Codecs Installer
Name[hu]=MX kodektelepítő
Name[id]=MX Codecs Installer
Name[is]=Uppsetning kóðunarlykla MX
Name[it]=MX Installa Codecs
Name[ja]=MX コーデックインストーラ
Name[kk]=MX Codecs Installer
Name[ko]=MX Codecs Installer
Name[lt]=MX kodekų diegimo programa
Name[mk]=MX Codecs Installer
Name[mr]=MX Codecs Installer
Name[nb]=MX Codecs Installer
Name[nl]=MX Codecs Installeerder
Name[pl]=MX Instalator kodeków
Name[pt_BR]=MX Instalador de Codecs
Name[pt]=MX-Instalador de Codecs
Name[ro]=MX Instalator Codecuri
Name[ru]=MX Установщик кодеков
Name[sk]=MX Inštalátor kodekov
Name[sl]=Namestitev kodekov
Name[sq]=MX Codecs Installer
Name[sr]=MX Codecs Installer
Name[sv]=MX Codecs Installerare
Name[tr]= Çözücü Yükleyici
Name[uk]=MX Codecs Installer
Name[zh_CN]=MX Codecs Installer
Name[zh_TW]=MX 安裝影音編碼
Comment=Simple install of restricted codecs
Comment[am]=ቀላል የ ተወሰነ ኮድ መግጠሚያ
Comment[ar]=Simple install of restricted codecs
Comment[bg]=Опростен инсталатор на ограничени кодеци
Comment[ca]=Descarregador senzill de còdecs privatius
Comment[cs]=Jednoduchá instalace nesvobodných kodeků
Comment[da]=Simpel installation af begrænsede codecs
Comment[de]=Einfache Installation unfreier Codecs
Comment[el]=Απλή εφαρμογή λήψης codecs
Comment[es]=Herramienta simple de descarga de códecs
Comment[et]=Simple install of restricted codecs
Comment[eu]=Simple install of restricted codecs
Comment[fa]=Simple install of restricted codecs
Comment[fi]=Helppo rajoitettujen koodekkien asennusohjelma
Comment[fr]=Installation simple de codecs restreintes
Comment[he_IL]=Simple install of restricted codecs
Comment[hi]=Simple install of restricted codecs
Comment[hr]=Simple install of restricted codecs
Comment[hu]=Zárt kodekek egyszerű telepítése
Comment[id]=Simple install of restricted codecs
Comment[is]=Uppsetning skilyrtra kóðunarlykla (codecs)
Comment[it]=Semplice downloader di codecs
Comment[ja]=のシンプルなコーデックダウンローダー
Comment[kk]=Simple install of restricted codecs
Comment[ko]=Simple install of restricted codecs
Comment[lt]=Paprastas apribotų kodekų įdiegimas
Comment[mk]=Simple install of restricted codecs
Comment[mr]=Simple install of restricted codecs
Comment[nb]=Simple install of restricted codecs
Comment[nl]=Eenvoudig installeren van codecs met beperkte rechten
Comment[pl]=Prosta instalacja ograniczonych kodeków
Comment[pt_BR]=Instalação fácil de codecs restritos [mx-codecs]
Comment[pt]=Instalação fácil de codecs restritos [mx-codecs]
Comment[ro]=Descărcător simplu de codecuri pentru
Comment[ru]=Простая установка несвободных кодеков
Comment[sk]=Jednoducho inštalujte neslobodné kodeky
Comment[sl]=Preprosta namestitev dodatnih kodekov
Comment[sq]=Simple install of restricted codecs
Comment[sr]=Simple install of restricted codecs
Comment[sv]=Enkel installering av non-free codecs
Comment[tr]=Kısıtlanmış çözücüleri basit yükleme
Comment[uk]=Simple install of restricted codecs
Comment[zh_CN]=Simple install of restricted codecs
Comment[zh_TW]=簡單安裝限制性的影音編碼
Exec=mx-codecs-launcher
Icon=mx-codecs
NoDisplay=false
Categories=System;MX-Setup;
Type=Application
