[Desktop Entry]
Name[am]=MX ኮድ መግጠሚያ
Name[ar]=مُثبت MX للترميزات
Name[bg]=МХ инсталатор на кодеци
Name[ca]=MX Codecs installer
Name[cs]=MX instalátor kodeků
Name[da]=MX Codecs-installationsprogram
Name[de]=MX Codecs Installer
Name[el]=Εγκατάσταση codecs του MX
Name[es]=MX Instalar códecs
Name[es_ES]=MX Instalador de Códecs
Name[fi]=MX-Koodekkien asennusohjelma
Name[fil_PH]=Installer ng MX Codecs 
Name[fr]=MX Installateur de Codecs - MX Codecs Installer
Name[fr_BE]=MX Installateur de Codecs - MX Codecs Installer
Name[gl_ES]=MX Instalador de Codecs
Name[gu]=એમએક્સ કોડેક્સ ઈન્સ્ટોલર
Name[he_IL]=אשף התקנת הקודקים של MX
Name[hi]=MX कोडेक्स इंस्टॉलर
Name[hr]=Instalacijski program MX kodeka
Name[hu]=MX kodektelepítő
Name[id]=Pemasang Codec MX
Name[is]=Uppsetning kóðunarlykla MX
Name[it]=MX Installa Codecs
Name[ja]=MX コーデックインストーラ
Name[kk]=MX кодек орнатушысы
Name[lt]=MX kodekų diegimo programa
Name[mr]=एमएक्स कोडेक्स इन्स्टॉलर
Name[nb]=Installering av MX-kodeker
Name[nl]=MX Codecs Installeerder
Name[nl_BE]=MX Codecs Installeerder
Name[pl]=MX Instalator kodeków
Name[pt]=MX-Instalador de Codecs
Name[pt_BR]=Instalador de Codecs do MX
Name[ro]=MX Instalator Codecuri
Name[ru]=MX Установщик кодеков
Name[sk]=MX Inštalátor kodekov
Name[sl]=Namestilnik kodekov
Name[sq]=Instalues MX Kodekësh
Name[sv]=MX Codecs Installerare
Name[tr]=\sÇözücü Yükleyici
Name[uk]=Встановлювач кодеків MX
Name[zh_CN]=MX 解码安装器
Name[zh_HK]=MX 影音編解碼器安裝程式
Name[zh_TW]=MX 安裝影音編碼
Name=MX Codecs Installer
Comment[am]=ቀላል የ ተወሰነ ኮድ መግጠሚያ
Comment[bg]=Опростен инсталатор на ограничени кодеци
Comment[ca]=Descarregador senzill de còdecs privatius
Comment[cs]=Jednoduchá instalace nesvobodných kodeků
Comment[da]=Simpel installation af begrænsede codecs
Comment[de]=Einfache Installation unfreier Codecs
Comment[el]=Απλή εφαρμογή λήψης codecs
Comment[es]=Herramienta simple de descarga de códecs
Comment[es_ES]=Herramienta simple de descarga de códecs
Comment[fi]=Helppo rajoitettujen koodekkien asennusohjelma
Comment[fr]=Installation facile de codecs réglementés
Comment[fr_BE]=Installation facile de codecs réglementés
Comment[he_IL]=התקנה פשוטה של מפענחים מוגבלים
Comment[hu]=Zárt kodekek egyszerű telepítése
Comment[is]=Uppsetning skilyrtra kóðunarlykla (codecs)
Comment[it]=Semplice downloader di codecs
Comment[ja]=のシンプルなコーデックダウンローダー
Comment[lt]=Paprastas apribotų kodekų įdiegimas
Comment[nb]=Enkel installasjon av beskyttede kodeker
Comment[nl]=Eenvoudig installeren van codecs met beperkte rechten
Comment[pl]=Prosta instalacja ograniczonych kodeków
Comment[pt]=Instalação fácil de codecs restritos [mx-codecs]
Comment[pt_BR]=Instalação de codecs restritos e não-livres com o MX Codecs Installer
Comment[ro]=Descărcător simplu de codecuri pentru
Comment[ru]=Простая установка несвободных кодеков
Comment[sk]=Jednoducho inštalujte neslobodné kodeky
Comment[sl]=Preprosta namestitev dodatnih kodekov
Comment[sq]=Instalim i thjeshtë kodekësh të kufizuar
Comment[sv]=Enkel installering av non-free codecs
Comment[tr]=Kısıtlanmış çözücüleri basit yükleme
Comment[zh_TW]=簡單安裝限制性的影音編碼
Comment=Simple install of restricted codecs
Exec=mx-codecs-launcher
Icon=mx-codecs
NoDisplay=false
Categories=System;MX-Setup;
Type=Application
