Source: mx-datetime
Section: admin
Priority: optional
Maintainer: Adrian <adrian@mxlinux.org>
Build-Depends: debhelper-compat (=12),
	qtbase5-dev, 
	qttools5-dev-tools
Standards-Version: 4.4.0

Package: mx-datetime
Architecture: any
Depends: chrony,
	xdg-utils | mx-viewer,
        ${misc:Depends},
        ${shlibs:Depends}
Description: MX Date & Time
 Program for changing the date and time settings
