[Desktop Entry]
Name=CLI APT-based Package Manager
Name[am]=የ ትእዛዝ መስመር apt-based የ ጥቅል አስተዳዳሪ
Name[bg]=Command line apt-базиран мениджър на пакети
Name[ca]=Gestor de paquets per línia d'ordres
Name[da]=Kommandolinje apt-baseret pakkehåndtering
Name[de]=Kommandozeilenbasierte Paketverwaltung
Name[el]=CLI APT-based Package Manager
Name[es]=Línea de comandos del gestor de paquetes basado en apt
Name[fil_PH]=Command line apt-based package manager
Name[fi]=Komentokehotteen apt-pohjainen paketinhallinta
Name[fr]=Gestionnaire de paquet en ligne de commande basé sur apt
Name[gl_ES]=xestor de aplicativos
Name[hr]=U naredbenom retku apt-bazirani upravitelj datotekama 
Name[hu]=Parancssoros apt alapú csomag menedzser
Name[is]=Pakkastjóri byggður á APT fyrir skipanalínu 
Name[it]=Gestione pacchetti APT a riga di comando
Name[ja]=APT ベースのコマンドライン・パッケージマネージャー
Name[lt]=Komandų eilutės apt pagrįsta paketų tvarkytuvė
Name[nb]=Terminalverktøy for pakkeinstallering (apt-basert)
Name[nl]=Kommandoregel apt-gebaseerde pakketinstalleerder
Name[pl]=Menedżer pakietów dla wiersza poleceń oparty na apt
Name[pt]=Gestor de aplicações (Terminal)
Name[pt_BR]=Gestor de aplicações APT via terminal
Name[sl]=Upravljalnik paketov, ki temelji na apt v ukazni vrstici
Name[sv]=Apt-baserad pakethanterare för kommandolinjen
Name[tr]=Komut satırı apt tabanlı paket yöneticisi
Name[zh_TW]=命令行基於apt的軟件包管理器
Comment=Search for and install Debian-based packages
Comment[am]=የ ተገጠመ የ Debian-based ጥቅሎች መፈለጊያ
Comment[bg]=Търсене и инсталиране на Debian-базирани пакети
Comment[ca]=Cerca i instal·la paquets de tipus Debian
Comment[da]=Søg efter og installer Debian-baseret pakker 
Comment[de]=Debian-basierte Pakete suchen und installieren
Comment[el]=Αναζητήστε και εγκαταστήστε πακέτα που βασίζονται στο Debian
Comment[es]=Buscar e instalar paquetes basados en Debian
Comment[fil_PH]=Maghanap at mag-install ng mga package na Debian-based
Comment[fil]=etsi ja asenna Debian-pohjaisia paketteja
Comment[fr]=Recherche et installe des paquets basés sur Debian
Comment[gl_ES]=procurar e instalar facilmente aplicativos
Comment[hr]=Pretraga i instalacija Debian baziranih paketa
Comment[hu]=Debian alapú csomagok keresése és telepítése 
Comment[is]=Leita að og setja upp Debian-afleidda pakka
Comment[it]=Cerca e installa pacchetti software basati su Debian
Comment[ja]=Debian ベースのパッケージ検索とインストール
Comment[lt]=Ieškoti ir įdiegti Debian pagrįstus paketus
Comment[nb]=Søk etter og installer Debian-baserte pakker
Comment[nl]=Zoek naar en installeer Debian-gebaseerde pakketten
Comment[pl]=Wyszukaj i zainstaluj pakiety oparte na Debianie
Comment[pt]=Procurar e instalar facilmente pacotes/aplicações, através do apt, através do Terminal
Comment[pt_BR]=Comment=Procurar e instalar facilmente aplicações via Terminal
Comment[sl]=Iskanje in nameščanje Debian programskih paketov
Comment[sv]=Sök och installera Debian-baserade paket
Comment[tr]=Debian tabanlı paketleri ara ve kur
Comment[zh_TW]=搜索並安裝基於Debian的軟件包
Icon=system-software-install
Type=Application
Terminal=false
Exec=x-terminal-emulator -e sudo /usr/local/bin/cli-aptiX --pause
Categories=X-antiX;
NoDisplay=False
