[Desktop Entry]
Name[ca]=Planificador de tasques
Name[cs]=Plánovač akcí
Name[de]=Aufgabenplaner
Name[el]=Προγραμματιστής εργασιών
Name[es]=Programador de trabajos
Name[es_ES]=Programador de Trabajos
Name[fi]=Työn vuorontaja
Name[fr]=Ordonnanceur des tâches - Job Scheduler
Name[fr_BE]=Ordonnanceur des tâches - Job Scheduler
Name[gl_ES]=Axendador de Tarefas
Name[he_IL]=מתזמן משימות
Name[hi]=कार्य अनुसूचक
Name[hu]=Feladat ütemező
Name[it]=Pianificatore lavoro
Name[ja]=スケジュール管理
Name[nb]=Planlegging av jobber
Name[nl]=Name=Takenschema Maker
Name[pl]=Harmonogram zadań
Name[pt]=Agendador de Tarefas [job-scheduler]
Name[pt_BR]=Agendador de Tarefas
Name[ru]=Планировщик заданий
Name[sl]=Razpored opravil
Name[sq]=Planifikues Aktesh
Name[sv]=Arbetsschema-läggare
Name[tr]=İş Çizelgeleyici
Name=Job Scheduler
Comment[ca]=Eina de planificació de tasques que usa crontab en rerefons
Comment[cs]=Plánování akcí s využitím podpory crontab  
Comment[es]=Utilidad de programación de trabajos que utiliza crontab como backend
Comment[es_ES]=Utilidad de programación de trabajos que utiliza crontab como backend
Comment[fr]=Utilitaire de planification des tâches qui utilise crontab en arrière-plan
Comment[fr_BE]=Utilitaire de planification des tâches qui utilise crontab en arrière-plan
Comment[he_IL]=כלי תזמון משימות שמשתמש ב־crontab ברקע
Comment[it]=Utilità di pianificazione del lavoro che utilizza crontab come backend
Comment[ja]=crontab がバックエンドのジョブ管理ユーティリティ
Comment[nb]=Verktøy for planlagt kjøring av jobber som bruker crontab som bakstykke
Comment[nl]=Taakplanner die crontab als backend gebruikt
Comment[pt]=Utilidade de agendamento de Tarefas que funciona sob o crontab
Comment[pt_BR]=Utilitário de agendamento de tarefas que utiliza o programa crontab como interface de programação para o Job Scheduler
Comment[sl]=Orodje za časovno razporejanje opravil, kiuporablja crontab
Comment[sq]=Mjet për planifikim aktesh, që përdor crontab-in si mekanizëm për të
Comment[sv]=Verktyg för schemaläggning av arbete som använder crontab som backend
Comment[tr]=Arka uç olarak crontab kullanan iş planlama yardımcı programı
Comment=Job scheduling utility which uses crontab as the backend
Exec=job-scheduler
Icon=job-scheduler
Categories=System;MX-Maintenance
Type=Application
