[Desktop Entry]
Encoding=UTF-8
Name[ca]=MX Service Manager
Name[de]=MX Service Manager
Name[el]=MX Διαχειριστής υπηρεσιών
Name[es]=MX Gestor de servicios
Name[es_ES]=MX Gestor de servicios
Name[fi]=MX Palvelu Manageri
Name[fr]=Gestionnaire de services MX - MX Service Manager
Name[fr_BE]=Gestionnaire de services MX - MX Service Manager
Name[gl_ES]=Xestor de servizos MX
Name[hu]=MX szolgáltatáskezelő
Name[it]=MX Gestore servizi
Name[ja]=MX サービスマネージャ
Name[nb]=MX tjenestebehandling
Name[nl]=MX Service Manager
Name[pl]=MX Menedżer Usług
Name[pt]=Gestor de serviços do MX
Name[pt_BR]=Gerenciador de Serviços do MX
Name[ru]=Менеджер служб MX
Name[ru_RU]=Менеджер служб MX
Name[sl]=MX upravljalnik storitev
Name[sq]=Përgjegjës Shërbimesh MX
Name[sv]=MX Tjänste-hanterare
Name[tr]=MX Servis Yönetici
Name=MX Service Manager
Comment[ca]=Activa o desactiva serveis manualment
Comment[de]=Dienste manuell aktivieren oder deaktivieren
Comment[el]=Ενεργοποίηση ή απενεργοποίηση υπηρεσιών
Comment[es]=Activar o desactivar servicios manualmente
Comment[es_ES]=Activar o desactivar servicios manualmente
Comment[fi]=Ota palvelut käyttöön tai poista ne käytöstä manuaalisesti
Comment[fr]=Active ou désactive manuellement des services.
Comment[fr_BE]=Active ou désactive manuellement des services.
Comment[gl_ES]=Activar ou desactivar servizos manualmente
Comment[hu]=Szolgáltatások be- és kikapcsolása manuálisan
Comment[it]=Abilita o disabilita i servizi manualmente
Comment[ja]=手動でサービスを有効／無効にします
Comment[nb]=Manuell behandling av tjenester
Comment[nl]=Services handmatig in- of uitschakelen
Comment[pl]=Ręcznie włącz albo wyłącz usługi
Comment[pt]=Ativar ou desativar manualmente os serviços
Comment[pt_BR]=O ‘MX Service Manager’ permite ativar ou desativar manualmente os serviços e os processos que estão sendo executados em segundo plano no sistema operacional
Comment[ru]=Включить или отключить службы вручную
Comment[ru_RU]=Включить или отключить службы вручную
Comment[sl]=Ročno vklapljanje in izklapljanje storitev
Comment[sq]=Aktivizoni, ose çaktivizoni dorazi shërbime
Comment[sv]=Aktivera eller avaktivera tjänster manuellt
Comment[tr]=Servisleri elle açıp kapatabilirsiniz
Comment=Manually enable or disable services
Exec=mx-service-manager
Terminal=false
Type=Application
Icon=mx-service-manager
Categories=GNOME;GTK;System;MX-Maintenance;
NoDisplay=false
