[Desktop Entry]
Encoding=UTF-8
Name[ca]=MX Boot Options
Name[cs]=MX Možnosti zavaděče
Name[da]=MX Opstartsvalgmuligheder
Name[de]=MX Boot Optionen
Name[el]=Ρυθμίσεις εκκίνησης MX
Name[es]=MX Opciones de Inicio
Name[es_ES]=MX Opciones de Arranque
Name[fi]=MX Käynnistysasetukset
Name[fr]=MX Options de démarrage - MX Boot Options
Name[fr_BE]=MX Options de démarrage - MX Boot Options
Name[gl_ES]=MX Opcións de arranque
Name[he_IL]=אפשרויות אתחול MX
Name[hi]=एमएक्स बूट विकल्प
Name[hu]=MX indítási paraméterek
Name[it]=MX Opzioni di Boot
Name[ja]=MX 起動設定ツール
Name[nb]=MX Oppstartsalternativer
Name[nl]=MX Opstart Opties
Name[nl_BE]=MX Boot Opties
Name[pl]=MX Opcje uruchamiania
Name[pt]=MX Opções de Arranque
Name[pt_BR]=Opções de Inicialização do MX
Name[ru]=MX Опции загрузчика
Name[sk]=MX Možnosti zavedenia
Name[sl]=MX Zagonske opcije
Name[sq]=Mundësi MX Nisjeje
Name[sv]=MX Startalternativ
Name[tr]=MX Açılış Seçenekleri
Name[zh_CN]=MX 启动选项
Name=MX Boot Options
Comment[ca]=Elecció de les opcions d'arrencada
Comment[cs]=Volby spouštění systému
Comment[es]=Opciones comunes de inicio
Comment[es_ES]=Opciones comunes de inicio
Comment[fr]=Choix courants pour le démarrage
Comment[fr_BE]=Choix courants pour le démarrage
Comment[hu]=Általános indítási lehetőségek
Comment[it]=Scelte di avvio comuni
Comment[ja]=通常の起動時のオプションです
Comment[nb]=Vanlige oppstartsalternativer
Comment[nl]=Veel voorkomende opstart keuzes
Comment[nl_BE]=Veelvoorkomende opstartkeuzes
Comment[pt]=Opções normais de arranque
Comment[pt_BR]=Defina os serviços que iniciarão junto com o sistema operacional
Comment[ru]=Часто используемые варианты запуска
Comment[sl]=Običajne zagonske izbire
Comment[sq]=Zgjedhje të rëndomta për gjatë nisjes
Comment[sv]=Vanliga start-alternativ
Comment[tr]=Yaygın başlatma seçenekleri
Comment[zh_CN]=常见的启动选择
Comment=Common start-up choices
Exec=mxbo-launcher
Terminal=false
Type=Application
Icon=mx-boot-options
Categories=GNOME;GTK;System;MX-Maintenance
NoDisplay=false
