[Desktop Entry]
Encoding=UTF-8
Name=MX Boot Options
Name[am]=MX Boot Options
Name[ar]=MX Boot Options
Name[bg]=MX Boot Options
Name[ca]=MX Boot Options
Name[cs]=MX Boot Options
Name[da]=MX Opstartsvalgmuligheder
Name[de]=MX Boot Optionen
Name[el]=MX Boot Options
Name[es]=MX Opciones de inicio
Name[et]=MX Boot Options
Name[eu]=MX Boot Options
Name[fa]=MX Boot Options
Name[fi]=MX Boot Options
Name[fr]=Options de démarrage MX
Name[he_IL]=MX Boot Options
Name[hi]=MX Boot Options
Name[hr]=MX Boot Options
Name[hu]=MX Boot Options
Name[id]=MX Boot Options
Name[is]=MX Boot Options
Name[it]=MX Opzioni di Boot
Name[ja]=MX Boot Options
Name[kk]=MX Boot Options
Name[ko]=MX Boot Options
Name[lt]=MX paleidimo parametrai
Name[mk]=MX Boot Options
Name[mr]=MX Boot Options
Name[nb]=MX Boot Options
Name[nl]=MX Opstart Opties
Name[pl]=MX Opcje uruchamiania
Name[pt_BR]=MX Opções de Inicialização
Name[pt]=MX-Opções de Arranque
Name[ro]=MX Boot Options
Name[ru]=MX Boot Options
Name[sk]=MX Možnosti zavedenia
Name[sl]=MX možnosti ob zagonu
Name[sq]=MX Boot Options
Name[sr]=MX Boot Options
Name[sv]=MX Startalternativ
Name[tr]=MX Boot Options
Name[uk]=MX Boot Options
Name[zh_CN]=MX Boot Options
Name[zh_TW]=MX Boot Options
Comment=Common start-up choices
Comment[am]=Common start-up choices
Comment[ar]=Common start-up choices
Comment[bg]=Common start-up choices
Comment[ca]=Opcions d'arrencada usuals
Comment[cs]=Common start-up choices
Comment[da]=Almindelige opstartsvalg
Comment[de]=Auswahl üblicher Start-Optionen
Comment[el]=Κοινές επιλογές εκκίνησης
Comment[es]=Selecciones comunes de inicio
Comment[et]=Common start-up choices
Comment[eu]=Common start-up choices
Comment[fa]=Common start-up choices
Comment[fi]=Common start-up choices
Comment[fr]=Choix de démarrage courants
Comment[he_IL]=Common start-up choices
Comment[hi]=Common start-up choices
Comment[hr]=Common start-up choices
Comment[hu]=Common start-up choices
Comment[id]=Common start-up choices
Comment[is]=Common start-up choices
Comment[it]=Opzioni di avvio comuni
Comment[ja]=Common start-up choices
Comment[kk]=Common start-up choices
Comment[ko]=Common start-up choices
Comment[lt]=Bendri paleidimo pasirinkimai
Comment[mk]=Common start-up choices
Comment[mr]=Common start-up choices
Comment[nb]=Common start-up choices
Comment[nl]=Veel voorkomende opstartkeuzes
Comment[pl]=Najczęściej wybierane opcje uruchamiania
Comment[pt_BR]=Escolhas comuns para inicialização
Comment[pt]=Opções mais comuns para o carregamento e arranque do sistema operativo [mx-boot-options]
Comment[ro]=Common start-up choices
Comment[ru]=Common start-up choices
Comment[sk]=Výber z volieb zavedenia systému
Comment[sl]=Pogosta izbire ob zagonu
Comment[sq]=Common start-up choices
Comment[sr]=Common start-up choices
Comment[sv]=Vanliga val vid start
Comment[tr]=Common start-up choices
Comment[uk]=Common start-up choices
Comment[zh_CN]=Common start-up choices
Comment[zh_TW]=Common start-up choices
Exec=mxbo-launcher
Terminal=false
Type=Application
Icon=mx-boot-options
Categories=GNOME;GTK;System;MX-Maintenance
NoDisplay=false
