[Desktop Entry]
Encoding=UTF-8
Name=MX Welcome
Name[ca]=MX Welcome
Name[de]=MX Willkommen
Name[el]=MX Welcome
Name[es]=MX Bienvenida
Name[fr]=MX Bienvenue
Name[it]=MX Benvenuto
Name[ja]=MX Welcome
Name[nl]=MX Welkom
Name[pt]=MX_Boas-vindas do MX
Name[ru]=MX Приветствие
Name[sv]=MX Välkommen
Comment=Display welcome message
Comment[ca]=Mostra un missatge de benvinguda
Comment[de]=Willkommensgruß anzeigen
Comment[el]=Εμφάνιση μήνυμα καλωσορίσματος
Comment[es]=Muestra un mensaje de bienvenida
Comment[fr]=Afficher un message de bienvenue
Comment[it]=Visualizza un messaggio di benvenuto
Comment[ja]=Welcome メッセージの表示
Comment[nl]=Laat welkomstbericht zien
Comment[pt]=Mostra uma messagem de boas-vindas
Comment[ru]=Показ приветственного сообщения
Comment[sv]=Visa välkomstmeddelande
Exec=bash -c 'sleep 5 && mx-welcome'
Terminal=false
Type=Application
Icon=mx-welcome
Categories=GNOME;GTK;System;MX-Setup;
NoDisplay=false
