[Desktop Entry]
Name[am]=MX የ ተጠቃሚ አስተዳዳሪ
Name[ca]=Administrador d'Usuaris MX
Name[cs]=MX Správa uživatelů
Name[da]=MX Brugerhåndtering
Name[de]=Benutzer-Manager für MX
Name[el]=MX Διαχειριστής χρήστη
Name[es]=MX Gestor de Usuarios
Name[es_ES]=MX Gestor de Usuarios
Name[fa]=مدیریت کاربر MX
Name[fi]=MX Käyttäjänhallinta
Name[fr]=MX Gestionnaire des utilisateurs - MX User Manager
Name[fr_BE]=MX Gestionnaire des utilisateurs - MX User Manager
Name[gl_ES]=MX Xestor de usuarios
Name[he_IL]=מנהל המשתמשים של MX
Name[hi]=एमएक्स उपयोक्ता प्रबंधक
Name[hu]=MX felhasználókezelő
Name[id]=Manajer Pengguna MX
Name[it]=MX Manager Utenti
Name[ja]=MX ユーザーマネージャー
Name[kk]=MX пайдаланушыларды басқару қолданбасы
Name[lt]=MX naudotojų tvarkytuvė
Name[nb]=MX Brukeradministrasjon
Name[nl]=MX Gebruikersbeheer
Name[nl_BE]=MX-gebruikersbeheerder
Name[pl]=MX Zarządzanie użytkownikiem
Name[pt]=MX-Gestor de utilizadores
Name[pt_BR]=Gerenciador de Usuários do MX
Name[ro]=MX Manager Utilizator
Name[ru]=MX Менеджер пользователей
Name[sk]=MX Správca Užívateľov
Name[sl]=MX Upravljalnik uporabnikov
Name[sq]=Përgjegjës MX Përdoruesish
Name[sv]=Användarhanterare för MX
Name[tr]=MX Kullanıcı Yöneticisi
Name[uk]=MX User Manager
Name[zh_CN]=MX 用户管理器
Name[zh_TW]=MX 管理使用者
Name=MX User Manager
Comment[af]=Eenvoudige gebruikerskonfigurasie
Comment[am]=ቀላል ተጠቃሚ ማሰናጃ
Comment[ar]=ﻂﻴﺴﺑ ﻡﺪﺨﺘﺴﻣ ﻦﻳﻮﻜﺗ
Comment[be]=Простая канфігурацыя карыстальніка
Comment[bg]=Проста потребителска конфигурация
Comment[bn]=সহজ ব্যবহারকারী কনফিগারেশন
Comment[bs]=Jednostavna korisnička konfiguracija
Comment[ca]=Configuració simple d'usuaris
Comment[ceb]=Yano nga configuration sa user
Comment[co]=Configurazione simplice d'utilizatore
Comment[cs]=Jednoduchá správa uživatelů
Comment[cy]=Cyfluniad defnyddiwr syml
Comment[da]=Simpel brugerkonfiguration
Comment[de]=Einfache Benutzer-Konfiguration
Comment[el]=Εύκολη διαμόρφωση παραμέτρων χρήστη
Comment[eo]=Simpla uzanta agordo
Comment[es]=Configuración simple de usuarios
Comment[es_ES]=Configurador sencillo de los usuarios
Comment[et]=Lihtne kasutaja konfiguratsioon
Comment[eu]=Erabiltzaileen konfigurazio sinplea
Comment[fa]=ﺮﺑﺭﺎﮐ ﻩﺩﺎﺳ ﯼﺪﻨﺑﺮﮑﯿﭘ
Comment[fi]=Yksinkertainen käyttäjän konfigurointi
Comment[fil]=Simpleng configuration ng user
Comment[fr]=Configuration simple des utilisateurs
Comment[fr_BE]=Configuration simple des utilisateurs
Comment[fy]=Ienfâldige brûkerskonfiguraasje
Comment[ga]=Cumraíocht úsáideora simplí
Comment[gd]=Rèiteachadh cleachdaiche sìmplidh
Comment[gl]=Configuración sinxela de usuario
Comment[gu]=સરળ વપરાશકર્તા રૂપરેખાંકન
Comment[ha]=Saitin mai amfani mai sauƙi
Comment[haw]=Hoʻonohonoho mea hoʻohana maʻalahi
Comment[he]=הטושפ שמתשמ תרוצת
Comment[he_IL]=הגדרות משתמש פשוטות
Comment[hi]=सरल उपयोगकर्ता विन्यास
Comment[hr]=Jednostavna konfiguracija korisnika
Comment[ht]=Senp konfigirasyon itilizatè
Comment[hu]=Egyszerű felhasználó konfigurálás
Comment[hy]=Օգտագործողի պարզ կոնֆիգուրացիա
Comment[id]=Konfigurasi pengguna sederhana
Comment[is]=Einföld notendastilling
Comment[it]=Semplice gestore di configurazione degli utenti
Comment[ja]=シンプルなユーザー設定ツールです
Comment[jv]=Konfigurasi pangguna sing prasaja
Comment[ka]=მარტივი მომხმარებლის კონფიგურაცია
Comment[kk]=Қарапайым пайдаланушы конфигурациясы
Comment[km]=ការកំណត់រចនាសម្ព័ន្ធអ្នកប្រើប្រាស់សាមញ្ញ
Comment[kn]=ಸರಳ ಬಳಕೆದಾರ ಸಂರಚನೆ
Comment[ko]=간단한 사용자 구성
Comment[ku]=Veavakirina bikarhêner a hêsan
Comment[ky]=Жөнөкөй колдонуучу конфигурациясы
Comment[lb]=Einfach Benotzerkonfiguratioun
Comment[lo]=ການu200bຕັ້ງu200bຄ່າu200bຜູ້u200bໃຊ້u200bງ່າຍu200bດາຍu200b
Comment[lt]=Paprastas naudotojų konfigūravimas
Comment[lv]=Vienkārša lietotāja konfigurācija
Comment[mg]=Fanofanana mpampiasa tsotra
Comment[mi]=whirihoranga kaiwhakamahi ngawari
Comment[mk]=Едноставна корисничка конфигурација
Comment[ml]=ലളിതമായ ഉപയോക്തൃ കോൺഫിഗറേഷൻ
Comment[mn]=Энгийн хэрэглэгчийн тохиргоо
Comment[mr]=साधे वापरकर्ता कॉन्फिगरेशन
Comment[ms]=Konfigurasi pengguna yang mudah
Comment[mt]=Konfigurazzjoni sempliċi tal-utent
Comment[my]=ရိုးရှင်းသောအသုံးပြုသူဖွဲ့စည်းပုံ
Comment[nb]=Enkel brukerbehandling
Comment[ne]=सरल प्रयोगकर्ता कन्फिगरेसन
Comment[nl]=Eenvoudige gebruikersconfiguratie
Comment[nl_BE]=Eenvoudige gebruikersconfiguratie
Comment[ny]=Kukonzekera kosavuta kwa ogwiritsa ntchito
Comment[or]=ସରଳ ବ୍ୟବହାରକାରୀ ସଂରଚନା
Comment[pa]=ਸਧਾਰਨ ਉਪਭੋਗਤਾ ਸੰਰਚਨਾ
Comment[pl]=Prosta konfiguracja użytkownika
Comment[ps]=ﺐﯿﺗﺮﺗ ﻲﮑﻧﻭﺭﺎﮐ ﻩﺩﺎﺳ ﺩ
Comment[pt]=Configuração simples de utilizadores [mx-user]
Comment[pt_BR]=Configurações e administração de usuários com o MX User Manager
Comment[ro]=Simplu configurator de conturi utilizator
Comment[ru]=Простая конфигурация пользователей
Comment[rw]=Ibikoresho byoroshye byabakoresha
Comment[sd]=ڪﺟڙﻮﺟ ﻲﺟ ڙﺪﻨڪ ﻝﺎﻤﻌﺘﺳﺍ ﻱﺩﺎﺳ
Comment[si]=සරල පරිශීලක වින්u200dයාසය
Comment[sk]=Jednoduchá správa užívateľov
Comment[sl]=Preprosto konfiguriranje uporabniških računov
Comment[sm]=Fa'aoga faigofie
Comment[sn]=Nyore mushandisi kugadzirisa
Comment[so]=Qaabeynta isticmaale fudud
Comment[sq]=Formësim përdoruesi të thjeshtë
Comment[sr]=Једноставна конфигурација корисника
Comment[st]=Tokiso e bonolo ea mosebelisi
Comment[su]=Konfigurasi pamaké basajan
Comment[sv]=Enkel användar-konfiguration
Comment[sw]=Usanidi rahisi wa mtumiaji
Comment[ta]=எளிய பயனர் கட்டமைப்பு
Comment[te]=సాధారణ వినియోగదారు కాన్ఫిగరేషన్
Comment[tg]=Конфигуратсияи оддии корбар
Comment[th]=การกำหนดค่าผู้ใช้อย่างง่าย
Comment[tk]=Userönekeý ulanyjy konfigurasiýasy
Comment[tr]=Basit kullanıcı yapılandırması
Comment[tt]=Гади кулланучы конфигурациясе
Comment[ug]=ﻰﺴﯩﻤﯩﻠﭘەﺳ ﻰﭼﯜﻜﺗەﻠﺸﯩﺋ ﻲﯨﺩﺩﺎﺋ
Comment[uk]=Проста конфігурація користувача
Comment[ur]=ﻦﺸﯾﺮﮕﯿﻔﻨﮐ ﻑﺭﺎﺻ ﮦﺩﺎﺳ
Comment[uz]=Oddiy foydalanuvchi konfiguratsiyasi
Comment[vi]=Cấu hình người dùng đơn giản
Comment[xh]=Uqwalaselo olulula lomsebenzisi
Comment[yi]=ןאַשיירעיגיפנאַק רעצינאַב טושפּ
Comment[yo]=Simple olumulo iṣeto ni
Comment[zh_CN]=简单的用户配置
Comment[zh_TW]=簡單的使用者設定
Comment=Simple user configuration
Exec=mx-user
Icon=mx-user
NoDisplay=false
Categories=System;MX-Maintenance;
Type=Application

