[Desktop Entry]
Name[am]=MX የ ተጠቃሚ አስተዳዳሪ
Name[ca]=Administrador d'Usuaris MX
Name[cs]=MX Správa uživatelů
Name[da]=MX Brugerhåndtering
Name[de]=Benutzer-Manager für MX
Name[el]=διαχειριστής του χρήστη για MX
Name[es]=MX Gestor de Usuarios
Name[es_ES]=MX Gestor de Usuarios
Name[fa]=مدیریت کاربر MX
Name[fi]=MX Käyttäjänhallinta
Name[fr]=MX Gestionnaire des utilisateurs - MX User Manager
Name[fr_BE]=MX Gestionnaire des utilisateurs - MX User Manager
Name[gl_ES]=MX Xestor de usuarios
Name[he_IL]=מנהל המשתמשים של MX
Name[hi]=एमएक्स उपयोक्ता प्रबंधक
Name[hu]=MX felhasználókezelő
Name[id]=Manajer Pengguna MX
Name[it]=MX Manager Utenti
Name[ja]=MX ユーザーマネージャー
Name[kk]=MX пайдаланушыларды басқару қолданбасы
Name[lt]=MX naudotojų tvarkytuvė
Name[nb]=MX Brukeradministrasjon
Name[nl]=MX Gebruikersbeheer
Name[nl_BE]=MX-gebruikersbeheerder
Name[pl]=MX Zarządzanie użytkownikiem
Name[pt]=MX-Gestor de utilizadores
Name[pt_BR]=Gerenciador de Usuários do MX
Name[ro]=MX Manager Utilizator
Name[ru]=MX Менеджер пользователей
Name[sk]=MX Správca Užívateľov
Name[sl]=MX Upravljanje uporabnikov
Name[sq]=Përgjegjës MX Përdoruesish
Name[sv]=Användarhanterare för MX
Name[tr]=MX Kullanıcı Yöneticisi
Name[uk]=MX User Manager
Name[zh_CN]=MX 用户管理器
Name[zh_TW]=MX 管理使用者
Name=MX User Manager
Comment[am]=ቀላል ተጠቃሚ ማሰናጃ
Comment[ca]=Configuració simple d'usuaris
Comment[cs]=Jednoduchá správa uživatelů
Comment[da]=Simpel brugerkonfiguration
Comment[de]=Einfache Benutzer-Konfiguration
Comment[el]=Απλή διαμόρφωση χρήστη
Comment[es]=Configuración simple de usuarios
Comment[es_ES]=Configurador sencillo de los usuarios
Comment[fr]=Configuration utilisateur simplifiée
Comment[fr_BE]=Configuration utilisateur simplifiée
Comment[hu]=Egyszerű felhasználó konfigurálás
Comment[it]=Semplice gestore di configurazione degli utenti
Comment[ja]=シンプルなユーザー設定ツールです
Comment[lt]=Paprastas naudotojų konfigūravimas
Comment[nb]=Enkel brukerbehandling
Comment[nl]=Eenvoudige gebruikersconfiguratie
Comment[nl_BE]=Eenvoudige gebruikersconfiguratie
Comment[pl]=Prosta konfiguracja użytkownika
Comment[pt]=Configuração simples de utilizadores [mx-user]
Comment[pt_BR]=Configurações e administração de usuários com o MX User Manager
Comment[ro]=Simplu configurator de conturi utilizator
Comment[ru]=Простая конфигурация пользователей
Comment[sk]=Jednoduchá správa užívateľov
Comment[sl]=Preprosto konfiguriranje uporabniških računov
Comment[sq]=Formësim përdoruesi të thjeshtë
Comment[sv]=Enkel användar-konfiguration
Comment[tr]=Basit kullanıcı yapılandırması
Comment[zh_TW]=簡單的使用者設定
Comment=Simple user configuration
Exec=mx-user-launcher
Icon=mx-user
NoDisplay=false
Categories=System;MX-Maintenance;
Type=Application

