[Unit]
Description=antiX live-USB save-state
After=umount.target
ConditionPathExists=/live/config/remasterable
RequiresMountsFor=/

[Service]
ExecStart=/bin/true
ExecStop=/live/etc/init.d/live-usb-save stop
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
