[Unit]
Description=check broadcom parts and adjust
After=local-fs.target
ConditionPathExists=/live/linux
ConditionPathExists=/usr/bin/BroadcomStartup
ConditionPathExists=/var/lib/q4os/service_livebroadcomstartup_enable.stp

[Service]
Type=oneshot
ExecStart=/usr/bin/BroadcomStartup
ExecStop=/bin/true

[Install]
WantedBy=multi-user.target
