[Unit]
Description=antiX live-USB persist autosave at shutdown
After=umount.target
ConditionPathExists=/live/config/save-persist
RequiresMountsFor=/

[Service]
ExecStart=/bin/true
ExecStop=/live/etc/init.d/persist-autosave stop
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
