Source: desktop-defaults-mx-common
Section: system
Priority: optional
Maintainer: dolphinoracle <dolphinoracle@gmail.com>
Build-Depends: debhelper (>= 9.20120115)
Standards-Version: 3.9.4
Homepage: http://antix.mepis.org

Package: desktop-defaults-mx-common
Architecture: all
Breaks:  desktop-defaults-mx-xfce-system (<< 20.06.01), desktop-defaults-xfce-mx17 (<< 0.7.17.9)
Replaces: desktop-defaults-mx-xfce-system (<< 20.06.01), desktop-defaults-xfce-mx17 (<< 0.7.17.9)
Description: common desktop defaults for MX Linux.
