[Desktop Entry]
Encoding=UTF-8
Name[am]=MX እንደገና መስሪያ cc
Name[ca]=MX RemasterCC
Name[cs]=MX RemasterCC
Name[de]=MX RemasterCC
Name[el]=MX RemasterCC
Name[es]=MX Remasterizar CC
Name[es_ES]=MX RemasterCC
Name[fr]=MX Centre de contrôle de la remastérisation - MX RemasterCC
Name[fr_BE]=MX Centre de contrôle de la remastérisation - MX RemasterCC
Name[hu]=MX lemezképbe rögzítés vezérlőközpont
Name[it]=MX RemasterCC
Name[ja]=MX リマスター CC
Name[nb]=MX RemasterCC
Name[nl]=MX RemasterCC
Name[nl_BE]=MX RemasterCC
Name[pl]=MX Remaster
Name[pt]=MX-Centro de Controlo de Recomposição
Name[pt_BR]=Centro de Controle para a Remasterização do MX
Name[ru]=MX Центр ремастеринга
Name[sk]=MX RemasterCC
Name[sl]=MX PredelavaCC
Name[sq]=MX RemasterCC
Name[sv]=MX RemasterCC
Name[tr]=MX RemasterCC
Name[zh_TW]=MX 重製控制中心
Name=MX RemasterCC
Comment[ca]=Persistència en USB autònom i eines per a gravar imatges ISO
Comment[cs]=LIVE persistence a nástroje pro remástrování
Comment[da]=Live-vedvarenhed og remastering-værktøjer
Comment[de]=Werkzeuge für Live (persistence) und Remaster
Comment[el]=ζωντανή persistence και εργαλεία για ρεμίξ.
Comment[es]=Persistencia viva y herramientas para grabar imágenes
Comment[es_ES]=Herramientas de remasterización y persistencia en vivo
Comment[fr]=Des outils pour persistance live et remastérisation
Comment[fr_BE]=Des outils pour persistance live et remastérisation
Comment[hu]=Live adatmegőrzési és lemezképbe rögzítési eszközök
Comment[it]=Strumenti per creare USB-Live (con persistenza) e ISO personalizzate
Comment[ja]=Live パーシステンスとリマスターのツールです
Comment[nb]=Verktøy for varig lagring og remastring
Comment[nl]=Live persistentie en remastering gereedschappen
Comment[pl]=Narzędzia do remasterowania i tworzenia trwałej instalacji na USB
Comment[pt]=Ferramentas de recomposição de imagens ISO e de persistência [mx-remastercc]
Comment[pt_BR]=Ferramenta de remasterização do sistema operacional para imagem ISO e de persistência MX RemasterCC
Comment[ru]=Инструменты для создания носителей с рабочей ОС и с сохранением данных ремастеринга
Comment[sk]=Nástroje pre LIVE persistenciu a remastering
Comment[sl]=Orodja za živo obstojnost in remasterizacijo
Comment[sq]=Mjete instalimi të përhershëm dhe ripërzierjeje
Comment[sv]=Live persistence och remastering verktyg.
Comment[tr]=Canlı kalıcılık ve yeniden düzenleme araçları
Comment[zh_TW]=將正在運行的系統設為持續版或重製版
Comment=Live persistence and remastering tools
Exec=mx-remastercc
Terminal=false
Type=Application
Icon=preferences-desktop
Categories=GNOME;GTK;System;MX-Live
NoDisplay=false

