Source: foliate
Section: gnome
Priority: optional
Maintainer: Jonathan Carter <jcc@debian.org>
Uploaders: Federico Ceratto <federico@debian.org>
Build-Depends: appstream <!nocheck>,
               debhelper-compat (= 13),
               desktop-file-utils,
               gjs,
               libadwaita-1-dev (>= 1.4),
               libgjs-dev,
               libgtk-4-dev (>= 4.12),
               libwebkitgtk-6.0-dev,
               meson
Standards-Version: 4.7.2
Rules-Requires-Root: no
Homepage: https://johnfactotum.github.io/foliate/
Vcs-Browser: https://salsa.debian.org/debian/foliate
Vcs-Git: https://salsa.debian.org/debian/foliate.git

Package: foliate
Architecture: all
Depends: gir1.2-adw-1 (>= 1.4),
         gir1.2-gtk-4.0 (>= 4.12),
         gir1.2-webkit-6.0,
         gjs,
         python3,
         ${misc:Depends}
Recommends: gnome-epub-thumbnailer
Description: simple and modern ebook viewer
 Foliate is an ebook reader with many features:
 .
  - View .epub, .mobi, .azw, and .azw3 files in two-page view or scrolled view
  - Fetch books from online catalogs using OPDS feeds
  - Customize font, line-spacing, margins, and brightness
  - Light, sepia, dark, and invert mode, or add your own custom themes
  - Reading progress slider with chapter marks and reading time prediction
  - Bookmarks and annotations
  - Find in book
  - Quick dictionary lookup with Wiktionary, Wikipedia, and dictd
  - Touchpad gestures—use two-finger swipe to turn the page
  - Basic text-to-speech support with eSpeak NG and Festival
  - Sync or backup reading progress and notes
  - Supports phones and tablets
