[Desktop Entry]
Encoding=UTF-8
Name=About MX Linux
Name[am]=About MX Linux
Name[ar]=About MX Linux
Name[bg]=About MX Linux
Name[ca]=About MX Linux
Name[cs]=About MX Linux
Name[da]=About MX Linux
Name[de]=About MX Linux
Name[el]=About MX Linux
Name[es]=About MX Linux
Name[et]=About MX Linux
Name[eu]=About MX Linux
Name[fa]=About MX Linux
Name[fi]=About MX Linux
Name[fr]=About MX Linux
Name[he_IL]=About MX Linux
Name[hi]=About MX Linux
Name[hr]=About MX Linux
Name[hu]=About MX Linux
Name[id]=About MX Linux
Name[is]=About MX Linux
Name[it]=About MX Linux
Name[ja]=About MX Linux
Name[kk]=About MX Linux
Name[ko]=About MX Linux
Name[lt]=About MX Linux
Name[mk]=About MX Linux
Name[mr]=About MX Linux
Name[nb]=About MX Linux
Name[nl]=About MX Linux
Name[pl]=About MX Linux
Name[pt_BR]=About MX Linux
Name[pt]=About MX Linux
Name[ro]=About MX Linux
Name[ru]=About MX Linux
Name[sk]=About MX Linux
Name[sl]=About MX Linux
Name[sq]=About MX Linux
Name[sr]=About MX Linux
Name[sv]=About MX Linux
Name[tr]=About MX Linux
Name[uk]=About MX Linux
Name[zh_CN]=About MX Linux
Name[zh_TW]=About MX Linux
Comment=View basic info about your MX install
Exec=mx-welcome --about
Terminal=false
Type=Application
Icon=mx-welcome
Categories=GNOME;GTK;System;MX-Setup;
NoDisplay=false
