[Desktop Entry]
Encoding=UTF-8
Name[ca]=Quant a MX Linux
Name[cs]=O systému MX Linux
Name[de]=Über MX Linux
Name[el]=Περί του MX Linux
Name[es]=Acerca de MX Linux
Name[es_ES]=Acerca de MX Linux
Name[fi]=Tietoja MX Linux
Name[fr]=À propos de MX Linux - About MX Linux
Name[fr_BE]=À propos de MX Linux - About MX Linux
Name[gl_ES]=Sobre MX Linux
Name[he_IL]=על לינוקס MX
Name[hu]=Az MX Linuxról
Name[it]=Informazioni su MX Linux
Name[ja]=MX Linux について
Name[nb]=Om MX Linux
Name[nl_BE]=Over  MX Linux
Name[pl]=Informacje o MX Linux
Name[pt]=Sobre o MX Linux
Name[pt_BR]=Sobre o MX Linux
Name[ru]=О системе MX Linux
Name[ru_RU]=О системе MX Linux
Name[sl]=O programu MX Linux
Name[sq]=Mbi MX Linux
Name[sv]=Om MX Linux
Name[tr]=MXLinux Hakkında
Name[zh_CN]=关于 MX Linux
Name=About MX Linux
Comment[ca]=Mostra informació bàsica de la instal·lació de MX 
Comment[cs]=Zobrazit základní informace o vaší instalaci MX
Comment[de]=Grundlegende Informationen über Ihre MX-Installation anzeigen
Comment[el]=Εμφάνιση βασικών πληροφοριών για την εγκατάσταση του MX
Comment[es]=Ver información básica sobre su instalación de MX
Comment[es_ES]=Ver información básica sobre su instalación de MX
Comment[fi]=Katso MX tietoja sinun asennuksesta
Comment[fr]=Afficher les informations de base de votre installation MX
Comment[fr_BE]=Afficher les informations de base de votre installation MX
Comment[gl_ES]=Ver información básica sobre a túa instalación de MX
Comment[he_IL]=הצגת מידע בסיסי על התקנת ה־MX שלך
Comment[hu]=Információk megjelenítése erről az MX telepítésről
Comment[it]=Visualizza le informazioni di base sulla tua installazione di MX
Comment[ja]=インストールした MX に関する基本情報を表示します
Comment[nb]=Vis grunnleggende informasjon om denne installasjonen av MX Linux
Comment[nl_BE]=Bekijk basisinformatie over uw MX-installatie
Comment[pl]=Wyświetl podstawowe informacje o Twojej instalacji MX
Comment[pt]=Ver informação básica sobre a sua instalação do MX
Comment[pt_BR]=Exibir as informações básicas sobre a instalação do MX
Comment[ru]=Просмотр основных сведений о вашей установке MX
Comment[ru_RU]=Просмотр основных сведений о вашей установке MX
Comment[sl]=Prikaz osnovnih podatkov o MX namestitvi
Comment[sq]=Shihni hollësi elementare mbi instalimin tuaj të MX-it
Comment[sv]=Visa grundläggande information om din MX installation
Comment[tr]=MX yüklemeniz hakkında temel bilgileri görüntüleyin
Comment[zh_CN]=查看关于 MX 安装的基本信息
Comment=View basic info about your MX install
Exec=mx-welcome --about
Terminal=false
Type=Application
Icon=mx-welcome
Categories=GNOME;GTK;System;MX-Setup;
NoDisplay=false
