[Desktop Entry]
Encoding=UTF-8
Name[am]=MX እንኳን ደህና መጡ
Name[ca]=MX Welcome 
Name[cs]=MX Vítejte
Name[da]=MX Velkomst
Name[de]=MX Willkommen
Name[el]=MX Welcome
Name[es]=MX Bienvenida
Name[es_ES]=Bienvenido a MX
Name[fa]=خوش امد گویی MX
Name[fi]=MX Tervetulo-ohjelma
Name[fr]=MX Centre d'accueil - MX Welcome
Name[fr_BE]=MX Centre d'accueil - MX Welcome
Name[gl_ES]=MX Dámosche a benvida
Name[he_IL]=תכנית קבלת הפנים של MX
Name[hi]=एमएक्स स्वागत स्क्रीन
Name[hu]=MX üdvözlet
Name[it]=MX Benvenuto
Name[ja]=MX ウェルカム
Name[kk]=MX қарсы алу қолданбасы
Name[lt]=MX pasveikinimas
Name[nb]=MX Velkommen
Name[nb_NO]=MX Velkommen
Name[nl]=MX Welkom
Name[nl_BE]=MX Welkom
Name[pl]=MX Powitanie
Name[pt]=MX-Boas-vindas
Name[pt_BR]=Seja Bem-Vindo(a) ao MX
Name[ru]=MX Приветствие
Name[sk]=MX Vitajte
Name[sl]=MX Dobrodošli
Name[sq]=Mirë se vini në MX Linux
Name[sv]=MX Välkommen
Name[th]=หน้าต้อนรับของ MX
Name[tr]=MX Karşılama
Name[vi]=MX Chào mừng
Name[zh_CN]=MX 欢迎界面
Name[zh_TW]=MX 歡迎你
Name=MX Welcome
Comment[am]=እንኳን ደህና መጡ መልእክት ማሳያ
Comment[ca]=Mostra un missatge de benvinguda
Comment[cs]=Zobrazuje uvítací obrazovku
Comment[da]=Vis velkomstmeddelelse
Comment[de]=Willkommensgruß anzeigen
Comment[el]=Εμφάνιση μήνυμα καλωσορίσματος
Comment[es]=Muestra un mensaje de bienvenida
Comment[es_ES]=Muestra un mensaje de bienvenida
Comment[fr]=Afficher un message d'accueil
Comment[fr_BE]=Afficher un message d'accueil
Comment[hu]=Üdvözlő üzenet megjelenítése
Comment[it]=Visualizza un messaggio di benvenuto
Comment[ja]=ウェルカムメッセージを表示します
Comment[lt]=Rodyti pasisveikinimo pranešimą
Comment[nb]=Vis velkomstbeskjed
Comment[nl]=Laat welkomstbericht zien
Comment[nl_BE]=Laat welkomstbericht zien
Comment[pl]=Wyświetl wiadomość powitalną
Comment[pt]=Mostra uma estampa de boas-vindas com ligações úteis e informação de acesso ao sistema [mx-welcome]
Comment[pt_BR]=Exibe a janela de boas-vindas com o MX Welcome
Comment[ru]=Показ приветственного сообщения
Comment[sk]=Zobraziť uvítaciu správu
Comment[sl]=Prikaži dobrodošlico
Comment[sq]=Shfaqni një mesazh mirëseardhjeje
Comment[sv]=Visa välkomstmeddelande
Comment[tr]=Karşılama mesajını göster
Comment[zh_CN]=显示欢迎信息
Comment[zh_TW]=顯示歡迎畫面
Comment=Display welcome message
Exec=mx-welcome
Terminal=false
Type=Application
Icon=mx-welcome
Categories=GNOME;GTK;System;MX-Setup;
NoDisplay=false
