[Desktop Entry]
Encoding=UTF-8
Name=MX Welcome
Name[af]=MX Welcome
Name[am]=MX እንኳን ደህና መጡ
Name[ar]=MX Welcome
Name[be]=MX Welcome
Name[bg]=MX Welcome
Name[bn]=MX Welcome
Name[ca]=MX Welcome
Name[cs]=MX Vítejte
Name[da]=MX Velkomst
Name[de]=MX Willkommen
Name[el]=MX Welcome
Name[en_GB]=MX Welcome
Name[eo]=MX Welcome
Name[es]=MX Bienvenida
Name[es_ES]=MX Bienvenida
Name[et]=MX Welcome
Name[eu]=MX Welcome
Name[fa]=MX Welcome
Name[fi]=MX Welcome
Name[fil_PH]=MX Welcome
Name[fr]=MX Centre d'accueil
Name[fr_BE]=MX Welcome
Name[fr_FR]=MX Welcome
Name[gl_ES]=MX Welcome
Name[gu]=MX Welcome
Name[he]=MX Welcome
Name[he_IL]=MX Welcome
Name[hi]=MX Welcome
Name[hr]=MX Welcome
Name[hu]=MX üdvözlet
Name[id]=MX Welcome
Name[is]=MX Welcome
Name[it]=MX Benvenuto
Name[ja]=MX Welcome
Name[kk]=MX Welcome
Name[ko]=MX Welcome
Name[lt]=MX pasveikinimas
Name[mk]=MX Welcome
Name[mr]=MX Welcome
Name[nb]=MX Welcome
Name[nb_NO]=MX Welcome
Name[nl]=MX Welkom
Name[nl_BE]=MX Welcome
Name[or]=MX Welcome
Name[pl]=MX Powitanie
Name[pt_BR]=MX Boas-vindas
Name[pt]=MX-Boas-vindas
Name[pt_BR]=MX Welcome
Name[ro]=MX Welcome
Name[ru]=MX Приветствие
Name[sk]=MX Vitajte
Name[sl]=MX Dobrodošli
Name[so]=MX Welcome
Name[sq]=MX Welcome
Name[sr]=MX Welcome
Name[sv]=MX Välkommen
Name[th]=MX Welcome
Name[tr]=MX Welcome
Name[uk]=MX Welcome
Name[vi]=MX Welcome
Name[zh_CN]=MX Welcome
Name[zh_HK]=MX Welcome
Name[zh_TW]=MX 歡迎你
Comment=Display welcome message
Comment[af]=Display welcome message
Comment[am]=እንኳን ደህና መጡ መልእክት ማሳያ
Comment[ar]=Display welcome message
Comment[be]=Display welcome message
Comment[bg]=Display welcome message
Comment[bn]=Display welcome message
Comment[ca]=Mostra un missatge de benvinguda
Comment[cs]=Zobrazuje uvítací obrazovku
Comment[da]=Vis velkomstmeddelelse
Comment[de]=Willkommensgruß anzeigen
Comment[el]=Εμφάνιση μήνυμα καλωσορίσματος
Comment[en_GB]=Display welcome message
Comment[eo]=Display welcome message
Comment[es]=Muestra un mensaje de bienvenida
Comment[es_ES]=Muestra un mensaje de bienvenida
Comment[et]=Display welcome message
Comment[eu]=Display welcome message
Comment[fa]=Display welcome message
Comment[fi]=Display welcome message
Comment[fil_PH]=Display welcome message
Comment[fr]=Afficher un message d'accueil
Comment[fr_BE]=Display welcome message
Comment[fr_FR]=Display welcome message
Comment[gl_ES]=Display welcome message
Comment[gu]=Display welcome message
Comment[he]=Display welcome message
Comment[he_IL]=Display welcome message
Comment[hi]=Display welcome message
Comment[hr]=Display welcome message
Comment[hu]=Üdvözlő üzenet megjelenítése
Comment[id]=Display welcome message
Comment[is]=Display welcome message
Comment[it]=Visualizza un messaggio di benvenuto
Comment[ja]=Welcome メッセージの表示
Comment[kk]=Display welcome message
Comment[ko]=Display welcome message
Comment[ku]=Display welcome message
Comment[lt]=Rodyti pasisveikinimo pranešimą
Comment[mk]=Display welcome message
Comment[mr]=Display welcome message
Comment[nb]=Display welcome message
Comment[nb_NO]=Display welcome message
Comment[nl]=Laat welkomstbericht zien
Comment[nl_BE]=Display welcome message
Comment[or]=Display welcome message
Comment[pl]=Wyświetl wiadomość powitalną
Comment[pt]=Mostra uma estampa de boas-vindas com ligações úteis e informação de acesso ao sistema [mx-welcome]
Comment[pt_BR]=Mostra a janela de boas-vindas [mx-welcome]
Comment[ro]=Display welcome message
Comment[ru]=Показ приветственного сообщения
Comment[sk]=Zobraziť uvítaciu správu
Comment[sl]=Prikaži dobrodošlico
Comment[so]=Display welcome message
Comment[sq]=Display welcome message
Comment[sr]=Display welcome message
Comment[sv]=Visa välkomstmeddelande
Comment[th]=Display welcome message
Comment[tr]=Display welcome message
Comment[uk]=Display welcome message
Comment[vi]=Display welcome message
Comment[zh_CN]=Display welcome message
Comment[zh_HK]=Display welcome message
Comment[zh_TW]=顯示歡迎畫面
Exec=mx-welcome
Terminal=false
Type=Application
Icon=mx-welcome
Categories=GNOME;GTK;System;MX-Setup;
NoDisplay=false
