[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/octet-stream;
Actions=md5sumfile;sha256sumfile;sha512sumfile;sha1sumfile
X-KDE-AuthorizeAction=shell_access
X-KDE-Submenu=File Checksum

[Desktop Action md5sumfile]
Name=MD5
Icon=utilities-terminal
Exec=konsole -e bash -c 'md5sum "${@}"; ANYKEY="Press any key to close"; ANYKEY=$(gettext -d mx-goodies "$ANYKEY"); echo; read -n 1 -s -r -p "$ANYKEY"' bash %F

[Desktop Action sha256sumfile]
Name=SHA256
Icon=utilities-terminal
Exec=konsole -e bash -c 'sha256sum "${@}"; ANYKEY="Press any key to close"; ANYKEY=$(gettext -d mx-goodies "$ANYKEY"); echo; read -n 1 -s -r -p "$ANYKEY"' bash %F

[Desktop Action sha512sumfile]
Name=SHA512
Icon=utilities-terminal
Exec=konsole -e bash -c 'sha512sum "${@}"; ANYKEY="Press any key to close"; ANYKEY=$(gettext -d mx-goodies "$ANYKEY"); echo; read -n 1 -s -r -p "$ANYKEY"' bash %F

[Desktop Action sha1sumfile]
Name=SHA1
Icon=utilities-terminal
Exec=konsole -e bash -c 'sha1sum "${@}"; ANYKEY="Press any key to close"; ANYKEY=$(gettext -d mx-goodies "$ANYKEY"); echo; read -n 1 -s -r -p "$ANYKEY"' bash %F

