[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/vnd.debian.binary-package;
Actions=installDebs;
X-KDE-AuthorizeAction=shell_access

[Desktop Action installDebs]
TryExec=konsole
Exec=konsole -e bash -c 'sudo apt install "${@}"; ANYKEY="Press any key to close"; ANYKEY=$(gettext -d mx-goodies "$ANYKEY"); echo; read -n 1 -s -r -p "$ANYKEY"' bash %F
Icon=package-install
Name=Install Deb Files
Name[ar]=تثبيت ملفات ديب
Name[ca]=Instal·lar arxius de Deb
Name[ca@valencia]=Instal·lar arxius de Deb
Name[da]=Installer Deb filer
Name[de]=Installieren Sie Deb-Dateien
Name[el]=Εγκατάσταση αρχείων Deb
Name[en_GB]=Install Deb Files
Name[es]=Instalar archivos Deb
Name[fa]=نصب فایل های Deb
Name[fi]=Asenna Deb-tiedostot
Name[fr]=Installer les fichiers Deb
Name[he]=הפעל בתוךהתקן קבצי Deb
Name[hu]=Deb fájlok telepítése
Name[id]=Instal File Deb
Name[it]=Installa i file deb
Name[ja]=debファイルをインストールする
Name[ko]=Deb 파일 설치
Name[nl]=Deb-bestanden installeren
Name[pl]=Zainstaluj pliki Deb
Name[ro]=Instalați fișiere Deb
Name[ru]=Установка деблеевых файлов
Name[sl]=Nainštalujte súbory Deb
Name[sv]=Installera Deb-filer
Name[uk]=Встановити Deb файли
Name[x-test]=xxInstall Deb Filesxx
Name[zh_CN]=安裝Deb文件
Name[zh_TW]=安装Deb文件

Comment=Install Deb Files
Comment[ca]=Instal·lar arxius de Deb
Comment[ca@valencia]=Instal·lar arxius de Deb
Comment[da]=Installer Deb filer
Comment[de]=Installieren Sie Deb-Dateien
Comment[el]=Εγκατάσταση αρχείων Deb
Comment[en_GB]=Install Deb Files
Comment[es]=Instalar archivos Deb
Comment[et]=Konsoolis käivitamine
Comment[fa]=نصب فایل های Deb
Comment[fi]=Asenna Deb-tiedostot
Comment[fr]=Installer les fichiers Deb
Comment[he]=הפעל באמצעותהתקן קבצי Deb
Comment[it]=Installa i file deb
Comment[ko]=Deb 파일 설치
Comment[nl]=Deb-bestanden installeren
Comment[pl]=Zainstaluj pliki Deb
Comment[ru]=Установка деблеевых файлов
Comment[sv]=Installera Deb-filer
Comment[uk]=Встановити Deb файли
Comment[x-test]=xxInstall Deb Filesxx
Comment[zh_CN]=安裝Deb文件
Comment[zh_TW]=安装Deb文件
