[Desktop Entry]
Name=MX Fix GPG keys
Name[am]=MX Fix GPG keys
Name[ar]=MX Fix GPG keys
Name[bg]=MX Fix GPG keys
Name[ca]=MX Fix GPG keys
Name[cs]=MX Fix GPG keys
Name[da]=MX Ret GPG-nøgler
Name[de]=MX Fix GPG Schlüssel
Name[el]=MX Fix GPG keys
Name[es]=MX Arreglar claves GPG
Name[et]=MX Fix GPG keys
Name[eu]=MX Fix GPG keys
Name[fa]=MX Fix GPG keys
Name[fi]=MX Korjaa GPG avaimet
Name[fr]=MX Réparation des clés GPG
Name[he_IL]=MX Fix GPG keys
Name[hi]=MX Fix GPG keys
Name[hr]=MX Fix GPG keys
Name[hu]=MX Fix GPG keys
Name[id]=MX Fix GPG keys
Name[is]=MX Fix GPG keys
Name[it]=MX Chiavi GPG
Name[ja_JP]=MX Fix GPG keys
Name[ja]=MX Fix GPG keys
Name[kk]=MX Fix GPG keys
Name[ko]=MX Fix GPG keys
Name[lt]=MX Fix GPG keys
Name[mk]=MX Fix GPG keys
Name[mr]=MX Fix GPG keys
Name[nb]=MX Fix GPG keys
Name[nl]=MX Fix GPG sleutels
Name[pl]=MX Naprawa kluczy GPG
Name[pt_BR]=MX consertar chaves GPG
Name[pt]=Chaves GPG
Name[ro]=MX Fix GPG keys
Name[ru]=MX Fix GPG keys
Name[sk]=MX Fix GPG keys
Name[sl]=MX popravi GPG ključe
Name[sq]=MX Fix GPG keys
Name[sr]=MX Fix GPG keys
Name[sv]=MX Fix GPG keys
Name[tr]=MX Fix GPG keys
Name[uk]=MX Fix GPG keys
Name[zh_CN]=MX Fix GPG keys
Name[zh_TW]=MX Fix GPG keys
Comment=Check and install missing apt GPG keys
Comment[am]=Check and install missing apt GPG keys
Comment[ar]=Check and install missing apt GPG keys
Comment[bg]=Check and install missing apt GPG keys
Comment[ca]=Comprova i instal·la les claus GPG d'apt absents
Comment[cs]=Check and install missing apt GPG keys
Comment[da]=Tjek og installer manglende apt GPG-nøgler
Comment[de]=Überprüfung und Installation fehlender apt GPG Schlüssel
Comment[el]=Έλεγχος και εγκατάσταση των κλειδιών GPG που λείπουν
Comment[es]=Verificar e instalar claves GPG faltantes de apt
Comment[et]=Check and install missing apt GPG keys
Comment[eu]=Check and install missing apt GPG keys
Comment[fa]=Check and install missing apt GPG keys
Comment[fi]=Tarkista ja asenna puuttuvat apt GPG avaimet
Comment[fr]=Vérifier et installer des clés GPG pour apt
Comment[he_IL]=Check and install missing apt GPG keys
Comment[hi]=Check and install missing apt GPG keys
Comment[hr]=Check and install missing apt GPG keys
Comment[hu]=Check and install missing apt GPG keys
Comment[id]=Check and install missing apt GPG keys
Comment[is]=Check and install missing apt GPG keys
Comment[it]=Controlla e installa le chiavi GPG mancanti
Comment[ja_JP]=Check and install missing apt GPG keys
Comment[ja]=Check and install missing apt GPG keys
Comment[kk]=Check and install missing apt GPG keys
Comment[ko]=Check and install missing apt GPG keys
Comment[lt]=Check and install missing apt GPG keys
Comment[mk]=Check and install missing apt GPG keys
Comment[mr]=Check and install missing apt GPG keys
Comment[nb]=Check and install missing apt GPG keys
Comment[nl]=Controleer en installeer ontbrekende GPG sleutels
Comment[pl]=Sprawdź i zainstaluj brakujące klucze GPG dla apt
Comment[pt_BR]=Verificar e instalar chaves GPG faltando [checkaptgpg]
Comment[pt]=Verificar chaves GPG do apt e instalar chaves em falta [checkaptgpg]
Comment[ro]=Check and install missing apt GPG keys
Comment[ru]=Check and install missing apt GPG keys
Comment[sk]=Check and install missing apt GPG keys
Comment[sl]=Popravi in namesti manjkajoče apt GPG ključe
Comment[sq]=Check and install missing apt GPG keys
Comment[sr]=Check and install missing apt GPG keys
Comment[sv]=Kolla och installera saknade apt GPG keys
Comment[tr]=Check and install missing apt GPG keys
Comment[uk]=Check and install missing apt GPG keys
Comment[zh_CN]=Check and install missing apt GPG keys
Comment[zh_TW]=Check and install missing apt GPG keys
GenericName=Check for and install missing apt GPG keys
GenericName[en_US]=Check for and install missing apt GPG keys
GenericName[fr]=Vérifier les clés GPG pour APT/ Synaptic
GenericName[de]=Kontrollieren die GPG-Schlüssel für APT/ Synaptic
GenericName[es]=Comprobar las llaves GPG para APT/ Synaptic
GenericName[nl]=Controleer de GPG sleutels voor APT/Synaptic
GenericName[it]=Controllare le chiavi GPG per APT/Synaptic
GenericName[ca]=Comprovar les claus GPG per APT/ Synaptic
GenericName[pl]=Sprawdź i zainstaluj brakujące klucze GPG dla APT i Synaptic
Exec=pkexec checkaptgpg --wait-at-end
#Exec=su-to-root -X -c "x-terminal-emulator -e 'bash checkaptgpg --wait-at-end'"
#Exec=/bin/echo -en 'Root ' && su -c '/bin/bash /usr/bin/checkaptgpg --wait-at-end'
Terminal=true
#Terminal=false
Icon=GPG-Key4
Type=Application
Categories=PackageManager;System;
OnlyShowIn=KDE;
