[Desktop Entry]
Encoding=UTF-8
Name[af]=Stelsel sleutelbord
Name[am]=የስርዓት ቁልፍ ሰሌዳ
Name[ar]=ﻡﺎﻈﻨﻟﺍ ﺢﻴﺗﺎﻔﻣ ﺔﺣﻮﻟ
Name[be]=Сістэмная клавіятура
Name[bg]=Системна клавиатура
Name[bn]=সিস্টেম কীবোর্ড
Name[bs]=Sistemska tastatura
Name[ca]=Teclat de Sistema
Name[ceb]=Sistema nga Keyboard
Name[co]=Tastiera di sistema
Name[cs]=Systémová klávesnice
Name[cy]=Allweddell System
Name[da]=Systemtastatur
Name[de]=Systemtastatur
Name[el]=Πληκτρολόγιο συστήματος
Name[eo]=Sistema Klavaro
Name[es]=Teclado del Sistema
Name[es_ES]=Teclado del sistema
Name[et]=Süsteemi klaviatuur
Name[eu]=Sistemaren teklatua
Name[fa]=ﻢﺘﺴﯿﺳ ﺪﯿﻠﮐ ﻪﺤﻔﺻ
Name[fi]=Järjestelmän näppäimistö
Name[fr]=Clavier du système
Name[fr_BE]=Clavier du système
Name[fy]=Systeem toetseboerd
Name[ga]=Méarchláir an Chórais
Name[gd]=Meur-chlàr an t-siostaim
Name[gl]=Teclado do sistema
Name[gl_ES]=Teclado do sistema
Name[gu]=સિસ્ટમ કીબોર્ડ
Name[ha]=Allon madannai na tsari
Name[haw]=Pūnaehana Keyboard
Name[he]=תכרעמ תדלקמ
Name[he_IL]=מקלדת המערכת
Name[hi]=सिस्टम कुंजीपटल
Name[hr]=Tipkovnica sustava
Name[ht]=Sistèm klavye
Name[hu]=Rendszer billentyűzet
Name[hy]=Համակարգի ստեղնաշար
Name[id]=Papan Ketik Sistem
Name[is]=Kerfislyklaborð
Name[it]=Tastiera di Sistema
Name[ja]=キーボードの設定
Name[jv]=Sistem Keyboard
Name[ka]=სისტემის კლავიატურა
Name[kk]=Жүйелік пернетақта
Name[km]=ក្តារចុចប្រព័ន្ធ
Name[kn]=ಸಿಸ್ಟಮ್ ಕೀಬೋರ್ಡ್
Name[ko]=시스템 키보드
Name[ku]=Klavyeya pergalê
Name[ky]=Системалык баскычтоп
Name[lo]=ແປ້ນພິມລະບົບ
Name[lt]=Sistemos klaviatūra
Name[lv]=Sistēmas tastatūra
Name[mi]=Papapātuhi Pūnaha
Name[mk]=Системска тастатура
Name[ml]=സിസ്റ്റം കീബോർഡ്
Name[mn]=Системийн гар
Name[mr]=सिस्टम कीबोर्ड
Name[ms]=Papan Kekunci Sistem
Name[mt]=Tastiera tas-Sistema
Name[my]=စနစ်ကီးဘုတ်
Name[nb]=Systemtastatur
Name[ne]=प्रणाली किबोर्ड
Name[nl]=Systeem Toetsenbord
Name[nl_BE]=Systeem Toetsenbord
Name[ny]=Kiyibodi ya System
Name[or]=ସିଷ୍ଟମ୍ କୀବୋର୍ଡ୍ |
Name[pa]=ਸਿਸਟਮ ਕੀਬੋਰਡ
Name[pl]=Klawiatura systemowa
Name[ps]=ډﺭﻮﺒﯿﮐ ﻢټﺴﯿﺳ ﺩ
Name[pt]=Teclado do sistema
Name[pt_BR]=Configurações do Teclado do Sistema
Name[ro]=Tastatura de sistem
Name[ru]=Системная клавиатура
Name[ru_RU]=Системная клавиатура
Name[rw]=Mwandikisho ya sisitemu
Name[sd]=ڊﺭﻮﺑ ﻲڪ ﻢٽﺴﺳ
Name[si]=පද්ධති යතුරු පුවරුව
Name[sk]=Systémová klávesnica
Name[sl]=Tipkovnica
Name[so]=Kiiboodhka Nidaamka
Name[sq]=Tastierë Sistemi
Name[sr]=Системска тастатура
Name[st]=Keyboard ea Sisteme
Name[su]=Kibor Sistim
Name[sv]=System-tangentbord
Name[sw]=Kibodi ya Mfumo
Name[ta]=கணினி விசைப்பலகை
Name[te]=సిస్టమ్ కీబోర్డ్
Name[tg]=Клавиатураи система
Name[th]=แป้นพิมพ์ระบบ
Name[tk]=Ulgam klawiaturasy
Name[tr]=Sistem Klavyesi
Name[tt]=Система клавиатурасы
Name[ug]=ﻰﺴﯩﺘﺧﺎﺗ ﺎﻜﭘﯘﻧﯘﻛ ﺎﻤﯧﺘﺴﯩﺳ
Name[uk]=Системна клавіатура
Name[ur]=ﮈﺭﻮﺑ ﯽﮐ ﻢﭩﺴﺳ
Name[uz]=Tizim klaviaturasi
Name[vi]=Bàn phím hệ thống
Name[xh]=Ikhibhodi yeNkqubo
Name[yi]=רוטאַיוואַלק םעטסיס
Name[yo]=Keyboard System
Name[zh_CN]=系统键盘
Name[zh_TW]=系統鍵盤
Name=System Keyboard
Comment[af]=Stel stelselsleutelbord op
Comment[am]=የስርዓት ቁልፍ ሰሌዳውን ያዋቅሩ
Comment[ar]=ﻡﺎﻈﻨﻟﺍ ﺢﻴﺗﺎﻔﻣ ﺔﺣﻮﻟ ﻦﻳﻮﻜﺗ
Comment[be]=Наладзіць сістэмную клавіятуру
Comment[bg]=Конфигуриране на системната клавиатура
Comment[bn]=সিস্টেম কীবোর্ড কনফিগার করুন
Comment[bs]=Konfigurišite sistemsku tastaturu
Comment[ca]=Configura el teclat de Sistema
Comment[ceb]=I-configure ang System Keyboard
Comment[co]=Configurate u Tastiera di u Sistema
Comment[cs]=Nastavení systémové klávesnice 
Comment[cy]=Ffurfweddu Allweddell System
Comment[da]=Konfigurer systemets tastatur
Comment[de]=Systemtastatur konfigurieren
Comment[el]=Ρύθμιση πληκτρολογίου συστήματος
Comment[eo]=Agordi Sisteman Klavaron
Comment[es]=Configurar Teclado del Sistema
Comment[es_ES]=Configurar el teclado del sistema
Comment[et]=Süsteemi klaviatuuri konfigureerimine
Comment[eu]=Konfiguratu sistema teklatua
Comment[fa]=ﻢﺘﺴﯿﺳ ﺪﯿﻠﮐ ﻪﺤﻔﺻ ﯼﺪﻨﺑﺮﮑﯿﭘ
Comment[fi]=Määritä järjestelmän näppäimistö
Comment[fil]=I-configure ang System Keyboard
Comment[fr]=Configurer le clavier du système
Comment[fr_BE]=Configurer le clavier du système
Comment[fy]=Systeemtoetseboerd ynstelle
Comment[ga]=Cumraigh Méarchláir an Chórais
Comment[gd]=Dèan rèiteachadh air meur-chlàr an t-siostaim
Comment[gl]=Configurar o teclado do sistema
Comment[gl_ES]=Configurar o teclado do sistema
Comment[gu]=સિસ્ટમ કીબોર્ડ ગોઠવો
Comment[ha]=Sanya Allon madannai na tsari
Comment[haw]=E hoʻonohonoho i ka papa keyboard
Comment[he]=תכרעמה תדלקמ תא רדגה
Comment[he_IL]=הגדרת מקלדת המערכת
Comment[hi]=सिस्टम कीबोर्ड कॉन्फ़िगर करें
Comment[hr]=Konfigurirajte tipkovnicu sustava
Comment[ht]=Konfigure sistèm klavye
Comment[hu]=Rendszer billentyűzet beállítása
Comment[hy]=Կարգավորել համակարգի ստեղնաշարը
Comment[id]=Konfigurasikan Keyboard Sistem
Comment[is]=Stilla kerfislyklaborð
Comment[it]=Configura la tastiera di sistema
Comment[ja]=使用するキーボートの種類や配列を設定します
Comment[jv]=Konfigurasi Keyboard Sistem
Comment[ka]=სისტემის კლავიატურის კონფიგურაცია
Comment[kk]=Жүйе пернетақтасын конфигурациялау
Comment[km]=កំណត់រចនាសម្ព័ន្ធក្តារចុចប្រព័ន្ធ
Comment[kn]=ಸಿಸ್ಟಮ್ ಕೀಬೋರ್ಡ್ ಅನ್ನು ಕಾನ್ಫಿಗರ್ ಮಾಡಿ
Comment[ko]=시스템 키보드 구성
Comment[ku]=Klavyeya Pergalê Saz bike
Comment[ky]=Системалык баскычтопту конфигурациялоо
Comment[lb]=System Keyboard konfiguréieren
Comment[lo]=ຕັ້ງຄ່າແປ້ນພິມລະບົບ
Comment[lt]=Konfigūruoti sistemos klaviatūrą
Comment[lv]=Konfigurējiet sistēmas tastatūru
Comment[mg]=Ampifanaraho ny System Keyboard
Comment[mi]=Whirihorahia te papapātuhi Pūnaha
Comment[mk]=Конфигурирајте ја системската тастатура
Comment[ml]=സിസ്റ്റം കീബോർഡ് കോൺഫിഗർ ചെയ്യുക
Comment[mn]=Системийн гарыг тохируулах
Comment[mr]=सिस्टम कीबोर्ड कॉन्फिगर करा
Comment[ms]=Konfigurasi Papan Kekunci Sistem
Comment[mt]=Ikkonfigura t-Tastiera tas-Sistema
Comment[my]=စနစ်ကီးဘုတ်ကို စီစဉ်သတ်မှတ်ပါ။
Comment[nb]=Sett opp systemets tastatur
Comment[ne]=प्रणाली किबोर्ड कन्फिगर गर्नुहोस्
Comment[nl]=Configureer Systeem Toetsenbord
Comment[nl_BE]=Configureer Systeem Toetsenbord
Comment[ny]=Konzani Kiyibodi Yadongosolo
Comment[or]=ସିଷ୍ଟମ୍ କୀବୋର୍ଡ୍ ବିନ୍ୟାସ କରନ୍ତୁ |
Comment[pa]=ਸਿਸਟਮ ਕੀਬੋਰਡ ਕੌਂਫਿਗਰ ਕਰੋ
Comment[pl]=Skonfiguruj klawiaturę systemową
Comment[ps]=ﺉړﮐ ﻢﯿﻈﻨﺗ ډﺭﻮﺒﯿﮐ ﻢټﺴﯿﺳ ﺩ
Comment[pt]=Configurar o teclado do sistema
Comment[pt_BR]=Configurar o teclado do sistema
Comment[ro]=Configurați tastatura de sistem
Comment[ru]=Настроить системную клавиатуру
Comment[ru_RU]=Настроить системную клавиатуру
Comment[rw]=Kugena Sisitemu ya Mwandikisho
Comment[sd]=ﻮﻳڏ ﺐﻴﺗﺮﺗ ڊﺭﻮﺒﻴڪ ﻢٽﺴﺳ
Comment[si]=පද්ධති යතුරු පුවරුව වින්u200dයාස කරන්න
Comment[sk]=Konfigurácia systémovej klávesnice
Comment[sl]=Konfiguriraj sistemsko tipkovnico
Comment[sm]=Fa'atulaga le Keyboard System
Comment[sn]=Gadzirisa System Keyboard
Comment[so]=Habee Kiiboodhka Nidaamka
Comment[sq]=Formësoni Tastierë Sistemi
Comment[sr]=Конфигуришите системску тастатуру
Comment[st]=Lokisa Keyboard ya Sistimi
Comment[su]=Konpigurasikeun kibor System
Comment[sv]=Konfigurera System-tangentbord
Comment[sw]=Sanidi Kibodi ya Mfumo
Comment[ta]=கணினி விசைப்பலகையை உள்ளமைக்கவும்
Comment[te]=సిస్టమ్ కీబోర్డ్u200cను కాన్ఫిగర్ చేయండి
Comment[tg]=Клавиатураи системаро танзим кунед
Comment[th]=กำหนดค่าแป้นพิมพ์ระบบ
Comment[tk]=Ulgam klawiaturasyny sazlaň
Comment[tr]=Sistem Klavyesini Yapılandırma
Comment[tt]=Система клавиатурасын конфигурацияләгез
Comment[ug]=ﯓەﻠﭘەﺳ ﻰﻨﯩﺴﯩﺘﺧﺎﺗ ﺎﻜﭘﯘﻧﯘﻛ ﺎﻤﯧﺘﺴﯩﺳ
Comment[uk]=Налаштувати системну клавіатуру
Comment[ur]=۔ﮟﯾﺩ ﺐﯿﺗﺮﺗ ﻮﮐ ﮈﺭﻮﺑ ﯽﮐ ﻢﭩﺴﺳ
Comment[uz]=Tizim klaviaturasini sozlash
Comment[vi]=Định cấu hình bàn phím hệ thống
Comment[xh]=Qwalasela ikhibhodi yesixokelelwano
Comment[yi]=רוטאַיוואַלק םעטסיס רעיגיפנאַק
Comment[yo]=Tunto System Keyboard
Comment[zh_CN]=配置系统键盘
Comment[zh_TW]=配置系統鍵盤
Comment=Configure System Keyboard
Exec=system-keyboard-qt-launcher
Type=Application
Icon=system-keyboard-qt
Path=
Terminal=false
NoDisplay=false
StartupNotify=false
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;MX-Setup;
