Source: easy-rsa
Section: utils
Priority: optional
Maintainer: Steven Pusser <stevep@mxlinux.org>
XSBC-Original-Maintainer: Lance Lin <lq27267@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0
Rules-Requires-Root: no
Homepage: https://github.com/OpenVPN/easy-rsa
Vcs-Git: https://salsa.debian.org/debian/easy-rsa.git
Vcs-Browser: https://salsa.debian.org/debian/easy-rsa

Package: easy-rsa
Architecture: all
Multi-Arch: foreign
Depends: openssl, ${misc:Depends}
Recommends: opensc
Description: Simple shell based CA utility
 This package eases the creation of certificates, for example for
 openvpn clients.
 .
 This was formerly part of the openvpn package.
