[Desktop Entry]
Encoding=UTF-8
Name=MX Samba Config
Name[am]=MX Samba Config
Name[ar]=MX Samba Config
Name[bg]=MX Samba Config
Name[bn]=MX Samba Config
Name[ca]=MX Samba Config
Name[cs]=MX Samba Config
Name[da]=MX Samba Config
Name[de]=MX Samba Config
Name[el]=MX Samba Config
Name[es]=MX Samba Config
Name[es_ES]=MX Samba Config
Name[et]=MX Samba Config
Name[eu]=MX Samba Config
Name[fa]=MX Samba Config
Name[fi]=MX Samba Config
Name[fil_PH]=MX Samba Config
Name[fr]=MX Samba Config
Name[fr_BE]=MX Samba Config
Name[he_IL]=MX Samba Config
Name[hi]=MX Samba Config
Name[hr]=MX Samba Config
Name[hu]=MX Samba Config
Name[id]=MX Samba Config
Name[is]=MX Samba Config
Name[it]=MX Samba Config
Name[ja]=MX Samba Config
Name[kk]=MX Samba Config
Name[ko]=MX Samba Config
Name[lt]=MX Samba Config
Name[mk]=MX Samba Config
Name[mr]=MX Samba Config
Name[nb]=MX Samba Config
Name[nl]=MX Samba Config
Name[pl]=MX Samba Config
Name[pt]=MX Samba Config
Name[pt_BR]=MX Samba Config
Name[ro]=MX Samba Config
Name[ru]=MX Samba Config
Name[sk]=MX Samba Config
Name[sl]=MX Samba Config
Name[sq]=MX Samba Config
Name[sr]=MX Samba Config
Name[sv]=MX Samba Config
Name[tr]=MX Samba Config
Name[uk]=MX Samba Config
Name[vi]=MX Samba Config
Name[zh_CN]=MX Samba Config
Name[zh_TW]=MX Samba Config
Comment=Manage user Samba shares
Comment[am]=
Comment[ar]=
Comment[bg]=
Comment[bn]=
Comment[ca]=
Comment[cs]=
Comment[da]=
Comment[de]=
Comment[el]=
Comment[es]=
Comment[es_ES]=
Comment[et]=
Comment[eu]=
Comment[fa]=
Comment[fi]=
Comment[fil_PH]=
Comment[fr]=
Comment[fr_BE]=
Comment[he_IL]=
Comment[hi]=
Comment[hr]=
Comment[hu]=
Comment[id]=
Comment[is]=
Comment[it]=
Comment[ja]=
Comment[kk]=
Comment[ko]=
Comment[lt]=
Comment[mk]=
Comment[mr]=
Comment[nb]=
Comment[nl]=
Comment[pl]=
Comment[pt]=
Comment[pt_BR]=
Comment[ro]=
Comment[ru]=
Comment[sk]=
Comment[sl]=
Comment[sq]=
Comment[sr]=
Comment[sv]=
Comment[tr]=
Comment[uk]=
Comment[vi]=
Comment[zh_CN]=
Comment[zh_TW]=
Exec=mx-samba-config
Terminal=false
Type=Application
Icon=mx-samba-config
Categories=System;MX-Maintenance;
NoDisplay=false
