[Desktop Entry]
Encoding=UTF-8
Name[ca]=MX Samba Config
Name[cs]=MX Samba konfigurace
Name[de]=MX Samba Konfiguration
Name[el]=MX Ρυθμίσεις Samba
Name[es]=MX Configuración de Samba
Name[es_ES]=MX Configuración de Samba
Name[fi]=MX Samba Config
Name[fr]=MX Samba configuration - MX Samba Config
Name[fr_BE]=MX Samba configuration - MX Samba Config
Name[gl_ES]=MX Configuración de Samba
Name[he_IL]=הגדרות סמבה MX
Name[hu]=MX Samba Beállítások
Name[ie]=Configuration de Samba de MX
Name[it]=MX Configurazione Samba
Name[ja]=MX Samba 設定
Name[nb]=MX-verktøy for oppsett av Samba
Name[nl]=MX Samba Configuratie
Name[nl_BE]=MX Samba-configuratie
Name[pl]=Konfiguracja MX Samba
Name[pt]=MX Configurar o Samba
Name[pt_BR]=Configurações do Servidor Samba do MX
Name[ru]=Настройка Samba в MX
Name[ru_RU]=Настройка Samba в MX
Name[sl]=MX Samba nastavitve
Name[sq]=Formësim MX i Samba-s
Name[sv]=MX Samba Config
Name[tr]=MX Samba Yapılandırması
Name[zh_CN]=MX Samba设置
Name=MX Samba Config
Comment[ca]=Gestiona les comparticions Samba d'usuari
Comment[cs]=Nastavení Samba sdílení
Comment[de]=Verwalte user Samba shares
Comment[el]=Διαχείρηση κοινών χρήσεων του χρήστη με το Samba
Comment[es]=Gestionar recursos compartidos de usuario de Samba
Comment[es_ES]=Gestiona los recursos compartidos Samba de los usuarios
Comment[fi]=Hallinnoi Samba jakoa ja käyttäjiä
Comment[fr]=Gérer les partages Samba de l’utilisateur
Comment[fr_BE]=Gérer les partages Samba de l’utilisateur
Comment[gl_ES]=Xestionar os cartafoles compartidos do usuario Samba
Comment[he_IL]=ניהול שיתופי סמבה למשתמשים
Comment[hu]=Felhasználói Samba megosztások kezelése
Comment[ie]=Gerer partites de usator de Samba
Comment[it]=Gestisci le condivisioni dell'utente Samba
Comment[ja]=ユーザの Samba 共有を管理します
Comment[nb]=Behandle delte Samba-ressurser
Comment[nl]=Gebruiker Samba shares beheren
Comment[nl_BE]=Beheer gebruikers Samba-shares
Comment[pl]=Zarządzaj udziałami użytkownika w Sambie
Comment[pt]=Gerir Pastas Partilhadas Samba
Comment[pt_BR]=Gerenciador de compartilhamentos de arquivos do usuário no servidor Samba
Comment[ru]=Управление пользовательскими ресурсами Samba
Comment[ru_RU]=Управление пользовательскими ресурсами Samba
Comment[sl]=Upravljanje Samba skupne rabe z uporabnikom
Comment[sq]=Administroni pjesë Samba përdoruesish
Comment[sv]=Hantera användares Samba delningar
Comment[tr]=Kullanıcı Samba paylaşımlarını yönetin
Comment=Manage user Samba shares
Exec=mx-samba-config
Terminal=false
Type=Application
Icon=mx-samba-config
Categories=System;MX-Maintenance;
NoDisplay=false
